In [1]:
%matplotlib inline

import geopandas as gpd

import pandas as pd
import os
import requests
import folium
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

In [2]:
import matplotlib.font_manager as fm

for font in fm.fontManager.ttflist:
    if font.name in ['AppleGothic', 'Malgun Gothic']:
        plt.rcParams['font.family'] = font.name
        break

plt.rcParams['font.family']

['Malgun Gothic']

In [336]:
#2018년 7월 승차일 기준 1~4일의 버스 카드태깅 정보를 담고있습니다.
#미터 / 분
TripChain = pd.read_csv('../Data/PJT001_TripChain.csv')

#17~18년 기준, 경기도 버스 정류장에 대한 정보를 담고있습니다.
# 성보님과 은솔님이 채워주신 데이터 바로 이용
StationTable = pd.read_csv('../Data/station_null.csv')

#2018년 7월 1~4일의 행정동별 이동 인구수 정보를 담고 있습니다.
AreaPeople = pd.read_csv('../Data/PJT001_sk_emd_od.csv')

#버스노선-정류장 매핑 테이블 정보 입니다.
RouteStationInfo = pd.read_csv('../Data/PJT001_routestationinfo.csv')

#
RouteStationMapping = pd.read_csv('../Data/PJT001_routestationmapping.csv')

In [337]:
TripChain.columns=['암호화카드번호', '트랜잭션ID', '환승횟수', '교통카드발행사ID',
       '총이용객수', '사용자구분', '교통수단CD1', '교통수단CD2',
       '교통수단CD3', '교통수단CD4', '교통수단CD5', '버스노선ID1',
       '버스노선ID2', '버스노선ID3', '버스노선ID4', '버스노선ID5',
       '차량ID1', '차량ID2', '차량ID3', '차량ID4',
       '차량ID5', '총통행거리', '총탑승시간', '총소요시간',
       '승차일시1', '승차일시2', '승차일시3', '승차일시4',
       '승차일시5', '하차일시1', '하차일시2', '하차일시3',
       '하차일시4', '하차일시5', '최초승차일시', '최종하차일시',
       '승차역ID1', '승차역ID2', '승차역ID3', '승차역ID4',
       '승차역ID5', '하차역ID1', '하차역ID2', '하차역ID3',
       '하차역ID4', '하차역ID5', '최초승차역ID', '최종하차역ID',
       '총이용금액', '수집건수', '트립체인완료코드']

## 다회환승자 (3회이상) 분석

In [6]:
Over3Transfer = pd.read_csv('Over3Transfer.csv')

In [7]:
Over3Transfer.head()

,Unnamed: 0,암호화카드번호,버스노선ID1,버스노선ID2,버스노선ID3,버스노선ID4,버스노선ID5,총통행거리,총탑승시간,총소요시간,...,하차역ID4,하차역ID5,최초승차일시,최종하차일시,최초승차역ID,최종하차역ID,총이용금액,수집건수,총이용객수,사용자구분
0,4,900508818160,7,202,5-1,NaN,NaN,10930,24,24,...,NaN,NaN,20180701204621,20180701213623,4108196.0,4199077.0,1350,3,1,1
1,5,900351733805,13-5,400-4,22,NaN,NaN,16150,49,49,...,NaN,NaN,20180701145032,20180701161318,4108106.0,4102942.0,1450,3,1,1
2,6,900351733805,11,13-5,13-4,NaN,NaN,11350,24,24,...,NaN,NaN,20180701212521,20180701221059,4105311.0,4117053.0,1350,3,1,1
3,8,900028085150,62-1,88-1,11-1,NaN,NaN,7140,26,26,...,NaN,NaN,20180701182945,20180701191500,4116853.0,4170093.0,870,3,1,4
4,9,900028088225,720-2,32,30-1,NaN,NaN,13690,46,46,...,NaN,NaN,20180701141014,20180701150226,4170102.0,4130061.0,1350,3,1,1

```
1일반 23678
2어린이 30
4청소년 1037
8경로 0명
```

In [9]:
Over3Transfer.shape

(24745, 28)

### Q1. 어떤 버스를 많이 타는지 알아보자

In [14]:
arr1 = Over3Transfer['버스노선ID1'].unique()
arr2 = Over3Transfer['버스노선ID2'].unique()
arr3 = Over3Transfer['버스노선ID3'].unique()
arr4 = Over3Transfer['버스노선ID4'].unique()
arr5 = Over3Transfer['버스노선ID5'].unique()

In [15]:
bus_num = list(set().union(arr1,arr2,arr3,arr4,arr5))

In [24]:
busline_hash = {}
for num in bus_num:
    busline_hash[num] = 0

In [26]:
del busline_hash[np.nan]

In [47]:
tmp1 = Over3Transfer['버스노선ID1']
tmp2 = Over3Transfer['버스노선ID2']
tmp3 = Over3Transfer['버스노선ID3']
tmp4 = Over3Transfer['버스노선ID4']
tmp5 = Over3Transfer['버스노선ID5']

tm = np.concatenate([tmp1, tmp2])
tm = np.concatenate([tm, tmp3])
tm = np.concatenate([tm, tmp4])
tm = np.concatenate([tm, tmp5])

for t_num in tm:
    if t_num is np.nan:
        continue
    busline_hash[t_num] += 1

In [48]:
busline_hash

{'6002': 21,
 '92-1': 1889,
 '4000': 47,
 '1-2': 161,
 '5-2': 221,
 '1570': 4,
 '138-5': 1,
 '9302': 10,
 '11-2': 42,
 '501B': 1,
 '9300': 8,
 '200': 11,
 '17-1A': 8,
 'M4102': 9,
 '30-3': 6,
 '54': 27,
 '98': 1620,
 '1005-1': 5,
 '111': 173,
 '22': 474,
 '77': 98,
 '5': 1455,
 '4-1': 454,
 '810': 1,
 '88-1': 351,
 '8906': 1,
 '4403': 5,
 '330': 109,
 '1330-44': 1,
 '59-1': 3,
 '5604': 2,
 '63': 246,
 '1500-2': 37,
 '31-2': 4,
 '240': 36,
 '2-2': 349,
 '23-1': 1,
 '17': 127,
 '82': 1,
 '5500-1': 11,
 '3600': 3,
 '16-2': 34,
 '720-1': 1943,
 '3007': 46,
 '71-2': 2,
 '9007': 4,
 '165': 16,
 '76-9': 1,
 'M5121': 20,
 '81': 585,
 '37-1': 3,
 '92': 1329,
 '24': 37,
 '1008': 22,
 '400-4': 284,
 '909': 992,
 '7007': 5,
 '3003': 59,
 '310': 1119,
 '733': 2,
 '66-4': 587,
 '101': 182,
 '75': 9,
 '5-1': 211,
 '24-1': 16,
 '21': 42,
 '6-3': 9,
 '79': 15,
 '340': 48,
 '31-7': 21,
 '16-1': 32,
 '5006': 19,
 '50-5': 26,
 '3101': 4,
 '82-2': 184,
 'M5107': 84,
 '510': 1,
 '1200': 14,
 '34-1': 597,
 '72': 29,
 '8601A': 1,
 '88': 1025,
 '8101': 3,
 '2000A': 4,
 '15-2': 27,
 '11-3': 48,
 '511': 69,
 '8106': 47,
 '7790': 28,
 '38-1': 102,
 '9-2': 365,
 '38-22': 1,
 '15-1': 493,
 '57-1': 1,
 '100': 6,
 '59': 2,
 '62-1': 2884,
 '60-1': 60,
 '96': 3,
 '99-2': 599,
 '94': 38,
 '88B': 4,
 '8501': 15,
 '1002': 9,
 '2': 194,
 '1650': 57,
 '1303': 16,
 '400-2': 205,
 '80': 759,
 '4': 6,
 '1151': 14,
 '90-1': 7,
 '301': 2131,
 '9-3': 43,
 '63-1': 21,
 '3200': 1,
 '8-2': 56,
 '708': 369,
 '331': 21,
 '1550-1': 67,
 '13-5': 1073,
 '6001': 10,
 '702': 50,
 '990': 107,
 '1': 65,
 '5100': 84,
 '13-2': 4,
 '300-1': 116,
 '8002': 6,
 '27-1': 29,
 '7001': 76,
 'M5422': 26,
 '2000B': 8,
 '114': 1,
 '1560': 23,
 '8155': 164,
 '50-6': 8,
 'M2316': 1,
 '5601': 2,
 '30-1': 698,
 '1-5': 23,
 'M5333': 5,
 '670': 59,
 '7-3': 1,
 '27': 458,
 '7900': 22,
 'M7119': 2,
 '3500': 33,
 '35-33': 2,
 '9700': 11,
 '31': 19,
 '51': 549,
 '56-1': 1,
 '830': 1,
 '10': 666,
 '55': 362,
 '3001': 9,
 '10-5': 288,
 '2-1': 1277,
 '25-2': 62,
 '1241': 11,
 'M6410': 1,
 '3030': 4,
 '777': 758,
 '18': 77,
 '300': 1058,
 '99-1': 123,
 '88A': 2,
 '9710': 6,
 '7002': 16,
 '52': 291,
 '20-1': 317,
 '42': 271,
 '330-1': 2,
 '28-10': 1,
 '820': 81,
 '1150': 5,
 '5600': 13,
 '3-1': 155,
 'G5100': 12,
 '31-3': 23,
 '6-1': 2,
 '30-2': 76,
 '16': 53,
 '38-85': 1,
 '500-5': 14,
 '1115-6': 3,
 '166-1': 5,
 '8401': 8,
 '1004': 99,
 'G8110': 6,
 '150': 114,
 '87': 115,
 '5002': 3,
 '3330': 137,
 '57': 157,
 '29': 1,
 '9000': 9,
 '1-20': 2,
 '62': 192,
 '721': 187,
 '70': 17,
 '709-1': 11,
 '6': 39,
 '52-1': 18,
 '118': 1,
 '12-3': 1,
 '720-3': 534,
 '3300': 2,
 '8': 730,
 'M4434': 7,
 '50-2': 33,
 '9600': 4,
 '9303': 7,
 '83': 3,
 '5-4': 26,
 '9': 666,
 '5001-1': 22,
 '700-2': 1507,
 '39': 1,
 '712': 154,
 '13-4': 884,
 '78': 9,
 '390': 51,
 '50-1': 3,
 '8109': 23,
 '35-1': 2,
 '20': 1083,
 '95': 25,
 '11': 878,
 '85': 73,
 '23': 73,
 '9414': 1,
 '6-2': 1,
 '25-5': 25,
 '13': 1184,
 '9607': 2,
 '7007-1': 14,
 '71': 72,
 '116': 18,
 '727': 1,
 '25-1': 53,
 '900': 1451,
 '123': 10,
 '23-2': 2,
 '1000': 31,
 '61': 508,
 'M4108': 57,
 '690': 24,
 '9-1': 409,
 '340-1': 57,
 '97': 2,
 '12-1': 1,
 '11-4': 2,
 '7800': 70,
 '8-1': 56,
 '5005': 9,
 '357': 3,
 '720-1A': 77,
 '314': 10,
 '93': 5,
 '400': 461,
 '38-2': 87,
 '138': 3,
 '11-1': 669,
 '500-1': 15,
 '1100': 4,
 '116-2': 198,
 '22-1': 15,
 '38': 513,
 '1-1': 105,
 '660': 128,
 '125': 101,
 '1117': 19,
 '3002': 24,
 '6003': 56,
 '5700': 2,
 'M4403': 90,
 'M6427': 1,
 '56': 1,
 '50-3': 6,
 '25': 864,
 '26': 38,
 '73-1': 92,
 '90-2': 3,
 '720-2': 2625,
 '3000': 106,
 '89': 1,
 '701': 246,
 '1550': 6,
 '350': 87,
 '1082': 3,
 '8409': 171,
 '36-7': 1,
 '13-1': 1894,
 '7-5': 12,
 '7': 298,
 '1670': 5,
 '5602': 7,
 'M5115': 2,
 '1330-2': 1,
 '8507': 7,
 '91': 6,
 '64': 804,
 '55-1': 9,
 '1001': 43,
 '1007': 88,
 '37-3': 1,
 '5003': 5,
 '82-1': 963,
 '5300': 15,
 '32-4': 83,
 '76': 8,
 '123B': 11,
 '1009': 50,
 '112': 1178,
 '1113-1': 2,
 '3400': 2,
 '310-1': 1,
 '116-1': 377,
 '103': 19,
 '917': 21,
 '500-2': 12,
 '2000': 17,
 '501A': 2,
 '999': 242,
 '35': 1069,
 '102': 18,
 '320': 7,
 '6900': 10,
 '90': 2,
 '84': 1,
 '388': 19,
 '720': 86,
 '112-5': 2,
 '8201': 1,
 '60-3': 1,
 '8156': 26,
 '68': 13,
 '400-5': 24,
 '46': 419,
 '22-2': 4,
 '1004-1': 8,
 '8100': 2,
 '32-1': 31,
 '73': 192,
 '19': 208,
 '60': 395,
 '45': 30,
 '522': 7,
 '11-5': 90,
 '15': 256,
 '2007': 389,
 '32-5': 35,
 '707': 555,
 '30-7': 23,
 '1007-1': 22,
 '66': 713,
 'M4101': 11,
 '5007': 16,
 'M4130': 8,
 '3': 1768,
 '112-1': 2,
 '370': 4,
 '220': 254,
 '2-21': 1,
 '65': 1424,
 '37': 812,
 '99': 959,
 '32-2': 19,
 '1500': 1,
 '201': 46,
 '50-4': 3,
 '30': 750,
 '7-2': 512,
 '7780': 47,
 '7-1': 1174,
 '521': 12,
 '33-5': 1,
 '74': 3,
 '1700': 5,
 '250': 162,
 '333': 55,
 '5609': 2,
 '1311': 16,
 '119': 28,
 '520': 46,
 '1112': 136,
 '33-1': 198,
 '24-2': 11,
 '34': 591,
 '50': 105,
 '32': 96,
 '1-4': 1,
 '1551': 10,
 '10-1': 5,
 '167': 1,
 '110': 328,
 '500-1A': 1,
 '30-5': 7,
 '203': 76,
 '83-1': 767,
 'M2323': 3,
 '33': 181,
 '8012': 11,
 '380': 28,
 '9407': 3,
 '10-4': 10,
 '36': 20,
 '70-3': 3,
 '8407': 10,
 '5500-2': 8,
 '123A': 3,
 '65-1': 1,
 '1900': 5,
 '17-1': 13,
 '5001': 6,
 '32-3': 248,
 '10-2': 275,
 '710': 40,
 'M7111': 12,
 '12': 28,
 '7000': 84,
 '1680': 1,
 '58': 1,
 '5000': 7,
 '72-1': 5,
 '1551B': 10,
 'M7412': 10,
 '116-3': 311,
 '9003': 1,
 '3102': 24,
 '33-7': 1,
 '202': 999,
 '1005': 4,
 'M7106': 13,
 '33-2': 6,
 '7770': 155,
 'M7129': 2,
 '3-2': 20,
 '8800': 30,
 '3100': 38,
 '1251': 6,
 '35-2': 6,
 '6501': 1}

In [70]:
len(busline_hash)

445

In [142]:
import operator
sorted_busline = sorted(busline_hash.items(), key=operator.itemgetter(1), reverse=True)
sorted_busline

[('62-1', 2884),
 ('720-2', 2625),
 ('301', 2131),
 ('720-1', 1943),
 ('13-1', 1894),
 ('92-1', 1889),
 ('3', 1768),
 ('98', 1620),
 ('700-2', 1507),
 ('5', 1455),
 ('900', 1451),
 ('65', 1424),
 ('92', 1329),
 ('2-1', 1277),
 ('13', 1184),
 ('112', 1178),
 ('7-1', 1174),
 ('310', 1119),
 ('20', 1083),
 ('13-5', 1073),
 ('35', 1069),
 ('300', 1058),
 ('88', 1025),
 ('202', 999),
 ('909', 992),
 ('82-1', 963),
 ('99', 959),
 ('13-4', 884),
 ('11', 878),
 ('25', 864),
 ('37', 812),
 ('64', 804),
 ('83-1', 767),
 ('80', 759),
 ('777', 758),
 ('30', 750),
 ('8', 730),
 ('66', 713),
 ('30-1', 698),
 ('11-1', 669),
 ('10', 666),
 ('9', 666),
 ('99-2', 599),
 ('34-1', 597),
 ('34', 591),
 ('66-4', 587),
 ('81', 585),
 ('707', 555),
 ('51', 549),
 ('720-3', 534),
 ('38', 513),
 ('7-2', 512),
 ('61', 508),
 ('15-1', 493),
 ('22', 474),
 ('400', 461),
 ('27', 458),
 ('4-1', 454),
 ('46', 419),
 ('9-1', 409),
 ('60', 395),
 ('2007', 389),
 ('116-1', 377),
 ('708', 369),
 ('9-2', 365),
 ('55', 362),
 ('88-1', 351),
 ('2-2', 349),
 ('110', 328),
 ('20-1', 317),
 ('116-3', 311),
 ('7', 298),
 ('52', 291),
 ('10-5', 288),
 ('400-4', 284),
 ('10-2', 275),
 ('42', 271),
 ('15', 256),
 ('220', 254),
 ('32-3', 248),
 ('63', 246),
 ('701', 246),
 ('999', 242),
 ('5-2', 221),
 ('5-1', 211),
 ('19', 208),
 ('400-2', 205),
 ('116-2', 198),
 ('33-1', 198),
 ('2', 194),
 ('62', 192),
 ('73', 192),
 ('721', 187),
 ('82-2', 184),
 ('101', 182),
 ('33', 181),
 ('111', 173),
 ('8409', 171),
 ('8155', 164),
 ('250', 162),
 ('1-2', 161),
 ('57', 157),
 ('3-1', 155),
 ('7770', 155),
 ('712', 154),
 ('3330', 137),
 ('1112', 136),
 ('660', 128),
 ('17', 127),
 ('99-1', 123),
 ('300-1', 116),
 ('87', 115),
 ('150', 114),
 ('330', 109),
 ('990', 107),
 ('3000', 106),
 ('1-1', 105),
 ('50', 105),
 ('38-1', 102),
 ('125', 101),
 ('1004', 99),
 ('77', 98),
 ('32', 96),
 ('73-1', 92),
 ('M4403', 90),
 ('11-5', 90),
 ('1007', 88),
 ('38-2', 87),
 ('350', 87),
 ('720', 86),
 ('M5107', 84),
 ('5100', 84),
 ('7000', 84),
 ('32-4', 83),
 ('820', 81),
 ('18', 77),
 ('720-1A', 77),
 ('7001', 76),
 ('30-2', 76),
 ('203', 76),
 ('85', 73),
 ('23', 73),
 ('71', 72),
 ('7800', 70),
 ('511', 69),
 ('1550-1', 67),
 ('1', 65),
 ('25-2', 62),
 ('60-1', 60),
 ('3003', 59),
 ('670', 59),
 ('1650', 57),
 ('M4108', 57),
 ('340-1', 57),
 ('8-2', 56),
 ('8-1', 56),
 ('6003', 56),
 ('333', 55),
 ('16', 53),
 ('25-1', 53),
 ('390', 51),
 ('702', 50),
 ('1009', 50),
 ('340', 48),
 ('11-3', 48),
 ('4000', 47),
 ('8106', 47),
 ('7780', 47),
 ('3007', 46),
 ('201', 46),
 ('520', 46),
 ('9-3', 43),
 ('1001', 43),
 ('11-2', 42),
 ('21', 42),
 ('710', 40),
 ('6', 39),
 ('94', 38),
 ('26', 38),
 ('3100', 38),
 ('1500-2', 37),
 ('24', 37),
 ('240', 36),
 ('32-5', 35),
 ('16-2', 34),
 ('3500', 33),
 ('50-2', 33),
 ('16-1', 32),
 ('1000', 31),
 ('32-1', 31),
 ('45', 30),
 ('8800', 30),
 ('72', 29),
 ('27-1', 29),
 ('7790', 28),
 ('119', 28),
 ('380', 28),
 ('12', 28),
 ('54', 27),
 ('15-2', 27),
 ('50-5', 26),
 ('M5422', 26),
 ('5-4', 26),
 ('8156', 26),
 ('95', 25),
 ('25-5', 25),
 ('690', 24),
 ('3002', 24),
 ('400-5', 24),
 ('3102', 24),
 ('1560', 23),
 ('1-5', 23),
 ('31-3', 23),
 ('8109', 23),
 ('30-7', 23),
 ('1008', 22),
 ('7900', 22),
 ('5001-1', 22),
 ('1007-1', 22),
 ('6002', 21),
 ('31-7', 21),
 ('63-1', 21),
 ('331', 21),
 ('917', 21),
 ('M5121', 20),
 ('36', 20),
 ('3-2', 20),
 ('5006', 19),
 ('31', 19),
 ('1117', 19),
 ('103', 19),
 ('388', 19),
 ('32-2', 19),
 ('52-1', 18),
 ('116', 18),
 ('102', 18),
 ('70', 17),
 ('2000', 17),
 ('165', 16),
 ('24-1', 16),
 ('1303', 16),
 ('7002', 16),
 ('5007', 16),
 ('1311', 16),
 ('79', 15),
 ('8501', 15),
 ('500-1', 15),
 ('22-1', 15),
 ('5300', 15),
 ('1200', 14),
 ('1151', 14),
 ('500-5', 14),
 ('7007-1', 14),
 ('5600', 13),
 ('68', 13),
 ('17-1', 13),
 ('M7106', 13),
 ('G5100', 12),
 ('7-5', 12),
 ('500-2', 12),
 ('521', 12),
 ('M7111', 12),
 ('200', 11),
 ('5500-1', 11),
 ('9700', 11),
 ('1241', 11),
 ('709-1', 11),
 ('123B', 11),
 ('M4101', 11),
 ('24-2', 11),
 ('8012', 11),
 ('9302', 10),
 ('6001', 10),
 ('123', 10),
 ('314', 10),
 ('6900', 10),
 ('1551', 10),
 ('10-4', 10),
 ('8407', 10),
 ('1551B', 10),
 ('M7412', 10),
 ('M4102', 9),
 ('75', 9),
 ('6-3', 9),
 ('1002', 9),
 ('3001', 9),
 ('9000', 9),
 ('78', 9),
 ('5005', 9),
 ('55-1', 9),
 ('9300', 8),
 ('17-1A', 8),
 ('2000B', 8),
 ('50-6', 8),
 ('8401', 8),
 ('76', 8),
 ('1004-1', 8),
 ('M4130', 8),
 ('5500-2', 8),
 ('90-1', 7),
 ('M4434', 7),
 ('9303', 7),
 ('5602', 7),
 ('8507', 7),
 ('320', 7),
 ('522', 7),
 ('30-5', 7),
 ('5000', 7),
 ('30-3', 6),
 ('100', 6),
 ('4', 6),
 ('8002', 6),
 ('9710', 6),
 ('G8110', 6),
 ('50-3', 6),
 ('1550', 6),
 ('91', 6),
 ('5001', 6),
 ('33-2', 6),
 ('1251', 6),
 ('35-2', 6),
 ('1005-1', 5),
 ('4403', 5),
 ('7007', 5),
 ('M5333', 5),
 ('1150', 5),
 ('166-1', 5),
 ('93', 5),
 ('1670', 5),
 ('5003', 5),
 ('1700', 5),
 ('10-1', 5),
 ('1900', 5),
 ('72-1', 5),
 ('1570', 4),
 ('31-2', 4),
 ('9007', 4),
 ('3101', 4),
 ('2000A', 4),
 ('88B', 4),
 ('13-2', 4),
 ('3030', 4),
 ('9600', 4),
 ('1100', 4),
 ('22-2', 4),
 ('370', 4),
 ('1005', 4),
 ('59-1', 3),
 ('3600', 3),
 ('37-1', 3),
 ('8101', 3),
 ('96', 3),
 ('1115-6', 3),
 ('5002', 3),
 ('83', 3),
 ('50-1', 3),
 ('357', 3),
 ('138', 3),
 ('90-2', 3),
 ('1082', 3),
 ('50-4', 3),
 ('74', 3),
 ('M2323', 3),
 ('9407', 3),
 ('70-3', 3),
 ('123A', 3),
 ('5604', 2),
 ('71-2', 2),
 ('733', 2),
 ('59', 2),
 ('5601', 2),
 ('M7119', 2),
 ('35-33', 2),
 ('88A', 2),
 ('330-1', 2),
 ('6-1', 2),
 ('1-20', 2),
 ('3300', 2),
 ('35-1', 2),
 ('9607', 2),
 ('23-2', 2),
 ('97', 2),
 ('11-4', 2),
 ('5700', 2),
 ('M5115', 2),
 ('1113-1', 2),
 ('3400', 2),
 ('501A', 2),
 ('90', 2),
 ('112-5', 2),
 ('8100', 2),
 ('112-1', 2),
 ('5609', 2),
 ('M7129', 2),
 ('138-5', 1),
 ('501B', 1),
 ('810', 1),
 ('8906', 1),
 ('1330-44', 1),
 ('23-1', 1),
 ('82', 1),
 ('76-9', 1),
 ('510', 1),
 ('8601A', 1),
 ('38-22', 1),
 ('57-1', 1),
 ('3200', 1),
 ('114', 1),
 ('M2316', 1),
 ('7-3', 1),
 ('56-1', 1),
 ('830', 1),
 ('M6410', 1),
 ('28-10', 1),
 ('38-85', 1),
 ('29', 1),
 ('118', 1),
 ('12-3', 1),
 ('39', 1),
 ('9414', 1),
 ('6-2', 1),
 ('727', 1),
 ('12-1', 1),
 ('M6427', 1),
 ('56', 1),
 ('89', 1),
 ('36-7', 1),
 ('1330-2', 1),
 ('37-3', 1),
 ('310-1', 1),
 ('84', 1),
 ('8201', 1),
 ('60-3', 1),
 ('2-21', 1),
 ('1500', 1),
 ('33-5', 1),
 ('1-4', 1),
 ('167', 1),
 ('500-1A', 1),
 ('65-1', 1),
 ('1680', 1),
 ('58', 1),
 ('9003', 1),
 ('33-7', 1),
 ('6501', 1)]

In [232]:
RouteStationInfo_latlon = pd.read_csv('RouteStationInfo_latlon.csv')

In [125]:
busline = RouteStationInfo_latlon['bus_line_no'].unique()

In [126]:
busline

array(['24', '1004', '330', '33-1', '2', '4', '5-2', '5-4', '15', '14',
       '9', '19', '3-1', '3', '2-4', '2-3', '16', '2-2', '18', '4-1', '6',
       '11', '6-2', '17', '6-3', '8', '8-3', '1', '8-2', '1-1', '2-1',
       '7-1', '8-1', '7', '11-5', '11-2', '11-4', '10', '1004-1', '340',
       '1000', '20', '21', '330-1', '23', '38', '25', '26', '27', '340-1',
       '1008', '33-2', '712', '73-1', '6001', '116-3', '1001', '8501',
       '6002', '8155', '1002', '201', '6002-1', '202', '710', '150',
       '203', '8156', '2000A', '2000B', '4403', '6003', '28', '200',
       '8156(급행)', '4108', '9802', '8472', '8471', '39', 'H6005', '116-5',
       'H6007', 'H6006', '205', '720-3', '6004', '721', '116-2', '9-1',
       '31-3', '3-2', '50', '76', '77', '78', '79', '80', '81', '333',
       '709', '709-1', 'H4', 'H5', 'H6(A)', 'H6(B)', '19-1', '19-2', '29',
       '19-3', 'H1', 'H3', 'H2', '20(마산포)', '20(어도동내)', '20(어도펜션)',
       '공영1(사곳.궁평)', '공영1(매화.궁평)', '공영1(궁평.사곳)', '공영1(지화2리)',
       '공영2(삼존대광A)', '공영2(송정대광A)', '공영2(금당2리)', '공영2(지화2리)', '공영3(장문지화1)',
       '공영3(청원.삼존)', '공영4(도말.고포)', '공영3(삼존.청원)', '공영3(금당2리)',
       '공영4(삼존2.3리)', '공영4(마산.고포)', '공영4(형도.고포)', '공영4(솔미.구렛)',
       '20-2(용포화석지)', '20-2(천등.고정)', '20-2(용포고정천)', '20-2(용포.고정)',
       '20-2(천등화석지)', '20-1(백곡리)', '20-1(홍법리)', '20-1(독지리)',
       '20-3(왕모대시청)', '20-3(당성왕모대)', '20-3(쌍쏭.대광A)', '20-4A', '20-1(고모리)',
       '공영3(솔미.구렛)', '공영3(지화2리)', '공영4(돌내.형도)', '공영4(돌내독지1)',
       '공영4(돌내독지2)', '20-4B', '11-3', '12', '13', '27-1', '27-2', '17-1',
       '50-2', '50-5', '50-2(금강)', '5-1A', '50-1', '50-3(안석)', '50-4',
       '50-6(대광1차)', '50-7', '50-8(신외)', '50-4(대광1차)', '5-1B', '22-2',
       '50-3(살곶)', '50-6(대광2차)', '50-8(송산)', '22', '22-3(장전)',
       '22-3(신경대)', 'H8', '10-6', '10-7', '10-2', '10-1', '10-3', '10-4',
       '10-5', '36-2', '36-3', '36-1', '36', '39-1', '39-2', '37', '13-3',
       '13-2', '13-1', '13-4', '36A', '36-2A', '39A', '12-1', '13-4A',
       '11-1', '13-7', '10-8', '13-5', '13-6', 'H7', '31', '6-1', '31-1',
       '31-2', '35-1', '66A', '35-2', '66', '35', '100', '38-1'],
      dtype=object)

#### 화성시 내에서만 다니는 버스들에 대해서만 걸러내기

In [67]:
# busline과 sorted_busline 인 데이터만 찾기
in_busline_num = []

for elem in range(len(sorted_busline)):
    if sorted_busline[elem][0] in busline:
        in_busline_num.append(sorted_busline[elem])

In [69]:
len(in_busline_num)

117

In [71]:
in_busline_num

[('13-1', 1894),
 ('3', 1768),
 ('2-1', 1277),
 ('13', 1184),
 ('7-1', 1174),
 ('20', 1083),
 ('13-5', 1073),
 ('35', 1069),
 ('202', 999),
 ('13-4', 884),
 ('11', 878),
 ('25', 864),
 ('37', 812),
 ('80', 759),
 ('8', 730),
 ('66', 713),
 ('11-1', 669),
 ('10', 666),
 ('9', 666),
 ('81', 585),
 ('720-3', 534),
 ('38', 513),
 ('22', 474),
 ('27', 458),
 ('4-1', 454),
 ('9-1', 409),
 ('2-2', 349),
 ('116-3', 311),
 ('7', 298),
 ('10-5', 288),
 ('10-2', 275),
 ('15', 256),
 ('5-2', 221),
 ('19', 208),
 ('116-2', 198),
 ('33-1', 198),
 ('2', 194),
 ('721', 187),
 ('8155', 164),
 ('3-1', 155),
 ('712', 154),
 ('17', 127),
 ('150', 114),
 ('330', 109),
 ('1-1', 105),
 ('50', 105),
 ('38-1', 102),
 ('1004', 99),
 ('77', 98),
 ('73-1', 92),
 ('11-5', 90),
 ('18', 77),
 ('203', 76),
 ('23', 73),
 ('1', 65),
 ('340-1', 57),
 ('8-2', 56),
 ('8-1', 56),
 ('6003', 56),
 ('333', 55),
 ('16', 53),
 ('340', 48),
 ('11-3', 48),
 ('201', 46),
 ('1001', 43),
 ('11-2', 42),
 ('21', 42),
 ('710', 40),
 ('6', 39),
 ('26', 38),
 ('24', 37),
 ('50-2', 33),
 ('1000', 31),
 ('27-1', 29),
 ('12', 28),
 ('50-5', 26),
 ('5-4', 26),
 ('8156', 26),
 ('31-3', 23),
 ('1008', 22),
 ('6002', 21),
 ('36', 20),
 ('3-2', 20),
 ('31', 19),
 ('79', 15),
 ('8501', 15),
 ('17-1', 13),
 ('200', 11),
 ('709-1', 11),
 ('6001', 10),
 ('10-4', 10),
 ('6-3', 9),
 ('1002', 9),
 ('78', 9),
 ('2000B', 8),
 ('76', 8),
 ('1004-1', 8),
 ('100', 6),
 ('4', 6),
 ('33-2', 6),
 ('35-2', 6),
 ('4403', 5),
 ('10-1', 5),
 ('31-2', 4),
 ('2000A', 4),
 ('13-2', 4),
 ('22-2', 4),
 ('50-1', 3),
 ('50-4', 3),
 ('330-1', 2),
 ('6-1', 2),
 ('35-1', 2),
 ('11-4', 2),
 ('29', 1),
 ('39', 1),
 ('6-2', 1),
 ('12-1', 1)]

In [505]:
All_busline = []
bus_num_ = 0

for j in range(len(in_busline_num)):
    tmp_busline = RouteStationInfo_latlon[RouteStationInfo_latlon['bus_line_no'] == in_busline_num[j][0]]
    tmp_buslineArr = []
    for i in range(len(tmp_busline)):
        tmp = tmp_busline.iloc[i]
        tmp_buslineArr.append((tmp['WGS84위도'], tmp['WGS84경도']))
    All_busline.append(tmp_buslineArr)
    bus_num_ += 1

In [506]:
# 117개의 버스노선이 들어가있다
bus_num_

117

In [554]:
Busline = folium.Map(location = [37.234300,127.213333])

# 왜 앙대닝 흐엉
# for i in range(10):
#     if(len(All_busline[i]) == 0):
#         continue
#     folium.PolyLine(All_busline[i], color="red", weight=2.5, opacity=1).add_to(Busline)



# folium.PolyLine(All_busline[0], color="red", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[1], color="red", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[2], color="red", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[3], color="red", weight=2.5, opacity=1).add_to(Busline)
folium.PolyLine(All_busline[4], color="red", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[5], color="red", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[6], color="red", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[7], color="red", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[8], color="red", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[9], color="red", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[10], color="red", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[14], color="blue", weight=2.5, opacity=1).add_to(Busline)

Busline

### 버스 번호가 겹쳐서 망했다! 하하하하하하

In [95]:
bus_dup = []
for a in range(len(in_busline_num)):
    id_ = RouteStationInfo_latlon[RouteStationInfo_latlon['bus_line_no']== in_busline_num[a][0]]['pr_station_id'].nunique()
    bus_dup.append((in_busline_num[a][0], id_))
    
bus_dup

[('13-1', 1),
 ('3', 1),
 ('2-1', 1),
 ('13', 1),
 ('7-1', 2),
 ('20', 1),
 ('13-5', 1),
 ('35', 1),
 ('202', 1),
 ('13-4', 1),
 ('11', 1),
 ('25', 1),
 ('37', 1),
 ('80', 1),
 ('8', 1),
 ('66', 1),
 ('11-1', 1),
 ('10', 2),
 ('9', 2),
 ('81', 1),
 ('720-3', 1),
 ('38', 2),
 ('22', 1),
 ('27', 2),
 ('4-1', 1),
 ('9-1', 2),
 ('2-2', 1),
 ('116-3', 1),
 ('7', 2),
 ('10-5', 1),
 ('10-2', 1),
 ('15', 1),
 ('5-2', 2),
 ('19', 2),
 ('116-2', 1),
 ('33-1', 1),
 ('2', 1),
 ('721', 1),
 ('8155', 1),
 ('3-1', 1),
 ('712', 1),
 ('17', 2),
 ('150', 1),
 ('330', 1),
 ('1-1', 1),
 ('50', 1),
 ('38-1', 1),
 ('1004', 1),
 ('77', 1),
 ('73-1', 1),
 ('11-5', 1),
 ('18', 1),
 ('203', 1),
 ('23', 1),
 ('1', 1),
 ('340-1', 1),
 ('8-2', 1),
 ('8-1', 1),
 ('6003', 1),
 ('333', 1),
 ('16', 1),
 ('340', 1),
 ('11-3', 1),
 ('201', 1),
 ('1001', 1),
 ('11-2', 2),
 ('21', 2),
 ('710', 1),
 ('6', 1),
 ('26', 1),
 ('24', 2),
 ('50-2', 1),
 ('1000', 1),
 ('27-1', 1),
 ('12', 2),
 ('50-5', 1),
 ('5-4', 1),
 ('8156', 1),
 ('31-3', 1),
 ('1008', 1),
 ('6002', 1),
 ('36', 1),
 ('3-2', 1),
 ('31', 1),
 ('79', 1),
 ('8501', 1),
 ('17-1', 1),
 ('200', 1),
 ('709-1', 1),
 ('6001', 1),
 ('10-4', 1),
 ('6-3', 2),
 ('1002', 1),
 ('78', 1),
 ('2000B', 1),
 ('76', 1),
 ('1004-1', 1),
 ('100', 1),
 ('4', 1),
 ('33-2', 1),
 ('35-2', 1),
 ('4403', 1),
 ('10-1', 1),
 ('31-2', 1),
 ('2000A', 1),
 ('13-2', 1),
 ('22-2', 1),
 ('50-1', 1),
 ('50-4', 1),
 ('330-1', 1),
 ('6-1', 1),
 ('35-1', 1),
 ('11-4', 1),
 ('29', 1),
 ('39', 3),
 ('6-2', 1),
 ('12-1', 1)]

RouteStationMapping과 TripChain을 merge 하여 얻은 것이 Over3Transfer 파일이다.<br>
따라서 RouteStationInfo_latlon를 이용해 노선을 확인할 때 RouteStationMapping과 매치되는 하나의 노선만 확인하면 된다

#### 9-1 노선이 확인이 안된다 ㅜ
RouteStationInfo 의 pr_station_id와 Mapping Table에서 매칭되는 이비노선 ID가 없음<br>
둘 중 한 곳의 누락인가?!

In [286]:
RouteStationMapping[RouteStationMapping['노선명']=='6-3']

        구분  운수사명    운수사ID     이비노선ID    표준노선ID  노선명
885   경기시내  경진여객  4100800  233000045  41008128  6-3
927   경기시내  금강고속  4100900  240000019  41009145  6-3
1332  경기시내  삼영운수  4102100  208000038  41021037  6-3

In [287]:
RouteStationInfo_latlon[RouteStationInfo_latlon['bus_line_no']=='6-3']['pr_station_id'].unique()

array([233000045, 241205001], dtype=int64)

### 중복된 노선 따로 파악하기 - 환승횟수 100 이상의 중복노선만 확인함
```
RouteStation에서 쓸 pr_station_id

7-1 : 233000056
10 : 233000064
9: 233000025
38 : 233000086
27: 233000096
7 : 233000058	
5-2 : 233000019
19: 233000026
17: 233000044
```

In [134]:
busline_dup = {'7-1':233000056, 
               '10' : 233000064,
               '9': 233000025,
               '38' : 233000086,
               '27': 233000096,
               '7' : 233000058,   
               '5-2' : 233000019,
               '19': 233000026,
               '17': 233000044}
busline_dup.keys()

dict_keys(['7-1', '10', '9', '38', '27', '7', '5-2', '19', '17'])

In [135]:
All_busline = []
bus_num_ = 0
busline_dup = {'7-1':233000056, 
               '10' : 233000064,
               '9': 233000025,
               '38' : 233000086,
               '27': 233000096,
               '7' : 233000058,   
               '5-2' : 233000019,
               '19': 233000026,
               '17': 233000044}
dup_arr = busline_dup.keys()

for j in range(len(in_busline_num)):
    tmp_busline = RouteStationInfo_latlon[RouteStationInfo_latlon['bus_line_no'] == in_busline_num[j][0]]
    if in_busline_num[j][0] in dup_arr:
        tmp_busline = tmp_busline[tmp_busline['pr_station_id'] == busline_dup[in_busline_num[j][0]]]
    tmp_buslineArr = []
    for i in range(len(tmp_busline)):
        tmp = tmp_busline.iloc[i]
        tmp_buslineArr.append((tmp['WGS84위도'], tmp['WGS84경도']))
    All_busline.append(tmp_buslineArr)
    bus_num_ += 1

In [138]:
in_busline_num[0][0]

'13-1'

In [210]:
in_busline_num

[('13-1', 1894),
 ('3', 1768),
 ('2-1', 1277),
 ('13', 1184),
 ('7-1', 1174),
 ('20', 1083),
 ('13-5', 1073),
 ('35', 1069),
 ('202', 999),
 ('13-4', 884),
 ('11', 878),
 ('25', 864),
 ('37', 812),
 ('80', 759),
 ('8', 730),
 ('66', 713),
 ('11-1', 669),
 ('10', 666),
 ('9', 666),
 ('81', 585),
 ('720-3', 534),
 ('38', 513),
 ('22', 474),
 ('27', 458),
 ('4-1', 454),
 ('9-1', 409),
 ('2-2', 349),
 ('116-3', 311),
 ('7', 298),
 ('10-5', 288),
 ('10-2', 275),
 ('15', 256),
 ('5-2', 221),
 ('19', 208),
 ('116-2', 198),
 ('33-1', 198),
 ('2', 194),
 ('721', 187),
 ('8155', 164),
 ('3-1', 155),
 ('712', 154),
 ('17', 127),
 ('150', 114),
 ('330', 109),
 ('1-1', 105),
 ('50', 105),
 ('38-1', 102),
 ('1004', 99),
 ('77', 98),
 ('73-1', 92),
 ('11-5', 90),
 ('18', 77),
 ('203', 76),
 ('23', 73),
 ('1', 65),
 ('340-1', 57),
 ('8-2', 56),
 ('8-1', 56),
 ('6003', 56),
 ('333', 55),
 ('16', 53),
 ('340', 48),
 ('11-3', 48),
 ('201', 46),
 ('1001', 43),
 ('11-2', 42),
 ('21', 42),
 ('710', 40),
 ('6', 39),
 ('26', 38),
 ('24', 37),
 ('50-2', 33),
 ('1000', 31),
 ('27-1', 29),
 ('12', 28),
 ('50-5', 26),
 ('5-4', 26),
 ('8156', 26),
 ('31-3', 23),
 ('1008', 22),
 ('6002', 21),
 ('36', 20),
 ('3-2', 20),
 ('31', 19),
 ('79', 15),
 ('8501', 15),
 ('17-1', 13),
 ('200', 11),
 ('709-1', 11),
 ('6001', 10),
 ('10-4', 10),
 ('6-3', 9),
 ('1002', 9),
 ('78', 9),
 ('2000B', 8),
 ('76', 8),
 ('1004-1', 8),
 ('100', 6),
 ('4', 6),
 ('33-2', 6),
 ('35-2', 6),
 ('4403', 5),
 ('10-1', 5),
 ('31-2', 4),
 ('2000A', 4),
 ('13-2', 4),
 ('22-2', 4),
 ('50-1', 3),
 ('50-4', 3),
 ('330-1', 2),
 ('6-1', 2),
 ('35-1', 2),
 ('11-4', 2),
 ('29', 1),
 ('39', 1),
 ('6-2', 1),
 ('12-1', 1)]

In [240]:
only_bus_num = []
for i in in_busline_num:
    only_bus_num.append(i[0])

In [377]:
only_bus_num

['13-1',
 '3',
 '2-1',
 '13',
 '7-1',
 '20',
 '13-5',
 '35',
 '202',
 '13-4',
 '11',
 '25',
 '37',
 '80',
 '8',
 '66',
 '11-1',
 '10',
 '9',
 '81',
 '720-3',
 '38',
 '22',
 '27',
 '4-1',
 '9-1',
 '2-2',
 '116-3',
 '7',
 '10-5',
 '10-2',
 '15',
 '5-2',
 '19',
 '116-2',
 '33-1',
 '2',
 '721',
 '8155',
 '3-1',
 '712',
 '17',
 '150',
 '330',
 '1-1',
 '50',
 '38-1',
 '1004',
 '77',
 '73-1',
 '11-5',
 '18',
 '203',
 '23',
 '1',
 '340-1',
 '8-2',
 '8-1',
 '6003',
 '333',
 '16',
 '340',
 '11-3',
 '201',
 '1001',
 '11-2',
 '21',
 '710',
 '6',
 '26',
 '24',
 '50-2',
 '1000',
 '27-1',
 '12',
 '50-5',
 '5-4',
 '8156',
 '31-3',
 '1008',
 '6002',
 '36',
 '3-2',
 '31',
 '79',
 '8501',
 '17-1',
 '200',
 '709-1',
 '6001',
 '10-4',
 '6-3',
 '1002',
 '78',
 '2000B',
 '76',
 '1004-1',
 '100',
 '4',
 '33-2',
 '35-2',
 '4403',
 '10-1',
 '31-2',
 '2000A',
 '13-2',
 '22-2',
 '50-1',
 '50-4',
 '330-1',
 '6-1',
 '35-1',
 '11-4',
 '29',
 '39',
 '6-2',
 '12-1']

In [548]:
Busline = folium.Map(location = [37.234300,127.213333])

# for i in range(10):
#     if(len(All_busline[i]) == 0):
#         continue
#     folium.PolyLine(All_busline[i], color="red", weight=2.5, opacity=1).add_to(Busline)



folium.PolyLine(All_busline[0], color="red", weight=2.5, opacity=1).add_to(Busline)
folium.PolyLine(All_busline[1], color="yellow", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[2], color="red", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[3], color="red", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[4], color="red", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[5], color="red", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[6], color="red", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[7], color="red", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[8], color="red", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[9], color="blue", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[10], color="red", weight=2.5, opacity=1).add_to(Busline)
Busline

### Q2. 왜 이 버스를 많이 탈까?

#### 1. 13-1 번 버스!

In [143]:
Over3Transfer.sample()

,Unnamed: 0,암호화카드번호,버스노선ID1,버스노선ID2,버스노선ID3,버스노선ID4,버스노선ID5,총통행거리,총탑승시간,총소요시간,...,하차역ID4,하차역ID5,최초승차일시,최종하차일시,최초승차역ID,최종하차역ID,총이용금액,수집건수,총이용객수,사용자구분
14884,34943,900361527465,720-1,51,720-1,NaN,NaN,4950,21,21,...,NaN,NaN,20180703180804,20180703185441,4100463.0,4100464.0,1250,3,1,1

In [149]:
Over3Transfer.loc[:1]

,Unnamed: 0,암호화카드번호,버스노선ID1,버스노선ID2,버스노선ID3,버스노선ID4,버스노선ID5,총통행거리,총탑승시간,총소요시간,...,하차역ID4,하차역ID5,최초승차일시,최종하차일시,최초승차역ID,최종하차역ID,총이용금액,수집건수,총이용객수,사용자구분
0,4,900508818160,7,202,5-1,NaN,NaN,10930,24,24,...,NaN,NaN,20180701204621,20180701213623,4108196.0,4199077.0,1350,3,1,1
1,5,900351733805,13-5,400-4,22,NaN,NaN,16150,49,49,...,NaN,NaN,20180701145032,20180701161318,4108106.0,4102942.0,1450,3,1,1

In [155]:
pd.DataFrame(Over3Transfer.iloc[0]).T

,Unnamed: 0,암호화카드번호,버스노선ID1,버스노선ID2,버스노선ID3,버스노선ID4,버스노선ID5,총통행거리,총탑승시간,총소요시간,...,하차역ID4,하차역ID5,최초승차일시,최종하차일시,최초승차역ID,최종하차역ID,총이용금액,수집건수,총이용객수,사용자구분
0,4,900508818160,7,202,5-1,NaN,NaN,10930,24,24,...,NaN,NaN,20180701204621,20180701213623,4.1082e+06,4.19908e+06,1350,3,1,1

In [169]:
p_13_1 = Over3Transfer[Over3Transfer['버스노선ID1']== '13-1']
p_13_1 = pd.concat([p_13_1, (Over3Transfer[Over3Transfer['버스노선ID2']== '13-1'])])
p_13_1 = pd.concat([p_13_1, (Over3Transfer[Over3Transfer['버스노선ID3']== '13-1'])])
p_13_1 = pd.concat([p_13_1, (Over3Transfer[Over3Transfer['버스노선ID4']== '13-1'])])
p_13_1 = pd.concat([p_13_1, (Over3Transfer[Over3Transfer['버스노선ID5']== '13-1'])])
# for i in range(len(Over3Transfer)):
#     tmp = tmp_busline.iloc[i]
#     if (tmp['버스노선ID1'] == '13-1') or (tmp['버스노선ID2'] == '13-1') or (tmp['버스노선ID3'] == '13-1') or (tmp['버스노선ID4'] == '13-1') or (tmp['버스노선ID5'] == '13-1'):
#         p_13_1 = pd.concat([p_13_1, (pd.DataFrame(tmp).T)])

In [198]:
p_13_1.head()

,Unnamed: 0,암호화카드번호,버스노선ID1,버스노선ID2,버스노선ID3,버스노선ID4,버스노선ID5,총통행거리,총탑승시간,총소요시간,...,하차역ID4,하차역ID5,최초승차일시,최종하차일시,최초승차역ID,최종하차역ID,총이용금액,수집건수,총이용객수,사용자구분
16,35,900469165316,13-1,202,720-2,NaN,NaN,12900,39,39,...,NaN,NaN,20180701101431,20180701110143,4108087.0,4111742.0,1350,3,1,1
42,101,900494029206,13-1,9-2,5,NaN,NaN,8180,21,21,...,NaN,NaN,20180701103105,20180701105656,4117050.0,4100118.0,870,3,1,4
83,189,100471846143,13-1,13,88,NaN,NaN,8240,20,20,...,NaN,NaN,20180701214644,20180701221814,4114206.0,4117061.0,870,3,1,4
152,338,900460181046,13-1,62-1,25-2,NaN,NaN,10530,40,40,...,NaN,NaN,20180701105321,20180701114145,4160312.0,4151749.0,1350,3,1,1
181,402,100519610238,13-1,1112,16,NaN,NaN,37740,61,61,...,NaN,NaN,20180701065548,20180701080835,4108218.0,4103151.0,2600,3,1,1

In [222]:
routestation_busline = RouteStationInfo_latlon['bus_line_no'].unique()

In [ ]:
### Q3. 얼마나 오래 탈까?

In [ ]:
### Q4.

## 정류소명을 이용해 분류해보자

1. 필요한 데이터만 분류 (위의 pr_station_id를 이용해 필요없는 노선 및 정류소는 delete)

In [233]:
RouteStationInfo_latlon.shape

(7505, 14)

In [230]:
RouteStationInfo_latlon.sample()

,Unnamed: 0,seq,pr_station_id,bus_line_no,bus_line_no_seq,station_nm,station_id,mobile_no,정류소명,표준정류장ID,WGS84위도,WGS84경도,관할관청,이비카드정류장ID
4301,25556,163907,241317004,19-1,58,반도.모아아파트,233001491,37551.0,반도.모아아파트,233001491.0,37.201917,127.11415,경기도 화성시,4170942.0

In [290]:
filteredRoute = RouteStationInfo_latlon.copy()
tmp_df = RouteStationInfo_latlon[RouteStationInfo_latlon['pr_station_id']==233000056]
tmp_df = pd.concat([tmp_df, RouteStationInfo_latlon[RouteStationInfo_latlon['pr_station_id']==233000064]])
tmp_df = pd.concat([tmp_df, RouteStationInfo_latlon[RouteStationInfo_latlon['pr_station_id']==233000025]])
tmp_df = pd.concat([tmp_df, RouteStationInfo_latlon[RouteStationInfo_latlon['pr_station_id']==233000086]])
tmp_df = pd.concat([tmp_df, RouteStationInfo_latlon[RouteStationInfo_latlon['pr_station_id']==233000096]])
tmp_df = pd.concat([tmp_df, RouteStationInfo_latlon[RouteStationInfo_latlon['pr_station_id']==233000058]])
tmp_df = pd.concat([tmp_df, RouteStationInfo_latlon[RouteStationInfo_latlon['pr_station_id']==233000019]])
tmp_df = pd.concat([tmp_df, RouteStationInfo_latlon[RouteStationInfo_latlon['pr_station_id']==233000026]])
tmp_df = pd.concat([tmp_df, RouteStationInfo_latlon[RouteStationInfo_latlon['pr_station_id']==233000044]])
tmp_df = pd.concat([tmp_df, RouteStationInfo_latlon[RouteStationInfo_latlon['pr_station_id']==233000060]])
tmp_df = pd.concat([tmp_df, RouteStationInfo_latlon[RouteStationInfo_latlon['pr_station_id']==241323004]])
tmp_df = pd.concat([tmp_df, RouteStationInfo_latlon[RouteStationInfo_latlon['pr_station_id']==233000080]])
tmp_df = pd.concat([tmp_df, RouteStationInfo_latlon[RouteStationInfo_latlon['pr_station_id']==233000081]])
tmp_df = pd.concat([tmp_df, RouteStationInfo_latlon[RouteStationInfo_latlon['pr_station_id']==241317009]])
tmp_df = pd.concat([tmp_df, RouteStationInfo_latlon[RouteStationInfo_latlon['pr_station_id']==233000045]])

In [291]:
# 중복되는 값 다 지우기
# Get names of indexes for which column Age has value 30
indexNames = filteredRoute[ filteredRoute['bus_line_no'] == '7-1' ].index
 
# Delete these row indexes from dataFrame
filteredRoute.drop(indexNames , inplace=True)


indexNames = filteredRoute[ filteredRoute['bus_line_no'] == '10' ].index
filteredRoute.drop(indexNames , inplace=True)
indexNames = filteredRoute[ filteredRoute['bus_line_no'] == '9' ].index
filteredRoute.drop(indexNames , inplace=True)
indexNames = filteredRoute[ filteredRoute['bus_line_no'] == '38' ].index
filteredRoute.drop(indexNames , inplace=True)
indexNames = filteredRoute[ filteredRoute['bus_line_no'] == '27' ].index
filteredRoute.drop(indexNames , inplace=True)
indexNames = filteredRoute[ filteredRoute['bus_line_no'] == '7' ].index
filteredRoute.drop(indexNames , inplace=True)
indexNames = filteredRoute[ filteredRoute['bus_line_no'] == '5-2' ].index
filteredRoute.drop(indexNames , inplace=True)
indexNames = filteredRoute[ filteredRoute['bus_line_no'] == '19' ].index
filteredRoute.drop(indexNames , inplace=True)
indexNames = filteredRoute[ filteredRoute['bus_line_no'] == '17' ].index
filteredRoute.drop(indexNames , inplace=True)
indexNames = filteredRoute[ filteredRoute['bus_line_no'] == '11-2' ].index
filteredRoute.drop(indexNames , inplace=True)
indexNames = filteredRoute[ filteredRoute['bus_line_no'] == '12' ].index
filteredRoute.drop(indexNames , inplace=True)
indexNames = filteredRoute[ filteredRoute['bus_line_no'] == '21' ].index
filteredRoute.drop(indexNames , inplace=True)
indexNames = filteredRoute[ filteredRoute['bus_line_no'] == '24' ].index
filteredRoute.drop(indexNames , inplace=True)
indexNames = filteredRoute[ filteredRoute['bus_line_no'] == '39' ].index
filteredRoute.drop(indexNames , inplace=True)
indexNames = filteredRoute[ filteredRoute['bus_line_no'] == '6-3' ].index
filteredRoute.drop(indexNames , inplace=True)

In [292]:
filteredRoute = pd.concat([filteredRoute, tmp_df])

In [298]:
filteredRoute.shape

(6879, 14)

### 2-1. 이용자별로 많이 타는 노선이 무엇인지 분류 (TripChain 이용)

#### 수집건수 (==환승횟수) 1 인 사람

In [300]:
TripChain.sample()

,암호화카드번호,트랜잭션ID,환승횟수,교통카드발행사ID,총이용객수,사용자구분,교통수단CD1,교통수단CD2,교통수단CD3,교통수단CD4,...,하차역ID1,하차역ID2,하차역ID3,하차역ID4,하차역ID5,최초승차역ID,최종하차역ID,총이용금액,수집건수,트립체인완료코드
454335,900384067254,14,1,9000922,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4119151.0,1250,1,;

In [306]:
TripChain['최초승차역ID'] = TripChain['승차역ID1']

In [368]:
one_transfer = TripChain[TripChain['수집건수']==1]
one_transfer.drop_duplicates(subset =["암호화카드번호", "최초승차일시", "최종하차일시"], 
                     keep = 'first', inplace = True)

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [369]:
one_transfer.shape

(613293, 51)

In [370]:
one_t_merge = pd.merge(one_transfer,RouteStationMapping[['표준노선ID', '이비노선ID', '노선명']], 
                  how = 'left', left_on = '버스노선ID1', 
                        right_on = '표준노선ID')

In [371]:
one_t_merge['버스노선ID1'] = one_t_merge['노선명']
one_t_merge = one_t_merge.dropna(subset=['노선명'])
del one_t_merge['노선명']
del one_t_merge['표준노선ID']
del one_t_merge['이비노선ID']
one_t_merge.head()

,암호화카드번호,트랜잭션ID,환승횟수,교통카드발행사ID,총이용객수,사용자구분,교통수단CD1,교통수단CD2,교통수단CD3,교통수단CD4,...,하차역ID1,하차역ID2,하차역ID3,하차역ID4,하차역ID5,최초승차역ID,최종하차역ID,총이용금액,수집건수,트립체인완료코드
0,900079697651,5,1,9000923,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4117269.0,1250,1,;
1,900079698254,32,1,9000923,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4107936.0,1550,1,;
2,900079699257,80,1,9000923,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4116717.0,1250,1,;
3,900079701419,64,1,9000923,1,1,530.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4116848.0,2050,1,;
4,900079701419,65,1,9000923,1,1,530.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4100121.0,2050,1,;

#### 수집건수 (==환승횟수) 2 인 사람

In [316]:
two_transfer = TripChain[TripChain['수집건수']==2]
two_transfer.drop_duplicates(subset =["암호화카드번호", "최초승차일시", "최종하차일시"], 
                     keep = 'first', inplace = True)

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [317]:
two_t_merge_1 = pd.merge(two_transfer,RouteStationMapping[['표준노선ID', '이비노선ID', '노선명']], 
                  how = 'left', left_on = '버스노선ID1', 
                        right_on = '표준노선ID')

In [318]:
two_t_merge_1['버스노선ID1'] = two_t_merge_1['노선명']
two_t_merge_1 = two_t_merge_1.dropna(subset=['노선명'])
del two_t_merge_1['노선명']
del two_t_merge_1['표준노선ID']
del two_t_merge_1['이비노선ID']
two_t_merge_1.head()

,암호화카드번호,트랜잭션ID,환승횟수,교통카드발행사ID,총이용객수,사용자구분,교통수단CD1,교통수단CD2,교통수단CD3,교통수단CD4,...,하차역ID1,하차역ID2,하차역ID3,하차역ID4,하차역ID5,최초승차역ID,최종하차역ID,총이용금액,수집건수,트립체인완료코드
0,900079696430,56,2,9000923,1,1,500.0,500.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4116828.0,4116708.0,1350,2,;
1,900079971595,86,2,9000923,1,1,500.0,500.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4116704.0,4151749.0,1250,2,;
2,900079974199,44,2,9000923,1,1,530.0,583.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4100084.0,4170526.0,2050,2,;
4,900079985178,50,2,9000923,1,1,500.0,500.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4120515.0,4199616.0,1250,2,;
7,900517099631,17,2,9000921,1,1,500.0,500.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4116808.0,4108222.0,1250,2,;

In [320]:
two_t_merge_2 = pd.merge(two_t_merge_1,RouteStationMapping[['표준노선ID', '이비노선ID', '노선명']], 
                  how = 'left', left_on = '버스노선ID2', 
                        right_on = '표준노선ID')

In [321]:
two_t_merge_2['버스노선ID2'] = two_t_merge_2['노선명']
two_t_merge_2 = two_t_merge_2.dropna(subset=['노선명'])
del two_t_merge_2['노선명']
del two_t_merge_2['표준노선ID']
del two_t_merge_2['이비노선ID']
two_t_merge_2.head()

,암호화카드번호,트랜잭션ID,환승횟수,교통카드발행사ID,총이용객수,사용자구분,교통수단CD1,교통수단CD2,교통수단CD3,교통수단CD4,...,하차역ID1,하차역ID2,하차역ID3,하차역ID4,하차역ID5,최초승차역ID,최종하차역ID,총이용금액,수집건수,트립체인완료코드
0,900079696430,56,2,9000923,1,1,500.0,500.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4116828.0,4116708.0,1350,2,;
1,900079971595,86,2,9000923,1,1,500.0,500.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4116704.0,4151749.0,1250,2,;
3,900079985178,50,2,9000923,1,1,500.0,500.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4120515.0,4199616.0,1250,2,;
4,900517099631,17,2,9000921,1,1,500.0,500.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4116808.0,4108222.0,1250,2,;
5,900030099159,3,2,3101915,1,4,500.0,500.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4117181.0,4117030.0,870,2,;

#### 환승횟수 1-5까지 모두 합치기

In [372]:
one_t_merge = one_t_merge[['암호화카드번호', '버스노선ID1', '버스노선ID2', '버스노선ID3', '버스노선ID4', '버스노선ID5',
          '총통행거리', '총탑승시간','총소요시간', '승차역ID1', '승차역ID2', '승차역ID3', '승차역ID4',
           '승차역ID5', '하차역ID1', '하차역ID2', '하차역ID3', '하차역ID4', '하차역ID5',
           '최초승차일시', '최종하차일시', '최초승차역ID', '최종하차역ID', '총이용금액', '수집건수',
                         '총이용객수','사용자구분']]
two_t_merge_2 = two_t_merge_2[['암호화카드번호', '버스노선ID1', '버스노선ID2', '버스노선ID3', '버스노선ID4', '버스노선ID5',
          '총통행거리', '총탑승시간','총소요시간', '승차역ID1', '승차역ID2', '승차역ID3', '승차역ID4',
           '승차역ID5', '하차역ID1', '하차역ID2', '하차역ID3', '하차역ID4', '하차역ID5',
           '최초승차일시', '최종하차일시', '최초승차역ID', '최종하차역ID', '총이용금액', '수집건수',
                         '총이용객수','사용자구분']]

In [365]:
Over3Transfer = Over3Transfer.drop(Over3Transfer.columns[0], axis=1)
Over3Transfer.head()

,암호화카드번호,버스노선ID1,버스노선ID2,버스노선ID3,버스노선ID4,버스노선ID5,총통행거리,총탑승시간,총소요시간,승차역ID1,...,하차역ID4,하차역ID5,최초승차일시,최종하차일시,최초승차역ID,최종하차역ID,총이용금액,수집건수,총이용객수,사용자구분
0,900508818160,7,202,5-1,NaN,NaN,10930,24,24,4108196.0,...,NaN,NaN,20180701204621,20180701213623,4108196.0,4199077.0,1350,3,1,1
1,900351733805,13-5,400-4,22,NaN,NaN,16150,49,49,4108106.0,...,NaN,NaN,20180701145032,20180701161318,4108106.0,4102942.0,1450,3,1,1
2,900351733805,11,13-5,13-4,NaN,NaN,11350,24,24,4105311.0,...,NaN,NaN,20180701212521,20180701221059,4105311.0,4117053.0,1350,3,1,1
3,900028085150,62-1,88-1,11-1,NaN,NaN,7140,26,26,4116853.0,...,NaN,NaN,20180701182945,20180701191500,4116853.0,4170093.0,870,3,1,4
4,900028088225,720-2,32,30-1,NaN,NaN,13690,46,46,4170102.0,...,NaN,NaN,20180701141014,20180701150226,4170102.0,4130061.0,1350,3,1,1

In [374]:
TripChain_bus = pd.concat([one_t_merge, two_t_merge_2])
TripChain_bus = pd.concat([TripChain_bus, Over3Transfer])
TripChain_bus.drop_duplicates(subset =["암호화카드번호", "최초승차일시", "최종하차일시"], 
                     keep = 'first', inplace = True)
TripChain_bus.head()

,암호화카드번호,버스노선ID1,버스노선ID2,버스노선ID3,버스노선ID4,버스노선ID5,총통행거리,총탑승시간,총소요시간,승차역ID1,...,하차역ID4,하차역ID5,최초승차일시,최종하차일시,최초승차역ID,최종하차역ID,총이용금액,수집건수,총이용객수,사용자구분
0,900079697651,62-1,NaN,NaN,NaN,NaN,1700,3,3,4117280.0,...,NaN,NaN,20180701072156,20180701072520,NaN,4117269.0,1250,1,1,1
1,900079698254,35,NaN,NaN,NaN,NaN,23180,66,66,4199619.0,...,NaN,NaN,20180701123653,20180701134223,NaN,4107936.0,1550,1,1,1
2,900079699257,64,NaN,NaN,NaN,NaN,500,1,1,4108130.0,...,NaN,NaN,20180701224424,20180701224543,NaN,4116717.0,1250,1,1,1
3,900079701419,300,NaN,NaN,NaN,NaN,3240,8,8,4100122.0,...,NaN,NaN,20180701085058,20180701085910,NaN,4116848.0,2050,1,1,1
4,900079701419,300,NaN,NaN,NaN,NaN,2940,8,8,4100098.0,...,NaN,NaN,20180701220922,20180701221723,NaN,4100121.0,2050,1,1,1

#### 1. 일반 (1)

In [385]:
p_1 = TripChain_bus[TripChain_bus['사용자구분']==1]

In [387]:
p_1.shape

(711897, 27)

In [386]:
p_1_hash = {}
for a in only_bus_num:
    p_1_hash[a] = 0

In [397]:
p_1_hash.keys()

dict_keys(['13-1', '3', '2-1', '13', '7-1', '20', '13-5', '35', '202', '13-4', '11', '25', '37', '80', '8', '66', '11-1', '10', '9', '81', '720-3', '38', '22', '27', '4-1', '9-1', '2-2', '116-3', '7', '10-5', '10-2', '15', '5-2', '19', '116-2', '33-1', '2', '721', '8155', '3-1', '712', '17', '150', '330', '1-1', '50', '38-1', '1004', '77', '73-1', '11-5', '18', '203', '23', '1', '340-1', '8-2', '8-1', '6003', '333', '16', '340', '11-3', '201', '1001', '11-2', '21', '710', '6', '26', '24', '50-2', '1000', '27-1', '12', '50-5', '5-4', '8156', '31-3', '1008', '6002', '36', '3-2', '31', '79', '8501', '17-1', '200', '709-1', '6001', '10-4', '6-3', '1002', '78', '2000B', '76', '1004-1', '100', '4', '33-2', '35-2', '4403', '10-1', '31-2', '2000A', '13-2', '22-2', '50-1', '50-4', '330-1', '6-1', '35-1', '11-4', '29', '39', '6-2', '12-1'])

In [394]:
# 버스노선ID = 0
버스노선ID1 = np.concatenate([p_1['버스노선ID1'], p_1['버스노선ID2'], p_1['버스노선ID3'], 
                         p_1['버스노선ID4'], p_1['버스노선ID5']])

In [399]:
for elem in 버스노선ID1:
    if elem in p_1_hash.keys():
        p_1_hash[elem] += 1

In [415]:
sorted_p_1_hash = dict(sorted(p_1_hash.items(), key=operator.itemgetter(1), reverse=True))
sorted_p_1_hash

{'13-1': 31406,
 '3': 25539,
 '7-1': 21390,
 '13-5': 20939,
 '2-1': 20308,
 '202': 17821,
 '8': 16189,
 '20': 14970,
 '35': 13889,
 '720-3': 12520,
 '25': 10680,
 '81': 9598,
 '11-1': 9092,
 '7': 8035,
 '116-3': 7309,
 '13': 5077,
 '116-2': 4978,
 '9': 4083,
 '22': 4070,
 '15': 3864,
 '721': 3788,
 '80': 3605,
 '2-2': 3384,
 '13-4': 3372,
 '11': 3243,
 '66': 3063,
 '37': 2775,
 '5-2': 2774,
 '38': 2642,
 '10': 2444,
 '712': 2364,
 '73-1': 1953,
 '8501': 1850,
 '150': 1837,
 '9-1': 1814,
 '4-1': 1711,
 '27': 1603,
 '203': 1284,
 '2': 1120,
 '10-5': 1087,
 '10-2': 1024,
 '19': 891,
 '50': 818,
 '1001': 718,
 '33-1': 658,
 '201': 657,
 '1': 653,
 '1004': 546,
 '710': 543,
 '6003': 497,
 '16': 470,
 '38-1': 468,
 '8155': 453,
 '26': 425,
 '17': 418,
 '31': 412,
 '27-1': 408,
 '3-1': 354,
 '8-2': 346,
 '11-5': 317,
 '1-1': 311,
 '340': 300,
 '1000': 283,
 '330': 245,
 '24': 226,
 '18': 218,
 '6002': 217,
 '333': 205,
 '76': 179,
 '6': 150,
 '709-1': 148,
 '77': 142,
 '21': 127,
 '340-1': 124,
 '50-5': 112,
 '50-2': 104,
 '8156': 98,
 '31-3': 95,
 '6001': 95,
 '11-3': 82,
 '23': 76,
 '5-4': 75,
 '8-1': 71,
 '3-2': 69,
 '36': 62,
 '12': 60,
 '11-2': 53,
 '1008': 51,
 '4403': 50,
 '1004-1': 44,
 '79': 42,
 '1002': 36,
 '6-3': 35,
 '78': 29,
 '200': 27,
 '50-4': 26,
 '17-1': 23,
 '31-2': 20,
 '2000B': 13,
 '100': 11,
 '10-4': 10,
 '33-2': 10,
 '2000A': 8,
 '22-2': 7,
 '11-4': 7,
 '4': 6,
 '35-2': 6,
 '10-1': 5,
 '13-2': 4,
 '50-1': 4,
 '6-2': 4,
 '330-1': 2,
 '6-1': 2,
 '35-1': 2,
 '39': 2,
 '12-1': 2,
 '29': 1}

#### 2. 어린이 (2)

In [414]:
p_2 = TripChain_bus[TripChain_bus['사용자구분']==2]
p_2_hash = {}
for a in only_bus_num:
    p_2_hash[a] = 0


버스노선ID2 = np.concatenate([p_2['버스노선ID1'], p_2['버스노선ID2'], p_2['버스노선ID3'], 
                         p_2['버스노선ID4'], p_2['버스노선ID5']])

for elem in 버스노선ID2:
    if elem in p_2_hash.keys():
        p_2_hash[elem] += 1
        
sorted_p_2_hash = dict(sorted(p_2_hash.items(), key=operator.itemgetter(1), reverse=True))
sorted_p_2_hash

{'8': 370,
 '13-1': 317,
 '202': 212,
 '3': 196,
 '7': 188,
 '2-1': 162,
 '13-5': 150,
 '7-1': 102,
 '35': 90,
 '11-1': 77,
 '20': 68,
 '720-3': 53,
 '25': 52,
 '9': 48,
 '81': 47,
 '116-3': 44,
 '22': 39,
 '116-2': 37,
 '15': 30,
 '73-1': 24,
 '721': 21,
 '2-2': 19,
 '13': 16,
 '38': 16,
 '5-2': 15,
 '712': 14,
 '80': 13,
 '19': 12,
 '150': 10,
 '201': 10,
 '13-4': 9,
 '11': 9,
 '66': 9,
 '203': 8,
 '1000': 8,
 '31': 8,
 '50': 7,
 '37': 6,
 '4-1': 6,
 '9-1': 6,
 '2': 6,
 '710': 6,
 '27-1': 6,
 '10-5': 5,
 '10-2': 4,
 '10': 3,
 '33-1': 3,
 '16': 3,
 '27': 2,
 '17': 2,
 '1': 2,
 '340': 2,
 '1001': 2,
 '8501': 2,
 '17-1': 2,
 '3-1': 1,
 '38-1': 1,
 '1004': 1,
 '77': 1,
 '18': 1,
 '26': 1,
 '50-2': 1,
 '36': 1,
 '76': 1,
 '8155': 0,
 '330': 0,
 '1-1': 0,
 '11-5': 0,
 '23': 0,
 '340-1': 0,
 '8-2': 0,
 '8-1': 0,
 '6003': 0,
 '333': 0,
 '11-3': 0,
 '11-2': 0,
 '21': 0,
 '6': 0,
 '24': 0,
 '12': 0,
 '50-5': 0,
 '5-4': 0,
 '8156': 0,
 '31-3': 0,
 '1008': 0,
 '6002': 0,
 '3-2': 0,
 '79': 0,
 '200': 0,
 '709-1': 0,
 '6001': 0,
 '10-4': 0,
 '6-3': 0,
 '1002': 0,
 '78': 0,
 '2000B': 0,
 '1004-1': 0,
 '100': 0,
 '4': 0,
 '33-2': 0,
 '35-2': 0,
 '4403': 0,
 '10-1': 0,
 '31-2': 0,
 '2000A': 0,
 '13-2': 0,
 '22-2': 0,
 '50-1': 0,
 '50-4': 0,
 '330-1': 0,
 '6-1': 0,
 '35-1': 0,
 '11-4': 0,
 '29': 0,
 '39': 0,
 '6-2': 0,
 '12-1': 0}

#### 3. 청소년 (4)

In [413]:
p_4 = TripChain_bus[TripChain_bus['사용자구분']==4]
p_4_hash = {}
for a in only_bus_num:
    p_4_hash[a] = 0


버스노선ID4 = np.concatenate([p_4['버스노선ID1'], p_4['버스노선ID2'], p_4['버스노선ID3'], 
                         p_4['버스노선ID4'], p_4['버스노선ID5']])

for elem in 버스노선ID4:
    if elem in p_4_hash.keys():
        p_4_hash[elem] += 1
        
sorted_p_4_hash = dict(sorted(p_4_hash.items(), key=operator.itemgetter(1), reverse=True))
sorted_p_4_hash

{'8': 3857,
 '13-1': 3786,
 '202': 2854,
 '3': 2736,
 '2-1': 2078,
 '35': 2056,
 '13-5': 1905,
 '7-1': 1776,
 '25': 1400,
 '7': 1334,
 '20': 1275,
 '11-1': 898,
 '81': 894,
 '720-3': 856,
 '116-3': 687,
 '116-2': 576,
 '9': 476,
 '13': 473,
 '2-2': 436,
 '721': 436,
 '22': 381,
 '11': 378,
 '15': 358,
 '73-1': 349,
 '80': 307,
 '38': 295,
 '13-4': 263,
 '5-2': 214,
 '37': 196,
 '712': 156,
 '201': 151,
 '66': 146,
 '10': 135,
 '1001': 134,
 '9-1': 116,
 '4-1': 114,
 '2': 107,
 '710': 98,
 '10-5': 97,
 '50': 84,
 '27': 72,
 '1': 70,
 '8501': 70,
 '1004': 61,
 '150': 60,
 '203': 60,
 '26': 59,
 '10-2': 58,
 '340': 58,
 '16': 56,
 '19': 54,
 '33-1': 51,
 '1000': 51,
 '38-1': 49,
 '27-1': 38,
 '17': 37,
 '8155': 35,
 '3-1': 25,
 '24': 22,
 '50-2': 22,
 '50-5': 17,
 '18': 16,
 '709-1': 16,
 '76': 14,
 '31': 13,
 '77': 11,
 '330': 10,
 '333': 10,
 '8-2': 9,
 '21': 9,
 '31-3': 9,
 '36': 8,
 '1-1': 6,
 '11-5': 6,
 '340-1': 6,
 '5-4': 6,
 '8156': 6,
 '6002': 6,
 '79': 6,
 '23': 5,
 '6': 4,
 '8-1': 3,
 '3-2': 3,
 '6001': 2,
 '78': 2,
 '100': 2,
 '6003': 1,
 '1008': 1,
 '17-1': 1,
 '200': 1,
 '6-3': 1,
 '1004-1': 1,
 '31-2': 1,
 '2000A': 1,
 '22-2': 1,
 '50-4': 1,
 '11-3': 0,
 '11-2': 0,
 '12': 0,
 '10-4': 0,
 '1002': 0,
 '2000B': 0,
 '4': 0,
 '33-2': 0,
 '35-2': 0,
 '4403': 0,
 '10-1': 0,
 '13-2': 0,
 '50-1': 0,
 '330-1': 0,
 '6-1': 0,
 '35-1': 0,
 '11-4': 0,
 '29': 0,
 '39': 0,
 '6-2': 0,
 '12-1': 0}

#### 4. 경로 (8)

In [412]:
p_8 = TripChain_bus[TripChain_bus['사용자구분']==8]
p_8_hash = {}
for a in only_bus_num:
    p_8_hash[a] = 0


버스노선ID8 = np.concatenate([p_8['버스노선ID1'], p_8['버스노선ID2'], p_8['버스노선ID3'], 
                         p_8['버스노선ID4'], p_8['버스노선ID5']])

for elem in 버스노선ID8:
    if elem in p_8_hash.keys():
        p_8_hash[elem] += 1
        
sorted_p_8_hash = dict(sorted(p_8_hash.items(), key=operator.itemgetter(1), reverse=True))
sorted_p_8_hash

{'3': 86,
 '13-1': 78,
 '35': 76,
 '8': 75,
 '202': 73,
 '20': 72,
 '7-1': 64,
 '7': 43,
 '2-1': 37,
 '720-3': 35,
 '81': 34,
 '116-3': 32,
 '13-5': 29,
 '25': 28,
 '712': 27,
 '11-1': 19,
 '73-1': 18,
 '22': 14,
 '116-2': 13,
 '15': 12,
 '721': 12,
 '2-2': 7,
 '80': 6,
 '5-2': 5,
 '203': 4,
 '1001': 4,
 '150': 3,
 '340': 3,
 '26': 3,
 '9': 2,
 '16': 2,
 '201': 2,
 '1000': 2,
 '27-1': 2,
 '76': 2,
 '50': 1,
 '710': 1,
 '31': 1,
 '709-1': 1,
 '13': 0,
 '13-4': 0,
 '11': 0,
 '37': 0,
 '66': 0,
 '10': 0,
 '38': 0,
 '27': 0,
 '4-1': 0,
 '9-1': 0,
 '10-5': 0,
 '10-2': 0,
 '19': 0,
 '33-1': 0,
 '2': 0,
 '8155': 0,
 '3-1': 0,
 '17': 0,
 '330': 0,
 '1-1': 0,
 '38-1': 0,
 '1004': 0,
 '77': 0,
 '11-5': 0,
 '18': 0,
 '23': 0,
 '1': 0,
 '340-1': 0,
 '8-2': 0,
 '8-1': 0,
 '6003': 0,
 '333': 0,
 '11-3': 0,
 '11-2': 0,
 '21': 0,
 '6': 0,
 '24': 0,
 '50-2': 0,
 '12': 0,
 '50-5': 0,
 '5-4': 0,
 '8156': 0,
 '31-3': 0,
 '1008': 0,
 '6002': 0,
 '36': 0,
 '3-2': 0,
 '79': 0,
 '8501': 0,
 '17-1': 0,
 '200': 0,
 '6001': 0,
 '10-4': 0,
 '6-3': 0,
 '1002': 0,
 '78': 0,
 '2000B': 0,
 '1004-1': 0,
 '100': 0,
 '4': 0,
 '33-2': 0,
 '35-2': 0,
 '4403': 0,
 '10-1': 0,
 '31-2': 0,
 '2000A': 0,
 '13-2': 0,
 '22-2': 0,
 '50-1': 0,
 '50-4': 0,
 '330-1': 0,
 '6-1': 0,
 '35-1': 0,
 '11-4': 0,
 '29': 0,
 '39': 0,
 '6-2': 0,
 '12-1': 0}

### 2-2. 각 노선별로 어떤 이용자가 많이 타는지 분류

```
위의 나이대별로 많이 타는 노선 TOP 10 중에서 겹치는 버스 노선 7개
: 13-1, 3, 7-1, 2-1, 202, 8, 35
```

In [406]:
common_busline  = ['13-1', '3', '7-1', '2-1', '202', '8', '35']

1. 13-1

In [417]:
# 일반, 어린이, 청소년, 경로 순서
common1 = [sorted_p_1_hash[common_busline[0]], sorted_p_2_hash[common_busline[0]], 
           sorted_p_4_hash[common_busline[0]],sorted_p_8_hash[common_busline[0]]]
common2 = [sorted_p_1_hash[common_busline[1]], sorted_p_2_hash[common_busline[1]], 
           sorted_p_4_hash[common_busline[1]],sorted_p_8_hash[common_busline[1]]]
common3 = [sorted_p_1_hash[common_busline[2]], sorted_p_2_hash[common_busline[2]], 
           sorted_p_4_hash[common_busline[2]],sorted_p_8_hash[common_busline[2]]]
common4 = [sorted_p_1_hash[common_busline[3]], sorted_p_2_hash[common_busline[3]], 
           sorted_p_4_hash[common_busline[3]],sorted_p_8_hash[common_busline[3]]]
common5 = [sorted_p_1_hash[common_busline[4]], sorted_p_2_hash[common_busline[4]], 
           sorted_p_4_hash[common_busline[5]],sorted_p_8_hash[common_busline[4]]]
common6 = [sorted_p_1_hash[common_busline[5]], sorted_p_2_hash[common_busline[5]], 
           sorted_p_4_hash[common_busline[5]],sorted_p_8_hash[common_busline[5]]]
common7 = [sorted_p_1_hash[common_busline[6]], sorted_p_2_hash[common_busline[6]], 
           sorted_p_4_hash[common_busline[6]],sorted_p_8_hash[common_busline[6]]]

In [418]:
common1

[31406, 317, 3786, 78]

2. 3

In [419]:
common2

[25539, 196, 2736, 86]

3. 7-1

In [420]:
common3

[21390, 102, 1776, 64]

4. 2-1

In [422]:
common4

[20308, 162, 2078, 37]

5. 202

In [423]:
common5

[17821, 212, 3857, 73]

6. 8

In [424]:
common6

[16189, 370, 3857, 75]

7. 35

In [425]:
common7

[13889, 90, 2056, 76]

### 3. 정류소명을 기준으로

In [427]:
filteredRoute.shape

(6879, 14)

In [428]:
RouteStationInfo.shape

(37831, 7)

3-1. 학교 정류장 확인

In [449]:
filteredRoute.sample()

,Unnamed: 0,seq,pr_station_id,bus_line_no,bus_line_no_seq,station_nm,station_id,mobile_no,정류소명,표준정류장ID,WGS84위도,WGS84경도,관할관청,이비카드정류장ID
1516,8742,90649,233000077,1000,194,상안1.2리,233000756,37048.0,상안1.2리,233000756.0,37.182567,126.706467,경기도 화성시,4102857.0

In [470]:
filteredRoute['school_elem'] = filteredRoute['station_nm'].apply(lambda x: True if '초' in x else False)
filteredRoute['school_mid'] = filteredRoute['station_nm'].apply(lambda x: True if '중' in x else False)
filteredRoute['school_high'] = filteredRoute['station_nm'].apply(lambda x: True if '고' in x else False)
# [True for ele in filteredRoute.loc[:] if '초' in ele['station_nm']]
# df['equal_or_lower_than_4?'] = df['set_of_numbers'].apply(lambda x: 'True' if x <= 4 else 'False')

In [529]:
filteredRoute = filteredRoute.drop('school', axis = 1)

In [480]:
school_route = pd.concat([filteredRoute[filteredRoute['school_elem'] == True], 
                                         filteredRoute[filteredRoute['school_mid'] == True]])
school_route = pd.concat([school_route, 
                                         filteredRoute[filteredRoute['school_high'] == True]])
school_route

,Unnamed: 0,seq,pr_station_id,bus_line_no,bus_line_no_seq,station_nm,station_id,mobile_no,정류소명,표준정류장ID,WGS84위도,WGS84경도,관할관청,이비카드정류장ID,school,school_elem,school_mid,school_high
166,6962,88310,233000005,330,62,비봉초등학교후문,233000722,37171.0,비봉초등학교후문,233000722.0,37.236217,126.868233,경기도 화성시,4102910.0,True,True,False,False
180,7027,88375,233000005,330,127,비봉초등학교후문.삼화3리,233000777,37170.0,비봉초등학교후문.삼화3리,233000777.0,37.236317,126.868150,경기도 화성시,4102909.0,True,True,False,False
264,7121,88581,233000010,33-1,35,발안초등학교,233000632,37464.0,발안초등학교,233000632.0,37.131033,126.912167,경기도 화성시,4170805.0,True,True,False,False
284,7152,88612,233000010,33-1,66,화성중앙병원.발안초등학교,233001026,37269.0,화성중앙병원.발안초등학교,233001026.0,37.131183,126.911500,경기도 화성시,4130354.0,True,True,True,False
457,7348,89123,233000022,15,29,장안초등학교,233001366,37389.0,장안초등학교,233001366.0,37.084817,126.823500,경기도 화성시,4170696.0,True,True,False,False
474,7371,89146,233000024,14,21,장안초등학교,233001366,37389.0,장안초등학교,233001366.0,37.084817,126.823500,경기도 화성시,4170696.0,True,True,False,False
527,7434,89209,233000027,3-1,12,우정초등학교,233001160,36788.0,우정초등학교,233001160.0,37.080700,126.801667,경기도 화성시,4170324.0,True,True,False,False
541,7454,89229,233000028,3,15,우정초등학교,233001160,36788.0,우정초등학교,233001160.0,37.080700,126.801667,경기도 화성시,4170324.0,True,True,False,False
618,7551,89458,233000035,2-2,21,석천초등학교,233001370,36952.0,석천초등학교,233001370.0,37.054833,126.789733,경기도 화성시,4170660.0,True,True,False,False
704,7717,89624,233000040,6,30,석포초등학교,233000446,37442.0,석포초등학교,233000446.0,37.130017,126.840117,경기도 화성시,4170787.0,True,True,False,False
710,7723,89630,233000040,6,36,월문초등학교,233000439,37444.0,월문초등학교,233000439.0,37.117867,126.871400,경기도 화성시,4170785.0,True,True,False,False
726,7741,89648,233000041,11,10,월문초등학교,233000463,37437.0,월문초등학교,233000463.0,37.117900,126.871517,경기도 화성시,4170792.0,True,True,False,False
746,7766,89673,233000041,11,35,우정초등학교,233001160,36788.0,우정초등학교,233001160.0,37.080700,126.801667,경기도 화성시,4170324.0,True,True,False,False
770,7800,89707,233000043,6-2,32,석포초등학교,233000446,37442.0,석포초등학교,233000446.0,37.130017,126.840117,경기도 화성시,4170787.0,True,True,False,False
776,7806,89713,233000043,6-2,38,월문초등학교,233000439,37444.0,월문초등학교,233000439.0,37.117867,126.871400,경기도 화성시,4170785.0,True,True,False,False
845,7906,89813,233000046,8,21,우정초등학교,233001160,36788.0,우정초등학교,233001160.0,37.080700,126.801667,경기도 화성시,4170324.0,True,True,False,False
862,7928,89835,233000047,8-3,20,석포초등학교,233000446,37442.0,석포초등학교,233000446.0,37.130017,126.840117,경기도 화성시,4170787.0,True,True,False,False
893,7964,89871,233000048,1,14,장명초등학교,233000988,36709.0,장명초등학교,233000988.0,37.056983,126.855533,경기도 화성시,4170362.0,True,True,False,False
898,7969,89876,233000048,1,19,장명초분교,233001422,36984.0,장명초분교,233001422.0,37.037950,126.844017,경기도 화성시,4170704.0,True,True,False,False
900,7971,89878,233000048,1,21,장명초분교,233001429,36980.0,장명초분교,233001429.0,37.037483,126.843867,경기도 화성시,4170708.0,True,True,False,False
905,7976,89883,233000048,1,26,장명초등학교,233000989,36708.0,장명초등학교,233000989.0,37.057017,126.855600,경기도 화성시,4170363.0,True,True,False,False
947,8029,89936,233000051,1-1,12,장명초등학교,233000988,36709.0,장명초등학교,233000988.0,37.056983,126.855533,경기도 화성시,4170362.0,True,True,False,False
952,8034,89941,233000051,1-1,17,장명초분교,233001422,36984.0,장명초분교,233001422.0,37.037950,126.844017,경기도 화성시,4170704.0,True,True,False,False
955,8040,89947,233000051,1-1,23,장명초분교,233001429,36980.0,장명초분교,233001429.0,37.037483,126.843867,경기도 화성시,4170708.0,True,True,False,False
960,8045,89952,233000051,1-1,28,장명초등학교,233000989,36708.0,장명초등학교,233000989.0,37.057017,126.855600,경기도 화성시,4170363.0,True,True,False,False
971,8056,89963,233000051,1-1,39,장안초등학교,233001366,37389.0,장안초등학교,233001366.0,37.084817,126.823500,경기도 화성시,4170696.0,True,True,False,False
1085,8202,90109,233000059,11-5,10,월문초등학교,233000463,37437.0,월문초등학교,233000463.0,37.117900,126.871517,경기도 화성시,4170792.0,True,True,False,False
1107,8226,90133,233000059,11-5,34,월문초등학교,233000439,37444.0,월문초등학교,233000439.0,37.117867,126.871400,경기도 화성시,4170785.0,True,True,False,False
1272,8471,90378,233000075,340,23,화성중앙병원.발안초등학교,233001026,37269.0,화성중앙병원.발안초등학교,233001026.0,37.131183,126.911500,경기도 화성시,4130354.0,True,True,True,False
1280,8479,90386,233000075,340,31,팔탄초등학교,233000521,37252.0,팔탄초등학교,233000521.0,37.159367,126.903100,경기도 화성시,4130366.0,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7316,37569,191493,241491004,35-2,29,안화고등학교,233002393,55280.0,안화고등학교,233002393.0,37.211500,127.047200,경기도 화성시,4116268.0,False,False,False,True
7418,37717,191641,241491009,35,29,안화고등학교,233002393,55280.0,안화고등학교,233002393.0,37.211500,127.047200,경기도 화성시,4116268.0,False,False,False,True
7451,37758,191682,241491010,100,13,안화고등학교,233002394,55281.0,안화고등학교,233002394.0,37.211433,127.047517,경기도 화성시,4116267.0,False,False,False,True
7472,37789,191713,241491011,38-1,26,안화고등학교,233002393,55280.0,안화고등학교,233002393.0,37.211500,127.047200,경기도 화성시,4116268.0,False,False,False,True
7487,37805,191729,241491011,38-1,42,안화고등학교,233002394,55281.0,안화고등학교,233002394.0,37.211433,127.047517,경기도 화성시,4116267.0,False,False,False,True
1012,8108,90015,233000056,7-1,16,고주리입구.한국폴리텍대학,233001550,36695.0,고주리입구.한국폴리텍대학,233001550.0,37.121800,126.892500,경기도 화성시,4197677.0,False,False,False,True
1013,8111,90018,233000056,7-1,19,고주리,233001510,36736.0,고주리,233001510.0,37.128833,126.883833,경기도 화성시,4170741.0,False,False,False,True
1014,8112,90019,233000056,7-1,20,고주리.동방산업단지,233001571,37624.0,고주리.동방산업단지,233001571.0,37.136217,126.887767,경기도 화성시,4198938.0,False,False,False,True
1706,9021,91036,233000086,38,45,향남중고등학교,233001853,37896.0,향남중고등학교,233001853.0,37.128933,126.926917,경기도 화성시,4199617.0,False,False,True,True
1707,9022,91037,233000086,38,46,향남고등학교,233002074,55051.0,향남고등학교,233002074.0,37.127717,126.926817,경기도 화성시,4120441.0,False,False,False,True
1837,9203,91285,233000096,27,12,두레자연중고등학교,233001383,36951.0,두레자연중고등학교,233001383.0,37.056400,126.795283,경기도 화성시,4170661.0,False,False,True,True
1037,8146,90053,233000058,7,4,삼괴중고등학교,233001067,36823.0,삼괴중고등학교,233001067.0,37.087017,126.818983,경기도 화성시,4170380.0,False,False,True,True
1075,8191,90098,233000058,7,49,화성중고등학교,233000526,37255.0,화성중고등학교,233000526.0,37.138033,126.905483,경기도 화성시,4130359.0,False,False,True,True
379,7257,89032,233000019,5-2,4,삼괴중고등학교,233001067,36823.0,삼괴중고등학교,233001067.0,37.087017,126.818983,경기도 화성시,4170380.0,False,False,True,True
401,7282,89057,233000019,5-2,29,삼괴중고등학교,233001066,37497.0,삼괴중고등학교,233001066.0,37.086767,126.818933,경기도 화성시,4170845.0,False,False,True,True
786,7818,89725,233000044,17,4,삼괴중고등학교,233001067,36823.0,삼괴중고등학교,233001067.0,37.087017,126.818983,경기도 화성시,4170380.0,False,False,True,True
801,7843,89750,233000044,17,29,삼괴중고등학교,233001066,37497.0,삼괴중고등학교,233001066.0,37.086767,126.818933,경기도 화성시,4170845.0,False,False,True,True
1145,8271,90178,233000060,11-2,37,삼괴중고등학교,233001066,37497.0,삼괴중고등학교,233001066.0,37.086767,126.818933,경기도 화성시,4170845.0,False,False,True,True
5183,27473,165824,241323004,12,10,안화고등학교,233002394,55281.0,안화고등학교,233002394.0,37.211433,127.047517,경기도 화성시,4116267.0,False,False,False,True
5196,27522,165873,241323004,12,59,안화고등학교,233002393,55280.0,안화고등학교,233002393.0,37.211500,127.047200,경기도 화성시,4116268.0,False,False,False,True
1571,8804,90711,233000080,21,4,삼괴중고등학교,233001067,36823.0,삼괴중고등학교,233001067.0,37.087017,126.818983,경기도 화성시,4170380.0,False,False,True,True
1593,8830,90737,233000080,21,30,고주리입구.한국폴리텍대학,233001550,36695.0,고주리입구.한국폴리텍대학,233001550.0,37.121800,126.892500,경기도 화성시,4197677.0,False,False,False,True
1594,8833,90740,233000080,21,33,고주리,233001510,36736.0,고주리,233001510.0,37.128833,126.883833,경기도 화성시,4170741.0,False,False,False,True
1595,8834,90741,233000080,21,34,고주리.동방산업단지,233001571,37624.0,고주리.동방산업단지,233001571.0,37.136217,126.887767,경기도 화성시,4198938.0,False,False,False,True
1603,8842,90749,233000080,21,42,화성중고등학교,233000924,37256.0,화성중고등학교,233000924.0,37.137933,126.906050,경기도 화성시,4130358.0,False,False,True,True
1614,8854,90761,233000080,21,54,화성중고등학교,233000526,37255.0,화성중고등학교,233000526.0,37.138033,126.905483,경기도 화성시,4130359.0,False,False,True,True
1620,8861,90768,233000080,21,61,고주리.동방산업단지,233001523,37413.0,고주리.동방산업단지,233001523.0,37.136367,126.887950,경기도 화성시,4170754.0,False,False,False,True
1621,8862,90769,233000080,21,62,고주리,233001511,36735.0,고주리,233001511.0,37.128867,126.883750,경기도 화성시,4170742.0,False,False,False,True
1646,8892,90799,233000080,21,92,삼괴중고등학교,233001066,37497.0,삼괴중고등학교,233001066.0,37.086767,126.818933,경기도 화성시,4170845.0,False,False,True,True
1657,8912,90819,233000081,24,18,삼괴중고등학교,233001066,37497.0,삼괴중고등학교,233001066.0,37.086767,126.818933,경기도 화성시,4170845.0,False,False,True,True

In [482]:
school_line_arr = school_route['bus_line_no'].unique()

In [484]:
school_hash = {}
for a in school_line_arr:
    school_hash[a] = 0


# 버스노선ID8 = np.concatenate([p_8['버스노선ID1'], p_8['버스노선ID2'], p_8['버스노선ID3'], 
#                          p_8['버스노선ID4'], p_8['버스노선ID5']])

for i in range(len(school_route)):
    tmp = school_route.iloc[i]
    if tmp['school_elem'] == True:
        school_hash[tmp['bus_line_no']] += 1
    if tmp['school_mid'] == True:
        school_hash[tmp['bus_line_no']] += 1
    if tmp['school_high'] == True:
        school_hash[tmp['bus_line_no']] += 1
    
sorted_school_hash = dict(sorted(school_hash.items(), key=operator.itemgetter(1), reverse=True))
sorted_school_hash

{'1001': 59,
 '81': 34,
 '22': 31,
 '13-2': 29,
 '19-1': 28,
 '31-1': 28,
 '11-1': 27,
 '340-1': 26,
 '712': 26,
 '9-1': 26,
 '31-3': 26,
 '37': 26,
 '1000': 25,
 '21': 25,
 '50': 24,
 '13-4A': 24,
 '27-2': 23,
 '13-4': 23,
 '1008': 22,
 '26': 21,
 '3-2': 21,
 '79': 21,
 'H8': 20,
 '33-1': 19,
 '340': 19,
 '33-2': 19,
 '13-7': 19,
 '330': 18,
 '12-1': 18,
 '73-1': 17,
 '710': 17,
 '13-5': 17,
 '8501': 16,
 '201': 16,
 '80': 16,
 '13-6': 16,
 '11-3': 15,
 '31': 15,
 '31-2': 15,
 '721': 14,
 '22-3(신경대)': 14,
 '13-3': 14,
 '77': 13,
 '78': 13,
 'H5': 13,
 '13-1': 13,
 '720-3': 13,
 '19-3': 12,
 '22-2': 12,
 '22-3(장전)': 12,
 '38': 12,
 '1002': 12,
 '50-1': 12,
 '150': 11,
 '20-3(왕모대시청)': 11,
 '8156(급행)': 10,
 '205': 10,
 '6004': 10,
 'H2': 10,
 '50-2': 10,
 '10-6': 10,
 '10-7': 10,
 '10-2': 10,
 '10-1': 10,
 '10-3': 10,
 '10-4': 10,
 '10-5': 10,
 '10-8': 10,
 '7': 10,
 '4': 10,
 '4-1': 10,
 '20': 10,
 '28': 10,
 '공영2(송정대광A)': 10,
 '20-3(쌍쏭.대광A)': 10,
 '8-3': 9,
 '116-2': 9,
 '17': 9,
 '2000B': 9,
 '공영2(삼존대광A)': 9,
 '1': 8,
 '200': 8,
 '116-5': 8,
 '38-1': 8,
 '5-4': 8,
 '202': 8,
 '203': 8,
 '4403': 8,
 '4108': 8,
 'H1': 8,
 '50-2(금강)': 8,
 '50-3(안석)': 8,
 '50-6(대광1차)': 8,
 '50-4(대광1차)': 8,
 '50-3(살곶)': 8,
 '50-6(대광2차)': 8,
 '50-8(송산)': 8,
 '5-2': 8,
 'H4': 7,
 'H6(A)': 7,
 '35-2': 7,
 '2': 7,
 '1004': 7,
 '1-1': 6,
 '330-1': 6,
 'H6(B)': 6,
 '35': 6,
 '27': 6,
 '1004-1': 6,
 '3-1': 5,
 '8155': 5,
 '9802': 5,
 '333': 5,
 '공영1(사곳.궁평)': 5,
 '공영1(매화.궁평)': 5,
 '공영1(궁평.사곳)': 5,
 '13': 5,
 '11-2': 5,
 '12': 5,
 '11-4': 5,
 '19-2': 4,
 '20(마산포)': 4,
 '20(어도동내)': 4,
 '20(어도펜션)': 4,
 '17-1': 4,
 '5-1A': 4,
 '39-2': 4,
 '100': 4,
 '9': 4,
 '19': 4,
 '8-2': 4,
 '8-1': 4,
 '24': 4,
 '50-7': 4,
 '2-2': 3,
 '6002-1': 3,
 '76': 3,
 '709': 3,
 '공영4(마산.고포)': 3,
 '공영4(솔미.구렛)': 3,
 '20-1(홍법리)': 3,
 '공영3(솔미.구렛)': 3,
 '20-4A': 3,
 '20-4B': 3,
 '27-1': 3,
 '35-1': 3,
 '66A': 3,
 '66': 3,
 '2-3': 3,
 '2-1': 3,
 '709-1': 3,
 '7-1': 3,
 '6': 2,
 '11': 2,
 '6-2': 2,
 '11-5': 2,
 '6002': 2,
 '29': 2,
 'H3': 2,
 '공영3(청원.삼존)': 2,
 '공영3(삼존.청원)': 2,
 '공영4(형도.고포)': 2,
 '20-3(당성왕모대)': 2,
 '10': 2,
 '39': 2,
 '6-3': 2,
 '2-4': 2,
 '18': 2,
 '25': 2,
 '8156': 2,
 'H7': 2,
 '6001': 2,
 '6003': 2,
 '15': 1,
 '14': 1,
 '3': 1,
 '8': 1,
 '23': 1,
 '공영2(금당2리)': 1,
 '공영3(금당2리)': 1,
 '16': 1,
 '공영1(지화2리)': 1,
 '공영2(지화2리)': 1,
 '공영3(장문지화1)': 1,
 '공영4(도말.고포)': 1,
 '20-2(용포화석지)': 1,
 '20-2(천등.고정)': 1,
 '20-2(용포고정천)': 1,
 '20-2(용포.고정)': 1,
 '20-2(천등화석지)': 1,
 '20-1(독지리)': 1,
 '공영3(지화2리)': 1,
 '공영4(돌내.형도)': 1,
 '공영4(돌내독지1)': 1,
 '공영4(돌내독지2)': 1,
 '20-1(고모리)': 1}

In [500]:
sorted_school_hash['11-1']

27

In [490]:
school_line_arr

array(['330', '33-1', '15', '14', '3-1', '3', '2-2', '6', '11', '6-2',
       '8', '8-3', '1', '1-1', '11-5', '340', '1000', '330-1', '23', '26',
       '340-1', '1008', '33-2', '712', '73-1', '1001', '8501', '6002',
       '8155', '201', '6002-1', '710', '150', '200', '8156(급행)', '9802',
       '116-5', '205', '6004', '721', '116-2', '9-1', '31-3', '3-2', '50',
       '76', '77', '78', '79', '80', '81', '333', '709', 'H4', 'H5',
       'H6(A)', 'H6(B)', '19-1', '19-2', '29', '19-3', 'H3', 'H2',
       '20(마산포)', '20(어도동내)', '20(어도펜션)', '공영1(사곳.궁평)', '공영1(매화.궁평)',
       '공영1(궁평.사곳)', '공영2(금당2리)', '공영3(청원.삼존)', '공영3(삼존.청원)', '공영3(금당2리)',
       '공영4(마산.고포)', '공영4(형도.고포)', '공영4(솔미.구렛)', '20-1(홍법리)',
       '20-3(왕모대시청)', '20-3(당성왕모대)', '공영3(솔미.구렛)', '20-4A', '20-4B',
       '11-3', '13', '27-1', '27-2', '17-1', '50-2', '5-1A', '22-2', '22',
       '22-3(장전)', '22-3(신경대)', 'H8', '10-6', '10-7', '10-2', '10-1',
       '10-3', '10-4', '10-5', '39-2', '37', '13-3', '13-2', '13-1',
       '13-4', '12-1', '13-4A', '11-1', '13-7', '10-8', '13-5', '13-6',
       '31', '31-1', '31-2', '35-1', '66A', '35-2', '66', '35', '100',
       '38-1', '10', '9', '38', '7', '19', '17', '11-2', '12', '21', '39',
       '6-3', '2', '4', '5-4', '2-4', '2-3', '16', '18', '4-1', '8-2',
       '2-1', '8-1', '11-4', '20', '25', '1002', '202', '203', '8156',
       '2000B', '4403', '28', '4108', '720-3', '709-1', 'H1', '공영1(지화2리)',
       '공영2(삼존대광A)', '공영2(송정대광A)', '공영2(지화2리)', '공영3(장문지화1)',
       '공영4(도말.고포)', '20-2(용포화석지)', '20-2(천등.고정)', '20-2(용포고정천)',
       '20-2(용포.고정)', '20-2(천등화석지)', '20-1(독지리)', '20-3(쌍쏭.대광A)',
       '공영3(지화2리)', '공영4(돌내.형도)', '공영4(돌내독지1)', '공영4(돌내독지2)', '50-2(금강)',
       '50-1', '50-3(안석)', '50-6(대광1차)', '50-4(대광1차)', '50-3(살곶)',
       '50-6(대광2차)', '50-8(송산)', 'H7', '27', '5-2', '24', '1004',
       '1004-1', '6001', '6003', '20-1(고모리)', '50-7', '7-1'], dtype=object)

3-2. 마트 정류장

In [531]:
filteredRoute['mart'] = filteredRoute['station_nm'].apply(lambda x: True if '마트' in x else False)

In [533]:
filteredRoute[filteredRoute['mart']==True]['이비카드정류장ID'].unique()

array([4130356., 4130357., 4130120., 4199077., 4199456., 4170419.,
       4170493., 4130229., 4116672.])

In [537]:
m_arr = filteredRoute[filteredRoute['mart']==True]['bus_line_no'].unique()

In [547]:
'720-3' in m_arr

True

In [522]:
TripChain_bus.shape

(803295, 27)

In [524]:
TripChain_bus['최초승차역ID']=TripChain_bus['승차역ID1']

In [517]:
StationTable[StationTable['이비카드정류장ID'] != np.nan]

,Unnamed: 0,표준정류장ID,시군명,정류소명,정류소영문명,정류소번호,중앙차로여부,관할관청,위치,WGS84위도,WGS84경도,모바일정류장ID,이비카드정류장ID,station_id
0,0,228003422,용인시,손골마을회관.국제학교,"Songol Community Center,",56443.0,노변정류장,경기도 용인시,NaN,37.342517,127.066817,56443,NaN,228003422
1,1,228003423,용인시,풀잎사랑,Pulipsarang,56444.0,노변정류장,경기도 용인시,NaN,37.341800,127.068983,56444,NaN,228003423
2,2,228003424,용인시,풀잎사랑,Pulipsarang,56445.0,노변정류장,경기도 용인시,NaN,37.341817,127.069083,56445,NaN,228003424
3,3,228003425,용인시,대성공정,Daesung Process,56446.0,노변정류장,경기도 용인시,NaN,37.339350,127.073067,56446,NaN,228003425
4,4,228003426,용인시,대성공정,Daesung Process,56447.0,노변정류장,경기도 용인시,NaN,37.339183,127.073400,56447,NaN,228003426
5,5,228003427,용인시,지플러스.벨몽테,Gieungsa,56448.0,노변정류장,경기도 용인시,NaN,37.338267,127.075033,56448,NaN,228003427
6,6,228003428,용인시,지플러스.벨몽테,Gieungsa,56449.0,노변정류장,경기도 용인시,NaN,37.338333,127.075067,56449,NaN,228003428
7,7,228003429,용인시,동천동용인한빛중학교,Dongcheon-dong Yongin Hanbit Middle School,56450.0,노변정류장,경기도 용인시,NaN,37.337900,127.084967,56450,NaN,228003429
8,8,228003443,용인시,신봉센트레빌6차,Sinbong Centreville 6-cha,56464.0,노변정류장,경기도 용인시,NaN,37.331733,127.064617,56464,NaN,228003443
9,9,228003447,용인시,래미안이스트팰리스4단지,Raemian East Palace 4-danji,56468.0,노변정류장,경기도 용인시,NaN,37.336250,127.086833,56468,NaN,228003447
10,10,228003470,용인시,성우석재앞,Sungwoo Stone,56491.0,노변정류장,경기도 용인시,NaN,37.359983,127.063733,56491,NaN,228003470
11,11,228003481,용인시,동천자이,Dongcheon-dong,56502.0,노변정류장,경기도 용인시,NaN,37.345850,127.092583,56502,NaN,228003481
12,12,228003481,용인시,동천자이,Dongcheon-dong,56502.0,노변정류장,경기도 용인시,NaN,37.345850,127.092583,56502,NaN,228003481
13,13,228003482,용인시,동천자이,Dongcheon-dong,56503.0,노변정류장,경기도 용인시,NaN,37.345967,127.092733,56503,NaN,228003482
14,14,228003482,용인시,동천자이,Dongcheon-dong,56503.0,노변정류장,경기도 용인시,NaN,37.345967,127.092733,56503,NaN,228003482
15,15,228003485,용인시,남영골프장,Namyeong Golf Range,56506.0,노변정류장,경기도 용인시,NaN,37.343000,127.096467,56506,NaN,228003485
16,16,228003486,용인시,남영골프장,Namyeong Golf Range,56507.0,노변정류장,경기도 용인시,NaN,37.343100,127.096600,56507,NaN,228003486
17,17,228003487,용인시,동문5차아파트삼거리,Dongmun Apartment 5-cha Samgeori,56508.0,노변정류장,경기도 용인시,NaN,37.339600,127.096350,56508,NaN,228003487
18,18,228003490,용인시,산울마을,Sanul Maeul,56511.0,노변정류장,경기도 용인시,NaN,37.359117,127.048267,56511,NaN,228003490
19,19,228003503,용인시,죽전역,Jukjeon Station,56524.0,노변정류장,경기도 용인시,NaN,37.324167,127.106900,56524,NaN,228003503
20,20,228003503,용인시,죽전역,Jukjeon Station,56524.0,노변정류장,경기도 용인시,NaN,37.324167,127.106900,56524,NaN,228003503
21,21,228003565,용인시,한양수자인더킨포크,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56608,NaN,228003565
22,22,228003565,용인시,한양수자인더킨포크,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56608,NaN,228003565
23,23,205000024,성남시,단대쇼핑(마을),NaN,NaN,NaN,NaN,NaN,NaN,NaN,6207,NaN,205000024
24,24,231000835,안성시,신안CC,Si CC,33103.0,노변정류장,경기도 안성시,경기도 안성시 고삼면,37.092800,127.259133,33103,NaN,231000835
25,25,231000837,안성시,노곡낚시터,Nogok Fishery,34216.0,노변정류장,경기도 안성시,경기도 안성시 양성면,37.103883,127.255117,34216,NaN,231000837
26,26,205000272,성남시,남한산성입구역.법원검찰청(마을),NaN,NaN,NaN,NaN,NaN,NaN,NaN,6261,NaN,205000272
27,27,205000272,성남시,남한산성입구역.법원검찰청(마을),NaN,NaN,NaN,NaN,NaN,NaN,NaN,6261,NaN,205000272
28,28,205000273,성남시,센트럴타운3단지,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6262,NaN,205000273
29,29,205000273,성남시,센트럴타운3단지,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6262,NaN,205000273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39427,39427,236001149,포천시,메이필드앞,May Field,40622.0,노변정류장,경기도 포천시,NaN,38.070433,127.292683,40622,NaN,236001149
39428,39428,236001149,포천시,메이필드앞,May Field,40622.0,노변정류장,경기도 포천시,NaN,38.070433,127.292683,40622,NaN,236001149
39429,39429,236001150,포천시,운천5리.마을상회,"Uncheon 5-ri, Maeul Market",40626.0,노변정류장,경기도 포천시,경기도 포천시 영북면,38.075300,127.284583,40626,NaN,236001150
39430,39430,236001150,포천시,운천5리.마을상회,"Uncheon 5-ri, Maeul Market",40626.0,노변정류장,경기도 포천시,경기도 포천시 영북면,38.075300,127.284583,40626,NaN,236001150
39431,39431,236001151,포천시,운천5리.마을상회앞,"Uncheon 5-ri, Maeul Market",40630.0,노변정류장,경기도 포천시,경기도 포천시 영북면,38.075250,127.284517,40630,NaN,236001151
39432,39432,236001151,포천시,운천5리.마을상회앞,"Uncheon 5-ri, Maeul Market",40630.0,노변정류장,경기도 포천시,경기도 포천시 영북면,38.075250,127.284517,40630,NaN,236001151
39433,39433,236001152,포천시,문암삼거리,Munam Samgeori,40631.0,노변정류장,경기도 포천시,경기도 포천시 영북면,38.079650,127.276367,40631,NaN,236001152
39434,39434,236001152,포천시,문암삼거리,Munam Samgeori,40631.0,노변정류장,경기도 포천시,경기도 포천시 영북면,38.079650,127.276367,40631,NaN,236001152
39435,39435,236001152,포천시,문암삼거리,Munam Samgeori,40631.0,노변정류장,경기도 포천시,경기도 포천시 영북면,38.079650,127.276367,40631,NaN,236001152
39436,39436,236001172,포천시,포천아트밸리,Art Valley,40674.0,노변정류장,경기도 포천시,경기도 포천시 동교동,37.923517,127.236850,40674,NaN,236001172
39437,39437,228003342,용인시,동백세브란스병원,Dongbaek Severance Hotel,56387.0,노변정류장,경기도 용인시,NaN,37.271183,127.150017,56387,NaN,228003342
39438,39438,228003342,용인시,동백세브란스병원,Dongbaek Severance Hotel,56387.0,노변정류장,경기도 용인시,NaN,37.271183,127.150017,56387,NaN,228003342
39439,39439,228003343,용인시,동백역3번출구,Dongbaek Station,56388.0,노변정류장,경기도 용인시,NaN,37.269183,127.152417,56388,NaN,228003343
39440,39440,228003343,용인시,동백역3번출구,Dongbaek Station,56388.0,노변정류장,경기도 용인시,NaN,37.269183,127.152417,56388,NaN,228003343
39441,39441,228003343,용인시,동백역3번출구,Dongbaek Station,56388.0,노변정류장,경기도 용인시,NaN,37.269183,127.152417,56388,NaN,228003343
39442,39442,236001186,포천시,오리랜드,Ori Land,41660.0,노변정류장,경기도 포천시,경기도 포천시 소흘읍,37.803617,127.164167,41660,NaN,236001186
39443,39443,236001187,포천시,오리랜드,Ori Land,41664.0,노변정류장,경기도 포천시,경기도 포천시 소흘읍,37.803483,127.164283,41664,NaN,236001187
39444,39444,228003375,용인시,현대1차후문,Hyunda 1-cha Back Gate,56396.0,노변정류장,경기도 용인시,NaN,37.325367,127.095650,56396,NaN,228003375
39445,39445,228003375,용인시,현대1차후문,Hyunda 1-cha Back Gate,56396.0,노변정류장,경기도 용인시,NaN,37.325367,127.095650,56396,NaN,228003375
39446,39446,228003379,용인시,한국전력.등산로입구,"KEPCO, Trail",56400.0,노변정류장,경기도 용인시,NaN,37.326033,127.061250,56400,NaN,228003379
39447,39447,228003379,용인시,한국전력.등산로입구,"KEPCO, Trail",56400.0,노변정류장,경기도 용인시,NaN,37.326033,127.061250,56400,NaN,228003379
39448,39448,236001214,포천시,너베기입구,Neobegi,40673.0,노변정류장,경기도 포천시,경기도 포천시 가산면,37.832217,127.182733,40673,NaN,236001214
39449,39449,228003381,용인시,현대빌리지.광교산자이,Hyundai Village,56402.0,노변정류장,경기도 용인시,NaN,37.326433,127.071317,56402,NaN,228003381
39450,39450,228003382,용인시,현대빌리지.광교산자이,Hyundai Village,56403.0,노변정류장,경기도 용인시,NaN,37.326450,127.071100,56403,NaN,228003382
39451,39451,236001229,포천시,평강식물원,Pyunggang Botanical Garden,40691.0,노변정류장,경기도 포천시,경기도 포천시 영북면,38.050650,127.306617,40691,NaN,236001229
39452,39452,236001229,포천시,평강식물원,Pyunggang Botanical Garden,40691.0,노변정류장,경기도 포천시,경기도 포천시 영북면,38.050650,127.306617,40691,NaN,236001229
39453,39453,236001230,포천시,양문1리.영중면사무소,"Yangmun 1-ri, Yeongjung-myeon Office",40699.0,노변정류장,경기도 포천시,NaN,38.005517,127.245667,40699,NaN,236001230
39454,39454,236001234,포천시,포천농협.하나로마트,"Pocheon Nonghyup, Hanaro Mart",40692.0,노변정류장,경기도 포천시,NaN,37.901217,127.206933,40692,NaN,236001234
39455,39455,236001234,포천시,포천농협.하나로마트,"Pocheon Nonghyup, Hanaro Mart",40692.0,노변정류장,경기도 포천시,NaN,37.901217,127.206933,40692,NaN,236001234
39456,39456,236001234,포천시,포천농협.하나로마트,"Pocheon Nonghyup, Hanaro Mart",40692.0,노변정류장,경기도 포천시,NaN,37.901217,127.206933,40692,NaN,236001234

---

### 이용객 수 다시 전처리

In [3]:
TripChain = pd.read_csv('../Data/PJT001_TripChain.csv')

In [4]:
TripChain.head()

,암호화카드번호||','||트랜잭션ID||','||환승횟수||','||교통카드발행사ID||','||총이용객수||','||사용자구분||','||교통수단CD1||','||교통수단CD2||','||교통수단CD3||','||교통수단CD4||',...,'||하차역ID1||','||하차역ID2||','||하차역ID3||','||하차역ID4||','||하차역ID5||','||최초승차역ID||','||최종하차역ID||','||총이용금액||','||수집건수||','||트립체인완료코드
0,900079696430,56,2,9000923,1,1,500.0,500.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4116708.0,1350,2,;
1,900079697651,5,1,9000923,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4117269.0,1250,1,;
2,900079698254,32,1,9000923,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4107936.0,1550,1,;
3,900079699257,80,1,9000923,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4116717.0,1250,1,;
4,900079701419,64,1,9000923,1,1,530.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4116848.0,2050,1,;

In [5]:
TripChain.columns=['암호화카드번호', '트랜잭션ID', '환승횟수', '교통카드발행사ID',
       '총이용객수', '사용자구분', '교통수단CD1', '교통수단CD2',
       '교통수단CD3', '교통수단CD4', '교통수단CD5', '버스노선ID1',
       '버스노선ID2', '버스노선ID3', '버스노선ID4', '버스노선ID5',
       '차량ID1', '차량ID2', '차량ID3', '차량ID4',
       '차량ID5', '총통행거리', '총탑승시간', '총소요시간',
       '승차일시1', '승차일시2', '승차일시3', '승차일시4',
       '승차일시5', '하차일시1', '하차일시2', '하차일시3',
       '하차일시4', '하차일시5', '최초승차일시', '최종하차일시',
       '승차역ID1', '승차역ID2', '승차역ID3', '승차역ID4',
       '승차역ID5', '하차역ID1', '하차역ID2', '하차역ID3',
       '하차역ID4', '하차역ID5', '최초승차역ID', '최종하차역ID',
       '총이용금액', '수집건수', '트립체인완료코드']

In [6]:
TripChain['최초승차역ID'] = TripChain['승차역ID1']

In [7]:
TripChain.drop_duplicates(subset =["암호화카드번호", "최초승차일시", "최종하차일시"], 
                     keep = 'first', inplace = True)

In [8]:
TripChain.sample()

,암호화카드번호,트랜잭션ID,환승횟수,교통카드발행사ID,총이용객수,사용자구분,교통수단CD1,교통수단CD2,교통수단CD3,교통수단CD4,...,하차역ID1,하차역ID2,하차역ID3,하차역ID4,하차역ID5,최초승차역ID,최종하차역ID,총이용금액,수집건수,트립체인완료코드
46390,900515420833,30,1,3101915,1,4,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4170093.0,4116825.0,870,1,;

In [114]:
RouteStation_latlon = pd.read_csv('RouteStationInfo_latlon.csv')

In [115]:
RouteStationMapping = pd.read_csv('../Data/PJT001_routestationmapping.csv')

In [116]:
All_bus_id = RouteStation_latlon['pr_station_id'].unique()
# 화성시 bus id만 저장

In [117]:
All_bus_id = list(All_bus_id)
All_bus_id

[241317009,
 241483001,
 241319005,
 241319032,
 241319029,
 241319002,
 241319009,
 241319010,
 241483002,
 241319043,
 233000134,
 241319044,
 241335026,
 241483017,
 233000010,
 233000013,
 233000015,
 233000019,
 233000021,
 233000022,
 233000024,
 233000025,
 233000026,
 233000027,
 233000028,
 233000029,
 233000035,
 233000034,
 233000040,
 233000041,
 233000043,
 233000044,
 233000046,
 233000047,
 233000048,
 233000051,
 233000052,
 233000056,
 233000057,
 233000058,
 233000060,
 233000062,
 233000064,
 233000264,
 241205014,
 241205017,
 233000080,
 241485006,
 241485018,
 241485021,
 233000128,
 241205022,
 241324001,
 233000268,
 233000079,
 233000081,
 233000085,
 241205008,
 241205012,
 241485015,
 241485016,
 241485052,
 241205016,
 241485038,
 233000095,
 233000126,
 233000130,
 241205018,
 241324002,
 241205023,
 233000252,
 241323001,
 233000141,
 241317011,
 241485041,
 241483004,
 241317002,
 233000267,
 241205003,
 241485024,
 241485045,
 233000275,
 233000281,
 241317004,
 241491008,
 241485050,
 241205013,
 241205015,
 241324005,
 241317008,
 241324003,
 241317007,
 241319003,
 241319004,
 241319006,
 241319007,
 241319008,
 241319011,
 241319013,
 241319015,
 241319020,
 241319021,
 241319022,
 241319023,
 241319024,
 241319025,
 241319030,
 241319031,
 241319039,
 241319042,
 241491004,
 241491010,
 241324004,
 241335001,
 241335002,
 241483003,
 241483005,
 241483006,
 241483007,
 241483009,
 241483014,
 241483016,
 241483018,
 241483019,
 241483022,
 241485017,
 241485020,
 241485022,
 241485046,
 241485035,
 241485039,
 241485040,
 241485048,
 241485051,
 241485053,
 241491002,
 241491003]

In [124]:
len(All_bus_id)

137

In [125]:
RouteStation_latlon = RouteStation_latlon.sort_values('pr_station_id', ascending=True)
RouteStation_latlon.shape

(2216, 13)

In [126]:
TripChain['isHwasung'] = 0

In [121]:
new_TripChain = TripChain.copy()

In [122]:
RouteStationMapping.shape

(2127, 6)

In [123]:
RouteStationMapping.sample()

       구분  운수사명    운수사ID     이비노선ID    표준노선ID 노선명
894  경기시내  경진여객  4100800  233000058  41008140   7

In [127]:
RouteStationMapping['isHwasung'] = RouteStationMapping['이비노선ID'].apply(lambda x: True if x in All_bus_id else False)

In [128]:
Route_Mapping = RouteStationMapping[RouteStationMapping['isHwasung'] == True]
Route_Mapping.head()

       구분  운수사명    운수사ID     이비노선ID    표준노선ID   노선명  isHwasung
862  경기시내  경진여객  4100800  233000010  41008001  33-1       True
863  경기시내  경진여객  4100800  233000013  41008101     2       True
864  경기시내  경진여객  4100800  233000015  41008103     4       True
865  경기시내  경진여객  4100800  233000019  41008110   5-2       True
866  경기시내  경진여객  4100800  233000021  41008112   5-4       True

In [129]:
Route_Mapping.shape

(41, 7)

In [130]:
Route_Mapping['p_1'] = Route_Mapping['isHwasung'].apply(lambda x: 0 if x is True else False)
Route_Mapping['p_2'] = Route_Mapping['isHwasung'].apply(lambda x: 0 if x is True else False)
Route_Mapping['p_4'] = Route_Mapping['isHwasung'].apply(lambda x: 0 if x is True else False)
Route_Mapping['p_8'] = Route_Mapping['isHwasung'].apply(lambda x: 0 if x is True else False)
Route_Mapping.drop_duplicates(subset =["이비노선ID", "표준노선ID"], 
                     keep = 'first', inplace = True)
Route_Mapping.shape

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

(41, 8)

In [131]:
Route_Mapping

        구분     운수사명    운수사ID     이비노선ID    표준노선ID    노선명  isHwasung  p_1
862   경기시내     경진여객  4100800  233000010  41008001   33-1       True    0
863   경기시내     경진여객  4100800  233000013  41008101      2       True    0
864   경기시내     경진여객  4100800  233000015  41008103      4       True    0
865   경기시내     경진여객  4100800  233000019  41008110    5-2       True    0
866   경기시내     경진여객  4100800  233000021  41008112    5-4       True    0
867   경기시내     경진여객  4100800  233000022  41008115     15       True    0
868   경기시내     경진여객  4100800  233000024  41008114     14       True    0
869   경기시내     경진여객  4100800  233000025  41008105      9       True    0
870   경기시내     경진여객  4100800  233000026  41008117     19       True    0
871   경기시내     경진여객  4100800  233000027  41008108    3-1       True    0
872   경기시내     경진여객  4100800  233000028  41008102      3       True    0
873   경기시내     경진여객  4100800  233000029  41008107    2-4       True    0
877   경기시내     경진여객  4100800  233000034  41008118     16       True    0
878   경기시내     경진여객  4100800  233000035  41008119    2-2       True    0
881   경기시내     경진여객  4100800  233000040  41008124      6       True    0
882   경기시내     경진여객  4100800  233000041  41008125     11       True    0
883   경기시내     경진여객  4100800  233000043  41008126    6-2       True    0
884   경기시내     경진여객  4100800  233000044  41008127     17       True    0
886   경기시내     경진여객  4100800  233000046  41008129      8       True    0
887   경기시내     경진여객  4100800  233000047  41008130    8-3       True    0
888   경기시내     경진여객  4100800  233000048  41008131      1       True    0
890   경기시내     경진여객  4100800  233000051  41008133    1-1       True    0
891   경기시내     경진여객  4100800  233000052  41008134    2-1       True    0
892   경기시내     경진여객  4100800  233000056  41008138    7-1       True    0
893   경기시내     경진여객  4100800  233000057  41008139    8-1       True    0
894   경기시내     경진여객  4100800  233000058  41008140      7       True    0
896   경기시내     경진여객  4100800  233000060  41008142   11-2       True    0
897   경기시내     경진여객  4100800  233000062  41008144   11-4       True    0
898   경기시내     경진여객  4100800  233000064  41008137     10       True    0
899   경기시내     경진여객  4100800  233000079  41008145     20       True    0
900   경기시내     경진여객  4100800  233000080  41008146     21       True    0
901   경기시내     경진여객  4100800  233000081  41008147     24       True    0
903   경기시내     경진여객  4100800  233000085  41008150     23       True    0
907   경기시내     경진여객  4100800  233000095  41008156     26       True    0
909   경기시내     경진여객  4100800  233000126  41008161   33-2       True    0
1916  경기시내     제부여객  4106100  233000134  41061022   1001       True    0
2026  경기시내     화성운수  4107500  233000128  41075031    712       True    0
2027  경기시내     화성운수  4107500  233000130  41075017   73-1       True    0
2029  경기시내     화성운수  4107500  233000252  41075030    710       True    0
2032  경기시내     화성운수  4107500  233000264  41075035  2000B       True    0
2105  경기시내  (주)화성여객  4108600  233000141  41086009    201       True    0

In [132]:
normal_id_h = Route_Mapping['표준노선ID'].unique()

In [133]:
normal_id_h

array([41008001, 41008101, 41008103, 41008110, 41008112, 41008115,
       41008114, 41008105, 41008117, 41008108, 41008102, 41008107,
       41008118, 41008119, 41008124, 41008125, 41008126, 41008127,
       41008129, 41008130, 41008131, 41008133, 41008134, 41008138,
       41008139, 41008140, 41008142, 41008144, 41008137, 41008145,
       41008146, 41008147, 41008150, 41008156, 41008161, 41061022,
       41075031, 41075017, 41075030, 41075035, 41086009], dtype=int64)

### 해당 노선을 탄 p_1 (일반인)

In [191]:
new_TripChain.drop_

,암호화카드번호,트랜잭션ID,환승횟수,교통카드발행사ID,총이용객수,사용자구분,교통수단CD1,교통수단CD2,교통수단CD3,교통수단CD4,...,하차역ID2,하차역ID3,하차역ID4,하차역ID5,최초승차역ID,최종하차역ID,총이용금액,수집건수,트립체인완료코드,isHwasung
17619,900504225088,64,2,9000927,1,1,500.0,500.0,NaN,NaN,...,NaN,NaN,NaN,NaN,4160308.0,4117044.0,1250,2,;,0

In [134]:
new_TripChain_1 = new_TripChain[new_TripChain['사용자구분']==1]
new_TripChain_1.shape

(943298, 52)

In [109]:
41002045.0 == 41002045

True

In [ ]:
# '암호화카드번호', '트랜잭션ID', '환승횟수', '교통카드발행사ID',
#        '총이용객수', '사용자구분', '교통수단CD1', '교통수단CD2',
#        '교통수단CD3', '교통수단CD4', '교통수단CD5', '버스노선ID1',
#        '버스노선ID2', '버스노선ID3', '버스노선ID4', '버스노선ID5',
#        '차량ID1', '차량ID2', '차량ID3', '차량ID4',
#        '차량ID5', '총통행거리', '총탑승시간', '총소요시간',
#        '승차일시1', '승차일시2', '승차일시3', '승차일시4',
#        '승차일시5', '하차일시1', '하차일시2', '하차일시3',
#        '하차일시4', '하차일시5', '최초승차일시', '최종하차일시',
#        '승차역ID1', '승차역ID2', '승차역ID3', '승차역ID4',
#        '승차역ID5', '하차역ID1', '하차역ID2', '하차역ID3',
#        '하차역ID4', '하차역ID5', '최초승차역ID', '최종하차역ID',
#        '총이용금액', '수집건수', '트립체인완료코드'

In [193]:
Route_Mapping

,구분,운수사명,운수사ID,이비노선ID,표준노선ID,노선명,isHwasung,p_1,p_2,p_3,p_4,p_5
862,경기시내,경진여객,4100800,233000010,41008001,33-1,True,0,0,0,0,0
863,경기시내,경진여객,4100800,233000013,41008101,2,True,0,0,0,0,0
864,경기시내,경진여객,4100800,233000015,41008103,4,True,0,0,0,0,0
865,경기시내,경진여객,4100800,233000019,41008110,5-2,True,0,0,0,0,0
866,경기시내,경진여객,4100800,233000021,41008112,5-4,True,0,0,0,0,0
867,경기시내,경진여객,4100800,233000022,41008115,15,True,0,0,0,0,0
868,경기시내,경진여객,4100800,233000024,41008114,14,True,0,0,0,0,0
869,경기시내,경진여객,4100800,233000025,41008105,9,True,0,0,0,0,0
870,경기시내,경진여객,4100800,233000026,41008117,19,True,0,0,0,0,0
871,경기시내,경진여객,4100800,233000027,41008108,3-1,True,0,0,0,0,0
872,경기시내,경진여객,4100800,233000028,41008102,3,True,0,0,0,0,0
873,경기시내,경진여객,4100800,233000029,41008107,2-4,True,0,0,0,0,0
877,경기시내,경진여객,4100800,233000034,41008118,16,True,0,0,0,0,0
878,경기시내,경진여객,4100800,233000035,41008119,2-2,True,0,0,0,0,0
881,경기시내,경진여객,4100800,233000040,41008124,6,True,0,0,0,0,0
882,경기시내,경진여객,4100800,233000041,41008125,11,True,0,0,0,0,0
883,경기시내,경진여객,4100800,233000043,41008126,6-2,True,0,0,0,0,0
884,경기시내,경진여객,4100800,233000044,41008127,17,True,0,0,0,0,0
886,경기시내,경진여객,4100800,233000046,41008129,8,True,0,0,0,0,0
887,경기시내,경진여객,4100800,233000047,41008130,8-3,True,0,0,0,0,0
888,경기시내,경진여객,4100800,233000048,41008131,1,True,0,0,0,0,0
890,경기시내,경진여객,4100800,233000051,41008133,1-1,True,0,0,0,0,0
891,경기시내,경진여객,4100800,233000052,41008134,2-1,True,0,0,0,0,0
892,경기시내,경진여객,4100800,233000056,41008138,7-1,True,0,0,0,0,0
893,경기시내,경진여객,4100800,233000057,41008139,8-1,True,0,0,0,0,0
894,경기시내,경진여객,4100800,233000058,41008140,7,True,0,0,0,0,0
896,경기시내,경진여객,4100800,233000060,41008142,11-2,True,0,0,0,0,0
897,경기시내,경진여객,4100800,233000062,41008144,11-4,True,0,0,0,0,0
898,경기시내,경진여객,4100800,233000064,41008137,10,True,0,0,0,0,0
899,경기시내,경진여객,4100800,233000079,41008145,20,True,0,0,0,0,0
900,경기시내,경진여객,4100800,233000080,41008146,21,True,0,0,0,0,0
901,경기시내,경진여객,4100800,233000081,41008147,24,True,0,0,0,0,0
903,경기시내,경진여객,4100800,233000085,41008150,23,True,0,0,0,0,0
907,경기시내,경진여객,4100800,233000095,41008156,26,True,0,0,0,0,0
909,경기시내,경진여객,4100800,233000126,41008161,33-2,True,0,0,0,0,0
1916,경기시내,제부여객,4106100,233000134,41061022,1001,True,0,0,0,0,0
2026,경기시내,화성운수,4107500,233000128,41075031,712,True,0,0,0,0,0
2027,경기시내,화성운수,4107500,233000130,41075017,73-1,True,0,0,0,0,0
2029,경기시내,화성운수,4107500,233000252,41075030,710,True,0,0,0,0,0
2032,경기시내,화성운수,4107500,233000264,41075035,2000B,True,0,0,0,0,0
2105,경기시내,(주)화성여객,4108600,233000141,41086009,201,True,0,0,0,0,0

In [195]:
Route_Mapping['p_1'] = 0
Route_Mapping['p_2'] = 0
Route_Mapping['p_3'] = 0
Route_Mapping['p_4'] = 0
Route_Mapping['p_5'] = 0
Route_Mapping

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,구분,운수사명,운수사ID,이비노선ID,표준노선ID,노선명,isHwasung,p_1,p_2,p_3,p_4,p_5
862,경기시내,경진여객,4100800,233000010,41008001,33-1,True,0,0,0,0,0
863,경기시내,경진여객,4100800,233000013,41008101,2,True,0,0,0,0,0
864,경기시내,경진여객,4100800,233000015,41008103,4,True,0,0,0,0,0
865,경기시내,경진여객,4100800,233000019,41008110,5-2,True,0,0,0,0,0
866,경기시내,경진여객,4100800,233000021,41008112,5-4,True,0,0,0,0,0
867,경기시내,경진여객,4100800,233000022,41008115,15,True,0,0,0,0,0
868,경기시내,경진여객,4100800,233000024,41008114,14,True,0,0,0,0,0
869,경기시내,경진여객,4100800,233000025,41008105,9,True,0,0,0,0,0
870,경기시내,경진여객,4100800,233000026,41008117,19,True,0,0,0,0,0
871,경기시내,경진여객,4100800,233000027,41008108,3-1,True,0,0,0,0,0
872,경기시내,경진여객,4100800,233000028,41008102,3,True,0,0,0,0,0
873,경기시내,경진여객,4100800,233000029,41008107,2-4,True,0,0,0,0,0
877,경기시내,경진여객,4100800,233000034,41008118,16,True,0,0,0,0,0
878,경기시내,경진여객,4100800,233000035,41008119,2-2,True,0,0,0,0,0
881,경기시내,경진여객,4100800,233000040,41008124,6,True,0,0,0,0,0
882,경기시내,경진여객,4100800,233000041,41008125,11,True,0,0,0,0,0
883,경기시내,경진여객,4100800,233000043,41008126,6-2,True,0,0,0,0,0
884,경기시내,경진여객,4100800,233000044,41008127,17,True,0,0,0,0,0
886,경기시내,경진여객,4100800,233000046,41008129,8,True,0,0,0,0,0
887,경기시내,경진여객,4100800,233000047,41008130,8-3,True,0,0,0,0,0
888,경기시내,경진여객,4100800,233000048,41008131,1,True,0,0,0,0,0
890,경기시내,경진여객,4100800,233000051,41008133,1-1,True,0,0,0,0,0
891,경기시내,경진여객,4100800,233000052,41008134,2-1,True,0,0,0,0,0
892,경기시내,경진여객,4100800,233000056,41008138,7-1,True,0,0,0,0,0
893,경기시내,경진여객,4100800,233000057,41008139,8-1,True,0,0,0,0,0
894,경기시내,경진여객,4100800,233000058,41008140,7,True,0,0,0,0,0
896,경기시내,경진여객,4100800,233000060,41008142,11-2,True,0,0,0,0,0
897,경기시내,경진여객,4100800,233000062,41008144,11-4,True,0,0,0,0,0
898,경기시내,경진여객,4100800,233000064,41008137,10,True,0,0,0,0,0
899,경기시내,경진여객,4100800,233000079,41008145,20,True,0,0,0,0,0
900,경기시내,경진여객,4100800,233000080,41008146,21,True,0,0,0,0,0
901,경기시내,경진여객,4100800,233000081,41008147,24,True,0,0,0,0,0
903,경기시내,경진여객,4100800,233000085,41008150,23,True,0,0,0,0,0
907,경기시내,경진여객,4100800,233000095,41008156,26,True,0,0,0,0,0
909,경기시내,경진여객,4100800,233000126,41008161,33-2,True,0,0,0,0,0
1916,경기시내,제부여객,4106100,233000134,41061022,1001,True,0,0,0,0,0
2026,경기시내,화성운수,4107500,233000128,41075031,712,True,0,0,0,0,0
2027,경기시내,화성운수,4107500,233000130,41075017,73-1,True,0,0,0,0,0
2029,경기시내,화성운수,4107500,233000252,41075030,710,True,0,0,0,0,0
2032,경기시내,화성운수,4107500,233000264,41075035,2000B,True,0,0,0,0,0
2105,경기시내,(주)화성여객,4108600,233000141,41086009,201,True,0,0,0,0,0

In [196]:
p_1_id1 = new_TripChain_1['버스노선ID1']

In [197]:
for i in p_1_id1:
    if i in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == i, 'p_1'] += 1
Route_Mapping

,구분,운수사명,운수사ID,이비노선ID,표준노선ID,노선명,isHwasung,p_1,p_2,p_3,p_4,p_5
862,경기시내,경진여객,4100800,233000010,41008001,33-1,True,83,0,0,0,0
863,경기시내,경진여객,4100800,233000013,41008101,2,True,2,0,0,0,0
864,경기시내,경진여객,4100800,233000015,41008103,4,True,4,0,0,0,0
865,경기시내,경진여객,4100800,233000019,41008110,5-2,True,2,0,0,0,0
866,경기시내,경진여객,4100800,233000021,41008112,5-4,True,1,0,0,0,0
867,경기시내,경진여객,4100800,233000022,41008115,15,True,0,0,0,0,0
868,경기시내,경진여객,4100800,233000024,41008114,14,True,0,0,0,0,0
869,경기시내,경진여객,4100800,233000025,41008105,9,True,3,0,0,0,0
870,경기시내,경진여객,4100800,233000026,41008117,19,True,2,0,0,0,0
871,경기시내,경진여객,4100800,233000027,41008108,3-1,True,0,0,0,0,0
872,경기시내,경진여객,4100800,233000028,41008102,3,True,3,0,0,0,0
873,경기시내,경진여객,4100800,233000029,41008107,2-4,True,0,0,0,0,0
877,경기시내,경진여객,4100800,233000034,41008118,16,True,1,0,0,0,0
878,경기시내,경진여객,4100800,233000035,41008119,2-2,True,2,0,0,0,0
881,경기시내,경진여객,4100800,233000040,41008124,6,True,23,0,0,0,0
882,경기시내,경진여객,4100800,233000041,41008125,11,True,0,0,0,0,0
883,경기시내,경진여객,4100800,233000043,41008126,6-2,True,4,0,0,0,0
884,경기시내,경진여객,4100800,233000044,41008127,17,True,0,0,0,0,0
886,경기시내,경진여객,4100800,233000046,41008129,8,True,0,0,0,0,0
887,경기시내,경진여객,4100800,233000047,41008130,8-3,True,0,0,0,0,0
888,경기시내,경진여객,4100800,233000048,41008131,1,True,2,0,0,0,0
890,경기시내,경진여객,4100800,233000051,41008133,1-1,True,0,0,0,0,0
891,경기시내,경진여객,4100800,233000052,41008134,2-1,True,0,0,0,0,0
892,경기시내,경진여객,4100800,233000056,41008138,7-1,True,0,0,0,0,0
893,경기시내,경진여객,4100800,233000057,41008139,8-1,True,0,0,0,0,0
894,경기시내,경진여객,4100800,233000058,41008140,7,True,5,0,0,0,0
896,경기시내,경진여객,4100800,233000060,41008142,11-2,True,0,0,0,0,0
897,경기시내,경진여객,4100800,233000062,41008144,11-4,True,0,0,0,0,0
898,경기시내,경진여객,4100800,233000064,41008137,10,True,8,0,0,0,0
899,경기시내,경진여객,4100800,233000079,41008145,20,True,1,0,0,0,0
900,경기시내,경진여객,4100800,233000080,41008146,21,True,6,0,0,0,0
901,경기시내,경진여객,4100800,233000081,41008147,24,True,0,0,0,0,0
903,경기시내,경진여객,4100800,233000085,41008150,23,True,0,0,0,0,0
907,경기시내,경진여객,4100800,233000095,41008156,26,True,7,0,0,0,0
909,경기시내,경진여객,4100800,233000126,41008161,33-2,True,3,0,0,0,0
1916,경기시내,제부여객,4106100,233000134,41061022,1001,True,749,0,0,0,0
2026,경기시내,화성운수,4107500,233000128,41075031,712,True,2362,0,0,0,0
2027,경기시내,화성운수,4107500,233000130,41075017,73-1,True,2036,0,0,0,0
2029,경기시내,화성운수,4107500,233000252,41075030,710,True,543,0,0,0,0
2032,경기시내,화성운수,4107500,233000264,41075035,2000B,True,10,0,0,0,0
2105,경기시내,(주)화성여객,4108600,233000141,41086009,201,True,611,0,0,0,0

In [149]:
new_TripChain_1['버스노선ID1'] = new_TripChain_1['버스노선ID1'].fillna(0)
new_TripChain_1['버스노선ID2'] = new_TripChain_1['버스노선ID2'].fillna(0)
new_TripChain_1['버스노선ID3'] = new_TripChain_1['버스노선ID3'].fillna(0)
new_TripChain_1['버스노선ID4'] = new_TripChain_1['버스노선ID4'].fillna(0)
new_TripChain_1['버스노선ID5'] = new_TripChain_1['버스노선ID5'].fillna(0)

# hash_p_1 = {}
# tmp
for index, row in new_TripChain_1.iterrows():
    a = row['버스노선ID1']
    b = row['버스노선ID2']
    c = row['버스노선ID3']
    d = row['버스노선ID4']
    e = row['버스노선ID5']
    if a in normal_id_h:
#         Route_Mapping.set_value(Route_Mapping.index[Route_Mapping['표준노선ID'] == a], 'p_1', Route_Mapping[Route_Mapping['p_1']] + 1)
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == a, 'p_1'] += 1
    if b in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == b, 'p_1'] += 1
    if c in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == c, 'p_1'] += 1
    if d in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == d, 'p_1'] += 1
    if e in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == e, 'p_1'] += 1
    
#     if b in hash_p_1:
#         hash_p_1[b] = hash_p_1[b] + 1
#     else:
#         hash_p_1[b] = 1
    
#     if c in hash_p_1:
#         hash_p_1[c] = hash_p_1[c] + 1
#     else:
#         hash_p_1[c] = 1
    
#     if d in hash_p_1:
#         hash_p_1[d] = hash_p_1[d] + 1
#     else:
#         hash_p_1[d] = 1
    
#     if e in hash_p_1:
#         hash_p_1[e] = hash_p_1[e] + 1
#     else:
#         hash_p_1[e] = 1
Route_Mapping

# Route_Mapping['p_1'].unique()

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

KeyboardInterrupt:

In [95]:
# Route_Mapping

In [25]:
students = [ ('jack', 34, 'Sydeny' , 'Australia') ,
             ('Riti', 30, 'Delhi' , 'India' ) ,
             ('Vikas', 31, 'Mumbai' , 'India' ) ,
             ('Neelu', 32, 'Bangalore' , 'India' ) ,
             ('John', 16, 'New York' , 'US') ,
             ('Mike', 17, 'las vegas' , 'US')  ]
 
 
#Create a DataFrame object
df_s = pd.DataFrame(students, columns = ['Name' , 'Age', 'City' , 'Country'], index=['a', 'b', 'c' , 'd' , 'e' , 'f'])

In [26]:
t = 17
df_s.loc[df_s['Age']==t, 'City'] = 18
df_s.loc[df_s['Age']==t, 'City'] += 18
df_s

    Name  Age       City    Country
a   jack   34     Sydeny  Australia
b   Riti   30      Delhi      India
c  Vikas   31     Mumbai      India
d  Neelu   32  Bangalore      India
e   John   16   New York         US
f   Mike   17         36         US

In [151]:
Trip5 = TripChain[TripChain['환승횟수']==5]

Trip5.head()

,암호화카드번호,트랜잭션ID,환승횟수,교통카드발행사ID,총이용객수,사용자구분,교통수단CD1,교통수단CD2,교통수단CD3,교통수단CD4,...,하차역ID2,하차역ID3,하차역ID4,하차역ID5,최초승차역ID,최종하차역ID,총이용금액,수집건수,트립체인완료코드,isHwasung
170,900028079354,80,5,3101915,1,1,202.0,500.0,500.0,500.0,...,NaN,NaN,4103755.0,1817.0,1817.0,1817.0,3050,5,;,0
641,900480627813,9,5,3101915,1,1,500.0,500.0,209.0,533.0,...,NaN,NaN,4113480.0,4114880.0,4116891.0,4114880.0,2900,5,;,0
1027,900517935036,97,5,3101915,1,4,582.0,533.0,500.0,500.0,...,NaN,NaN,4100606.0,4100605.0,4103534.0,4100605.0,1760,5,;,0
1153,900097650068,8,5,9000923,1,1,500.0,533.0,500.0,500.0,...,NaN,NaN,4100126.0,4116659.0,4103271.0,4116659.0,2900,5,;,0
1324,900524156222,9,5,9000921,1,1,582.0,500.0,500.0,500.0,...,NaN,NaN,4170093.0,1708.0,4101464.0,1708.0,1750,5,;,0

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [170]:
Trip5.loc[170, 'isHwasung'] = 0
Trip5.head()

,암호화카드번호,트랜잭션ID,환승횟수,교통카드발행사ID,총이용객수,사용자구분,교통수단CD1,교통수단CD2,교통수단CD3,교통수단CD4,...,하차역ID2,하차역ID3,하차역ID4,하차역ID5,최초승차역ID,최종하차역ID,총이용금액,수집건수,트립체인완료코드,isHwasung
170,900028079354,80,5,3101915,1,1,202.0,500.0,500.0,500.0,...,NaN,NaN,4103755.0,1817.0,1817.0,1817.0,3050,5,;,0
641,900480627813,9,5,3101915,1,1,500.0,500.0,209.0,533.0,...,NaN,NaN,4113480.0,4114880.0,4116891.0,4114880.0,2900,5,;,0
1027,900517935036,97,5,3101915,1,4,582.0,533.0,500.0,500.0,...,NaN,NaN,4100606.0,4100605.0,4103534.0,4100605.0,1760,5,;,0
1153,900097650068,8,5,9000923,1,1,500.0,533.0,500.0,500.0,...,NaN,NaN,4100126.0,4116659.0,4103271.0,4116659.0,2900,5,;,0
1324,900524156222,9,5,9000921,1,1,582.0,500.0,500.0,500.0,...,NaN,NaN,4170093.0,1708.0,4101464.0,1708.0,1750,5,;,0

In [179]:
Trip5['isHwasung'] = 0
for index, row in n.iterrows():
    a = row['버스노선ID1']
    b = row['버스노선ID2']
    c = row['버스노선ID3']
    d = row['버스노선ID4']
    e = row['버스노선ID5']

    if a in normal_id_h:
        Trip5.loc[index, 'isHwasung'] += 1
#         Trip5.loc[Trip5['암호화카드번호'] == a, 'isHwasung'] += 1
    if b in normal_id_h:
        Trip5.loc[index, 'isHwasung'] += 1
#         Trip5.loc[Trip5['버스노선ID2'] == b, 'isHwasung'] += 1
    if c in normal_id_h:
        Trip5.loc[index, 'isHwasung'] += 1
#         Trip5.loc[Trip5['버스노선ID3'] == c, 'isHwasung'] += 1
    if d in normal_id_h:
        Trip5.loc[index, 'isHwasung'] += 1
#         Trip5.loc[Trip5['버스노선ID4'] == d, 'isHwasung'] += 1
#     if e in normal_id_h:
#         Trip5.loc[Trip5['버스노선ID5'] == e, 'isHwasung'] += 1

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [180]:
Trip5[Trip5['isHwasung']!=0]

,암호화카드번호,트랜잭션ID,환승횟수,교통카드발행사ID,총이용객수,사용자구분,교통수단CD1,교통수단CD2,교통수단CD3,교통수단CD4,...,하차역ID2,하차역ID3,하차역ID4,하차역ID5,최초승차역ID,최종하차역ID,총이용금액,수집건수,트립체인완료코드,isHwasung
3242,900200738804,48,5,9000901,1,1,500.0,202.0,120.0,120.0,...,NaN,NaN,60031.0,2750.0,4170347.0,2750.0,2150,5,;,1
32346,900400164539,82,5,9000923,1,1,500.0,500.0,500.0,500.0,...,NaN,NaN,4107928.0,4100140.0,4117239.0,4100140.0,1650,5,;,1
49556,900015115963,74,5,3101000,1,1,105.0,533.0,500.0,500.0,...,NaN,NaN,4130511.0,8001794.0,9009651.0,8001794.0,3700,5,;,1
73461,900385921634,16,5,9000931,1,1,511.0,500.0,500.0,500.0,...,NaN,NaN,4107933.0,4108059.0,4131043.0,4108059.0,1450,5,;,1
75104,900498748981,22,5,3101001,1,1,511.0,500.0,500.0,500.0,...,NaN,NaN,4116882.0,4108220.0,9115604.0,4108220.0,1350,5,;,1
92726,900515625518,5,5,9000931,1,1,500.0,500.0,530.0,500.0,...,NaN,NaN,4116833.0,4113779.0,4117239.0,4113779.0,2050,5,;,2
97275,100036373328,32,5,3104000,1,1,500.0,500.0,500.0,202.0,...,NaN,NaN,1865.0,4196112.0,4117239.0,4196112.0,1550,5,;,1
104882,900512893924,43,5,9000928,1,1,500.0,202.0,500.0,500.0,...,NaN,NaN,4102820.0,1716.0,4170984.0,1716.0,1650,5,;,1
119043,900390974149,38,5,9000921,1,1,500.0,202.0,500.0,500.0,...,NaN,NaN,4170943.0,4130080.0,4100663.0,4130080.0,2050,5,;,1
142344,900526065467,11,5,9000901,1,1,500.0,500.0,500.0,500.0,...,NaN,NaN,4196064.0,4196067.0,4123658.0,4196067.0,1750,5,;,1
152167,900524112089,24,5,3101000,1,1,583.0,500.0,570.0,115.0,...,NaN,NaN,8003138.0,9006334.0,4108015.0,9006334.0,2700,5,;,1
172029,900524439621,4,5,9000901,1,1,500.0,500.0,582.0,120.0,...,NaN,NaN,70755.0,70765.0,4170570.0,70765.0,2050,5,;,1
189908,900499749681,53,5,9000901,1,1,500.0,500.0,500.0,583.0,...,NaN,NaN,4117182.0,4199630.0,4121008.0,4199630.0,1550,5,;,1
198712,900521875020,74,5,9000901,1,1,500.0,500.0,500.0,570.0,...,NaN,NaN,4116660.0,4129.0,9170322.0,4129.0,2900,5,;,2
210937,900483578219,99,5,3101000,1,1,500.0,500.0,500.0,500.0,...,NaN,NaN,4116883.0,4100050.0,4121008.0,4100050.0,1350,5,;,1
211353,900022698288,67,5,3101000,1,1,500.0,500.0,500.0,500.0,...,NaN,NaN,4102820.0,4198442.0,4131055.0,4198442.0,2150,5,;,1
377304,100476117516,40,5,3104000,1,1,500.0,500.0,500.0,583.0,...,NaN,NaN,4117182.0,4199619.0,4121008.0,4199619.0,1850,5,;,1
379730,900493040539,40,5,9000926,1,1,582.0,202.0,500.0,500.0,...,NaN,NaN,4170481.0,4106798.0,4179139.0,4106798.0,1750,5,;,1
380502,900490789310,83,5,9000921,1,1,500.0,500.0,511.0,500.0,...,NaN,NaN,4108144.0,4160293.0,4170974.0,4160293.0,1550,5,;,1
382923,900351784627,29,5,3101001,1,1,500.0,500.0,500.0,500.0,...,NaN,NaN,4102826.0,4116111.0,4116664.0,4116111.0,1850,5,;,1
427637,900015061914,65,5,3101000,1,1,500.0,500.0,500.0,120.0,...,NaN,NaN,71357.0,8501261.0,4116983.0,8501261.0,2150,5,;,1
442244,900526065735,7,5,9000926,1,1,582.0,202.0,583.0,500.0,...,NaN,NaN,4151651.0,1729.0,4103668.0,1729.0,2250,5,;,1
466168,900524338674,9,5,9000929,1,1,583.0,500.0,500.0,583.0,...,NaN,NaN,4130405.0,4160362.0,4130062.0,4160362.0,1350,5,;,1
471500,900524048007,23,5,9000923,1,1,511.0,533.0,500.0,202.0,...,NaN,NaN,1865.0,4176357.0,4170660.0,4176357.0,3000,5,;,1
496447,900524296433,5,5,9000923,1,1,500.0,500.0,500.0,583.0,...,NaN,NaN,4151651.0,1713.0,4121024.0,1713.0,1450,5,;,1
500793,900364733790,23,5,9000901,1,1,500.0,500.0,500.0,500.0,...,NaN,NaN,4120435.0,4170407.0,4170867.0,4170407.0,1350,5,;,1
539848,900498752721,39,5,9000921,1,1,500.0,582.0,203.0,500.0,...,NaN,NaN,4130133.0,4117378.0,4196195.0,4117378.0,2350,5,;,1
543908,900156518935,94,5,9000901,1,1,583.0,500.0,500.0,500.0,...,NaN,NaN,4130349.0,4116673.0,4170429.0,4116673.0,1650,5,;,1
576035,900481998517,75,5,9000921,1,1,500.0,202.0,582.0,582.0,...,NaN,NaN,4103505.0,71341.0,4130130.0,71341.0,1750,5,;,1
605167,900483246541,50,5,3101000,1,1,500.0,500.0,583.0,511.0,...,NaN,NaN,4170540.0,4170629.0,4160268.0,4170629.0,1750,5,;,1
616739,900464234497,42,5,9000926,1,1,500.0,209.0,120.0,115.0,...,NaN,NaN,9036132.0,9005458.0,4115603.0,9005458.0,2600,5,;,1
624106,900524099238,18,5,9000901,1,1,511.0,500.0,500.0,500.0,...,NaN,NaN,4170481.0,4170942.0,4130058.0,4170942.0,1650,5,;,1
638626,900505429516,81,5,3101000,1,1,500.0,500.0,202.0,582.0,...,NaN,NaN,4103533.0,10048.0,4170462.0,10048.0,1750,5,;,1
673605,100041003209,27,5,3104000,1,1,120.0,511.0,202.0,500.0,...,NaN,NaN,4151651.0,4199077.0,8002856.0,4199077.0,1950,5,;,1
681592,900501844585,31,5,9000901,1,1,202.0,500.0,500.0,570.0,...,NaN,NaN,4113599.0,228.0,1713.0,228.0,3000,5,;,1
695249,900471901436,22,5,9000921,1,1,500.0,500.0,500.0,202.0,...,NaN,NaN,1861.0,4111729.0,4121008.0,4111729.0,1850,5,;,1
697689,900029141843,52,5,3101915,1,1,500.0,202.0,500.0,511.0,...,NaN,NaN,4151651.0,4170340.0,4116977.0,4170340.0,1450,5,;,1
741340,900352463557,5,5,9000921,1,1,105.0,533.0,500.0,511.0,...,NaN,NaN,4130058.0,4151631.0,9012815.0,4151631.0,3500,5,;,1
744993,900362486496,52,5,3101915,1,1,500.0,500.0,500.0,500.0,...,NaN,NaN,4108044.0,4170394.0,4121008.0,4170394.0,1650,5,;,1
747829,900474021075,3,5,9000901,1,1,500.0,583.0,583.0,500.0,...,NaN,NaN,4170258.0,4114352.0,4121008.0,4114352.0,1350,5,;,1
748027,100036650481,59,5,3104000,1,1,500.0,530.0,500.0,202.0,...,NaN,NaN,1906.0,4102964.0,4121008.0,4102964.0,3650,5,;,1
800491,900515801160,65,5,9000922,1,1,500.0,500.0,533.0,500.0,...,NaN,NaN,4116674.0,4130154.0,4121008.0,4130154.0,2400,5,;,1
861951,900079211152,76,5,9000923,1,1,470.0,470.0,202.0,500.0,...,NaN,NaN,4100049.0,4120454.0,2801846.0,4120454.0,2550,5,;,1
866033,900519108571,47,5,9000926,1,1,500.0,583.0,511.0,500.0,...,NaN,NaN,4199077.0,4197466.0,9130064.0,4197466.0,1250,5,;,1
880507,900465486047,88,5,9000928,1,1,500.0,500.0,500.0,500.0,...,NaN,NaN,4170943.0,4123752.0,4117057.0,4123752.0,1350,5,;,1
881672,900125563132,49,5,9000923,1,1,500.0,500.0,500.0,500.0,...,NaN,NaN,4116944.0,4179325.0,4131077.0,4179325.0,1950,5,;,1
896341,900030255039,24,5,3101915,1,1,500.0,500.0,500.0,500.0,...,NaN,NaN,4106798.0,4117253.0,4170474.0,4117253.0,1250,5,;,1
941826,900509365145,63,5,9000931,1,1,500.0,530.0,500.0,570.0,...,NaN,NaN,4113599.0,8856.0,4106940.0,8856.0,3200,5,;,1
1017550,900030661432,51,5,3101915,1,1,500.0,202.0,500.0,500.0,...,NaN,NaN,4151651.0,1728.0,4115906.0,1728.0,3350,5,;,1
1020132,900517881944,38,5,3101001,1,1,500.0,500.0,511.0,500.0,...,NaN,NaN,4130349.0,4117344.0,4117343.0,4117344.0,1350,5,;,1
1022144,900527170887,1,5,9000922,1,1,500.0,500.0,500.0,500.0,...,NaN,NaN,4170944.0,4123752.0,4117057.0,4123752.0,1350,5,;,1
1036825,900490539913,41,5,9000901,1,1,500.0,500.0,500.0,530.0,...,NaN,NaN,4170271.0,4170352.0,4170347.0,4170352.0,2050,5,;,1

In [176]:
Trip5['isHwasung'].unique()

array([0, 1], dtype=int64)

In [181]:
Trip5.loc[198712]

암호화카드번호         900521875020
트랜잭션ID                    74
환승횟수                       5
교통카드발행사ID            9000901
총이용객수                      1
사용자구분                      1
교통수단CD1                  500
교통수단CD2                  500
교통수단CD3                  500
교통수단CD4                  570
교통수단CD5                  205
버스노선ID1           4.1075e+07
버스노선ID2           4.1075e+07
버스노선ID3          4.10311e+07
버스노선ID4          4.10039e+07
버스노선ID5                  NaN
차량ID1            1.41766e+08
차량ID2            1.41766e+08
차량ID3            1.41702e+08
차량ID4            1.41773e+08
차량ID5                  1e+09
총통행거리                  50810
총탑승시간                    107
총소요시간                    107
승차일시1            2.01807e+13
승차일시2            2.01807e+13
승차일시3            2.01807e+13
승차일시4            2.01807e+13
승차일시5            2.01807e+13
하차일시1            2.01807e+13
하차일시2            2.01807e+13
하차일시3            2.01807e+13
하차일시4            2.01807e+13
하차일시5            2.01807e+13
최초승차일시        20180702064821
최종하차일시       20180702092523
승차역ID1           9.17032e+06
승차역ID2           4.12045e+06
승차역ID3           4.19572e+06
승차역ID4                   NaN
승차역ID5                   NaN
하차역ID1                   NaN
하차역ID2                   NaN
하차역ID3                   NaN
하차역ID4           4.11666e+06
하차역ID5                  4129
최초승차역ID          9.17032e+06
최종하차역ID                 4129
총이용금액                   2900
수집건수                       5
트립체인완료코드                   ;
isHwasung                  2
Name: 198712, dtype: object

In [184]:
TripChain.drop_duplicates(subset =["암호화카드번호", "최초승차일시", "최종하차일시"], 
                     keep = 'first', inplace = True)

In [185]:
sum(TripChain['환승횟수']) / (TripChain.shape[0])

1.5269770879526976

In [186]:
tmp = TripChain[TripChain['환승횟수'] !=0]
Trip12 = tmp[tmp['환승횟수']<=2]

In [ ]:
Trip12.shape()

In [190]:
Trip12['isHwasung'] = 0
for index, row in Trip12.iterrows():
    a = row['버스노선ID1']
    b = row['버스노선ID2']
    c = row['버스노선ID3']
    d = row['버스노선ID4']
    e = row['버스노선ID5']

    if a in normal_id_h:
        Trip12.loc[index, 'isHwasung'] += 1
#         Trip5.loc[Trip5['암호화카드번호'] == a, 'isHwasung'] += 1
    if b in normal_id_h:
        Trip12.loc[index, 'isHwasung'] += 1
#         Trip5.loc[Trip5['버스노선ID2'] == b, 'isHwasung'] += 1
    if c in normal_id_h:
        Trip12.loc[index, 'isHwasung'] += 1
#         Trip5.loc[Trip5['버스노선ID3'] == c, 'isHwasung'] += 1
    if d in normal_id_h:
        Trip12.loc[index, 'isHwasung'] += 1
#         Trip5.loc[Trip5['버스노선ID4'] == d, 'isHwasung'] += 1
    if e in normal_id_h:
        Trip12.loc[index, 'isHwasung'] += 1
#         Trip5.loc[Trip5['버스노선ID5'] == e, 'isHwasung'] += 1

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

KeyboardInterrupt:

In [187]:
Trip12['isHwasung'].unique()

TypeError: 'tuple' object is not callable

In [150]:
# RouteStationMapping['isHwasung'] = 0

    
# Route_hwa = RouteStationMapping.drop(RouteStationMapping[(RouteStationMapping['이비노선ID'] not in All_bus_id)].index)
# Route_hwa = RouteStationMapping[RouteStationMapping.index.get_level_values('이비노선ID') in All_bus_id]
Route_hwa1 = RouteStationMapping.query('이비노선ID')
Route_hwa1
# RouteStationMapping_h = RouteStationMapping[RouteStationMapping['이비노선ID'] in All_bus_id]
# RouteStationMapping_h.shape

KeyError: "None of [Int64Index([216000044, 232000028, 232000029, 232000061, 232000067, 232000087,\n            232000088, 232000091, 232000093, 221000005,\n            ...\n            218000002, 218000108, 219000008, 229000030, 229000035, 229000060,\n            229000063, 213000024, 229000102, 225000004],\n           dtype='int64', length=2127)] are in the [index]"

In [575]:
# for문을 이용해 화성 버스를 이용한 것만으로 TripChain 걸러내기


for i in range(len(TripChain)):
    tmp = TripChain.iloc[i]
    if(tmp['환승횟수']==1):
        if tmp['버스노선ID1'] in All_bus_id:
            tmp['isHwasung'] = 1
            continue
    if(tmp['환승횟수']==2):
        if tmp['버스노선ID1'] in All_bus_id:
            if tmp['버스노선ID2'] in All_bus_id:
                tmp['isHwasung'] = 1
                continue
    if(tmp['환승횟수']==3):
        if tmp['버스노선ID1'] in All_bus_id:
            if tmp['버스노선ID2'] in All_bus_id:
                if tmp['버스노선ID3'] in All_bus_id:
                    tmp['isHwasung'] = 1
                    continue
    if(tmp['환승횟수']==4):
        if tmp['버스노선ID1'] in All_bus_id:
            if tmp['버스노선ID2'] in All_bus_id:
                if tmp['버스노선ID3'] in All_bus_id:
                    if tmp['버스노선ID4'] in All_bus_id:
                        tmp['isHwasung'] = 1
                                
    if(tmp['환승횟수']==5):
        if tmp['버스노선ID1'] in All_bus_id:
                if tmp['버스노선ID2'] in All_bus_id:
                    if tmp['버스노선ID3'] in All_bus_id:
                            if tmp['버스노선ID4'] in All_bus_id:
                                    if tmp['버스노선ID5'] in All_bus_id:
                                            tmp['isHwasung'] = 1

In [658]:
# filteredRoute['station_nm'].apply(lambda x: True if '초' in x else False)
# t = TripChain.loc[:2]
# for i in range(len(t)):
#     tm = t.iloc[i]
#     if tm['수집건수']==1:


# df_new = new_TripChain.drop(new_TripChain[(new_TripChain['버스노선ID1'] not in All_bus_id) & 
#                                                        (new_TripChain['환승횟수']==1)].index)
# df_new.shape()
# df_new = pd.DataFrame(t.drop(t[(t['버스노선ID1'] not in All_bus_id) & (t['최초승차역ID'] == 4116828)].index))
# df_new

new_TripChain[['버스노선ID1', '버스노선ID2']]

            버스노선ID1     버스노선ID2
0        41002045.0  41002044.0
1        41031040.0         NaN
2        41031121.0         NaN
3        41031013.0         NaN
4        41020001.0         NaN
5        41020001.0         NaN
6        41067109.0         NaN
7        41110050.0         NaN
8        41002045.0         NaN
9        41036102.0         NaN
10       41031065.0  41027004.0
11       41036111.0         NaN
12       41020001.0  41324001.0
13       41036102.0         NaN
14       41031020.0         NaN
15       41036111.0         NaN
16       41002045.0         NaN
17       41020001.0         NaN
18       41020001.0         NaN
19       41367001.0  41067005.0
20       41027009.0         NaN
21       41061025.0         NaN
22       41031024.0         NaN
23       41067005.0         NaN
24       41031065.0         NaN
25       41031065.0         NaN
26       41036102.0         NaN
27       41075011.0  41031121.0
28       41031004.0         NaN
29       41367001.0  41027009.0
...             ...         ...
1048545  41027004.0         NaN
1048546         NaN  41036111.0
1048547  41027004.0         NaN
1048548  41027008.0         NaN
1048549  41008148.0  41008008.0
1048550  41332001.0  41002090.0
1048551  41420003.0  41002090.0
1048552  41061027.0         NaN
1048553  41002090.0         NaN
1048554  41036111.0         NaN
1048555  41036102.0  41036012.0
1048556  41021030.0  41027004.0
1048557  41067012.0         NaN
1048558  41067012.0         NaN
1048559  41002044.0         NaN
1048560  41031030.0         NaN
1048561  41036110.0         NaN
1048562  41036108.0  41036032.0
1048563  41036113.0         NaN
1048564  41036132.0         NaN
1048565  41036131.0         NaN
1048566  41036132.0         NaN
1048567  41086011.0  41044001.0
1048568  41031020.0         NaN
1048569  41002046.0         NaN
1048570  41067012.0         NaN
1048571  41061025.0         NaN
1048572  41036131.0  41205007.0
1048573  41036113.0         NaN
1048574  41036113.0         NaN

[1048575 rows x 2 columns]

In [577]:
TripChain.shape

(1048575, 53)