In [1]:
%matplotlib inline

import geopandas as gpd

import pandas as pd
import os
import requests
import folium
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

In [2]:
import matplotlib.font_manager as fm

for font in fm.fontManager.ttflist:
    if font.name in ['AppleGothic', 'Malgun Gothic']:
        plt.rcParams['font.family'] = font.name
        break

plt.rcParams['font.family']

['Malgun Gothic']

In [3]:
#2018년 7월 승차일 기준 1~4일의 버스 카드태깅 정보를 담고있습니다.
#미터 / 분
TripChain = pd.read_csv('../Data/PJT001_TripChain.csv')

#17~18년 기준, 경기도 버스 정류장에 대한 정보를 담고있습니다.
# 성보님과 은솔님이 채워주신 데이터 바로 이용
StationTable = pd.read_csv('../Data/station_null.csv')

#2018년 7월 1~4일의 행정동별 이동 인구수 정보를 담고 있습니다.
AreaPeople = pd.read_csv('../Data/PJT001_sk_emd_od.csv')

#버스노선-정류장 매핑 테이블 정보 입니다.
RouteStationInfo = pd.read_csv('../Data/PJT001_routestationinfo.csv')

#
RouteStationMapping = pd.read_csv('../Data/PJT001_routestationmapping.csv')

In [4]:
RouteStation_latlon = pd.read_csv('df_route_stations.csv', encoding='euc-kr')

In [5]:
TripChain.columns=['암호화카드번호', '트랜잭션ID', '환승횟수', '교통카드발행사ID',
       '총이용객수', '사용자구분', '교통수단CD1', '교통수단CD2',
       '교통수단CD3', '교통수단CD4', '교통수단CD5', '버스노선ID1',
       '버스노선ID2', '버스노선ID3', '버스노선ID4', '버스노선ID5',
       '차량ID1', '차량ID2', '차량ID3', '차량ID4',
       '차량ID5', '총통행거리', '총탑승시간', '총소요시간',
       '승차일시1', '승차일시2', '승차일시3', '승차일시4',
       '승차일시5', '하차일시1', '하차일시2', '하차일시3',
       '하차일시4', '하차일시5', '최초승차일시', '최종하차일시',
       '승차역ID1', '승차역ID2', '승차역ID3', '승차역ID4',
       '승차역ID5', '하차역ID1', '하차역ID2', '하차역ID3',
       '하차역ID4', '하차역ID5', '최초승차역ID', '최종하차역ID',
       '총이용금액', '수집건수', '트립체인완료코드']

In [8]:
TripChain[TripChain['환승횟수']==2].iloc[0]

암호화카드번호         900079696430
트랜잭션ID                    56
환승횟수                       2
교통카드발행사ID            9000923
총이용객수                      1
사용자구분                      1
교통수단CD1                  500
교통수단CD2                  500
교통수단CD3                  NaN
교통수단CD4                  NaN
교통수단CD5                  NaN
버스노선ID1           4.1002e+07
버스노선ID2           4.1002e+07
버스노선ID3                  NaN
버스노선ID4                  NaN
버스노선ID5                  NaN
차량ID1            1.41772e+08
차량ID2            1.41772e+08
차량ID3                    NaN
차량ID4                    NaN
차량ID5                    NaN
총통행거리                  11170
총탑승시간                     25
총소요시간                     25
승차일시1            2.01807e+13
승차일시2            2.01807e+13
승차일시3                    NaN
승차일시4                    NaN
승차일시5                    NaN
하차일시1            2.01807e+13
하차일시2            2.01807e+13
하차일시3                    NaN
하차일시4                    NaN
하차일시5                    NaN
최초승차일시        20180701052543
최종하차일시       20180701064826
승차역ID1           4.11683e+06
승차역ID2           4.15014e+06
승차역ID3                   NaN
승차역ID4                   NaN
승차역ID5                   NaN
하차역ID1                   NaN
하차역ID2                   NaN
하차역ID3                   NaN
하차역ID4                   NaN
하차역ID5                   NaN
최초승차역ID                  NaN
최종하차역ID          4.11671e+06
총이용금액                   1350
수집건수                       2
트립체인완료코드                   ;
Name: 0, dtype: object

In [6]:
# a = RouteStation_latlon['bus_line_no'].unique()
# print('27' in a)

RouteStation_latlon[RouteStation_latlon['bus_line_no'] == '27']

,Unnamed: 0,seq,pr_station_id,bus_line_no,bus_line_no_seq,station_nm,station_id,mobile_no,govern,lat,lng,이비노선ID,표준노선ID
2187,9727,91274,233000096,27,1,조암터미널,233000929,36011.0,화성시,37.082150,126.815583,233000096.0,41008157.0
2188,9728,91275,233000096,27,2,조암삼거리(경유),277102392,NaN,화성시,37.080933,126.814550,233000096.0,41008157.0
2189,9729,91276,233000096,27,3,장안여자중학교,233000992,36797.0,화성시,37.078567,126.815217,233000096.0,41008157.0
2190,9730,91277,233000096,27,4,사곡6리,233000496,36910.0,화성시,37.074817,126.815150,233000096.0,41008157.0
2191,9731,91278,233000096,27,5,장안우체국,233002511,55388.0,화성시,37.072167,126.813850,233000096.0,41008157.0
2192,9732,91279,233000096,27,6,사곡1리,233000993,37478.0,화성시,37.069083,126.809217,233000096.0,41008157.0
2193,9733,91280,233000096,27,7,장자터,233001776,37834.0,화성시,37.066483,126.802167,233000096.0,41008157.0
2194,9734,91281,233000096,27,8,기아생활관,233000485,36918.0,화성시,37.064383,126.795617,233000096.0,41008157.0
2195,9735,91282,233000096,27,9,화산삼거리,233001554,36701.0,화성시,37.062667,126.792467,233000096.0,41008157.0
2196,9736,91283,233000096,27,10,기아2차아파트앞,233002268,55143.0,화성시,37.060467,126.792900,233000096.0,41008157.0
2197,9737,91284,233000096,27,11,석천1리포도원,233000473,36906.0,화성시,37.058067,126.793767,233000096.0,41008157.0
2198,9738,91285,233000096,27,12,두레자연중고등학교,233001383,36951.0,화성시,37.056400,126.795283,233000096.0,41008157.0
2199,9739,91286,233000096,27,13,장자터,233001780,37839.0,화성시,37.066417,126.802250,233000096.0,41008157.0
2200,9740,91287,233000096,27,14,사곡1리,233000476,37434.0,화성시,37.068900,126.809250,233000096.0,41008157.0
2201,9741,91288,233000096,27,15,장안우체국,233002512,55389.0,화성시,37.072117,126.813950,233000096.0,41008157.0
2202,9742,91289,233000096,27,16,사곡6리,233000487,37431.0,화성시,37.074967,126.815333,233000096.0,41008157.0
2203,9743,91290,233000096,27,17,장안여자중학교,233000486,36917.0,화성시,37.078567,126.815400,233000096.0,41008157.0
2204,9744,91291,233000096,27,18,조암터미널,233000928,36013.0,화성시,37.082233,126.815800,233000096.0,41008157.0
7295,29845,165997,241324002,27,1,병점역사거리,233000702,36345.0,화성시,37.206917,127.035633,NaN,NaN
7296,29846,165998,241324002,27,2,신창미션힐.송화초교,233000101,36350.0,화성시,37.203300,127.038550,NaN,NaN
7297,29847,165999,241324002,27,3,동부출장소.병점초등학교,233000708,36342.0,화성시,37.208800,127.034433,NaN,NaN
7298,29848,166000,241324002,27,4,병점화남아파트,233000641,36347.0,화성시,37.211967,127.037550,NaN,NaN
7299,29849,166001,241324002,27,5,진안동,233000640,36355.0,화성시,37.213367,127.040650,NaN,NaN
7300,29850,166002,241324002,27,6,롯데시네마,233002403,55291.0,화성시,37.214250,127.042633,NaN,NaN
7301,29851,166003,241324002,27,7,중심상가,233002563,NaN,화성시,37.214867,127.044600,NaN,NaN
7302,29852,166004,241324002,27,8,안화초교.주공8.9단지,233000072,36373.0,화성시,37.213200,127.045900,NaN,NaN
7303,29853,166005,241324002,27,9,안화고등학교,233002393,55280.0,화성시,37.211500,127.047200,NaN,NaN
7304,29854,166006,241324002,27,10,정든공원,233000082,37591.0,화성시,37.209700,127.048583,NaN,NaN
7305,29855,166007,241324002,27,11,신미주아파트,233001664,37727.0,화성시,37.208933,127.049467,NaN,NaN
7306,29856,166008,241324002,27,12,모아미래도아파트,233001666,37726.0,화성시,37.208667,127.051283,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7311,29861,166013,241324002,27,17,능동은행사거리,233002273,55147.0,화성시,37.208900,127.061817,NaN,NaN
7312,29862,166014,241324002,27,18,센트럴파크,233001674,37742.0,화성시,37.207733,127.063833,NaN,NaN
7313,29863,166015,241324002,27,19,금호어울림,233001676,37741.0,화성시,37.206550,127.066483,NaN,NaN
7314,29864,166016,241324002,27,20,메타폴리스,233001678,37733.0,화성시,37.205367,127.070733,NaN,NaN
7315,29865,166017,241324002,27,21,동탄1동행정복지센터,233001679,37694.0,화성시,37.206650,127.072567,NaN,NaN
7316,29866,166018,241324002,27,22,신일유토빌정문,233001681,37695.0,화성시,37.209150,127.075050,NaN,NaN
7317,29867,166019,241324002,27,23,예당예원초,233001682,37711.0,화성시,37.210567,127.077667,NaN,NaN
7318,29868,166020,241324002,27,24,전하리교회.우미제일,233001683,37712.0,화성시,37.213150,127.079283,NaN,NaN
7319,29870,166022,241324002,27,26,한림대성심병원,233002559,NaN,화성시,37.217300,127.080633,NaN,NaN
7320,29871,166023,241324002,27,27,이마트.한림대병원,233001817,37879.0,화성시,37.215317,127.079133,NaN,NaN
7321,29873,166025,241324002,27,29,예당예원초,233001652,37758.0,화성시,37.210700,127.077583,NaN,NaN
7322,29874,166026,241324002,27,30,롯데케슬정문,233001653,37798.0,화성시,37.209267,127.074917,NaN,NaN
7323,29875,166027,241324002,27,31,동탄1동행정복지센터,233001650,37749.0,화성시,37.206850,127.072350,NaN,NaN
7324,29876,166028,241324002,27,32,현대아이파크,233001651,37747.0,화성시,37.205733,127.070617,NaN,NaN
7325,29877,166029,241324002,27,33,한화꿈에그린아파트,233001677,37737.0,화성시,37.206817,127.066550,NaN,NaN
7326,29878,166030,241324002,27,34,센트럴파크,233001675,37703.0,화성시,37.208033,127.063933,NaN,NaN
7327,29879,166031,241324002,27,35,자연앤아너스빌,233001939,37943.0,화성시,37.208567,127.060800,NaN,NaN
7328,29880,166032,241324002,27,36,숲속자연앤,233001983,37951.0,화성시,37.207150,127.060033,NaN,NaN
7329,29881,166033,241324002,27,37,모아미래도아파트,233001669,37732.0,화성시,37.207083,127.058700,NaN,NaN
7330,29882,166034,241324002,27,38,한마음초교.광명메이루즈,233001787,37734.0,화성시,37.207583,127.057050,NaN,NaN
7331,29883,166035,241324002,27,39,자연앤아너스빌.한마음초교,233001667,37740.0,화성시,37.208250,127.054733,NaN,NaN
7332,29884,166036,241324002,27,40,모아미래도아파트,233002185,55144.0,화성시,37.208717,127.051800,NaN,NaN
7333,29885,166037,241324002,27,41,신미주아파트,233001665,37705.0,화성시,37.208950,127.050100,NaN,NaN
7334,29886,166038,241324002,27,42,정든공원.숲속풍성신미주,233002392,55269.0,화성시,37.209783,127.048783,NaN,NaN
7335,29887,166039,241324002,27,43,안화고등학교,233002394,55281.0,화성시,37.211433,127.047517,NaN,NaN
7336,29888,166040,241324002,27,44,안화초교.주공8.9단지,233000071,36372.0,화성시,37.213300,127.046083,NaN,NaN
7337,29889,166041,241324002,27,45,중심상가,233000066,36795.0,화성시,37.215150,127.043750,NaN,NaN
7338,29890,166042,241324002,27,46,롯데시네마,233002132,55279.0,화성시,37.214483,127.042450,NaN,NaN
7339,29891,166043,241324002,27,47,진안동,233000671,36354.0,화성시,37.213017,127.039300,NaN,NaN
7340,29892,166044,241324002,27,48,병점사거리,233000703,36753.0,화성시,37.208383,127.034433,NaN,NaN

In [7]:
TripChain['최초승차역ID'] = TripChain['승차역ID1']

In [8]:
TripChain.drop_duplicates(subset =["암호화카드번호", "최초승차일시", "최종하차일시"], 
                     keep = 'first', inplace = True)

In [9]:
All_bus_id = RouteStation_latlon['pr_station_id'].unique()
# 화성시 bus id만 저장

In [10]:
All_bus_id = list(All_bus_id)
All_bus_id

[228000204,
 233000004,
 233000005,
 233000010,
 233000013,
 233000015,
 233000019,
 233000021,
 233000022,
 233000024,
 233000025,
 233000026,
 233000027,
 233000028,
 233000029,
 233000030,
 233000035,
 233000034,
 233000036,
 233000038,
 233000040,
 233000041,
 233000043,
 233000044,
 233000045,
 233000046,
 233000047,
 233000048,
 233000049,
 233000051,
 233000052,
 233000056,
 233000057,
 233000058,
 233000059,
 233000060,
 233000062,
 233000064,
 233000067,
 233000075,
 233000077,
 233000079,
 233000080,
 233000081,
 233000084,
 233000085,
 233000086,
 233000094,
 233000095,
 233000096,
 233000117,
 233000125,
 233000126,
 233000128,
 233000130,
 233000131,
 233000133,
 233000134,
 233000135,
 233000136,
 233000139,
 233000140,
 233000141,
 233000142,
 233000144,
 233000252,
 233000253,
 233000254,
 233000258,
 233000263,
 233000264,
 233000265,
 233000266,
 233000267,
 233000268,
 233000269,
 233000270,
 233000271,
 233000272,
 233000273,
 233000274,
 233000275,
 233000276,
 233000277,
 233000280,
 233000281,
 234000068,
 234000314,
 234001568,
 234001570,
 241205001,
 241205003,
 241205007,
 241205008,
 241205010,
 241205011,
 241205012,
 241205013,
 241205014,
 241205015,
 241205016,
 241205017,
 241205018,
 241205019,
 241205020,
 241205021,
 241205022,
 241205023,
 241205024,
 241205025,
 241317002,
 241317004,
 241317006,
 241317007,
 241317008,
 241317009,
 241317010,
 241317011,
 241318002,
 241319002,
 241319003,
 241319004,
 241319005,
 241319006,
 241319007,
 241319008,
 241319009,
 241319010,
 241319011,
 241319012,
 241319013,
 241319015,
 241319020,
 241319016,
 241319018,
 241319019,
 241319021,
 241319022,
 241319023,
 241319024,
 241319025,
 241319026,
 241319027,
 241319028,
 241319029,
 241319030,
 241319031,
 241319032,
 241319033,
 241319034,
 241319043,
 241319035,
 241319036,
 241319037,
 241319039,
 241319041,
 241319042,
 241319044,
 241323001,
 241323002,
 241323004,
 241323005,
 241324001,
 241324002,
 241324003,
 241324004,
 241324005,
 241335001,
 241335002,
 241335006,
 241335026,
 241483001,
 241483002,
 241483003,
 241483004,
 241483005,
 241483006,
 241483007,
 241483008,
 241483009,
 241483010,
 241483011,
 241483012,
 241483014,
 241483016,
 241483017,
 241483018,
 241483019,
 241483020,
 241483021,
 241483022,
 241485006,
 241485015,
 241485016,
 241485017,
 241485018,
 241485019,
 241485020,
 241485021,
 241485022,
 241485023,
 241485024,
 241485025,
 241485031,
 241485033,
 241485034,
 241485035,
 241485038,
 241485039,
 241485040,
 241485041,
 241485042,
 241485045,
 241485046,
 241485047,
 241485048,
 241485049,
 241485050,
 241485051,
 241485052,
 241485053,
 241485054,
 241485055,
 241488001,
 241488002,
 241488003,
 241488006,
 241489008,
 241491002,
 241491003,
 241491004,
 241491005,
 241491008,
 241491009,
 241491010,
 241491011]

In [11]:
len(All_bus_id)

236

In [12]:
RouteStation_latlon = RouteStation_latlon.sort_values('pr_station_id', ascending=True)
RouteStation_latlon.shape

(10580, 13)

In [13]:
RouteStationMapping.shape

(2127, 6)

In [14]:
RouteStationMapping.sample()

       구분  운수사명    운수사ID     이비노선ID    표준노선ID 노선명
815  경기시내  경원여객  4100700  216000023  41007032  88

In [15]:
RouteStationMapping['isHwasung'] = RouteStationMapping['이비노선ID'].apply(lambda x: True if x in All_bus_id else False)
RouteStationMapping.head()

     구분   운수사명    운수사ID     이비노선ID    표준노선ID    노선명  isHwasung
0  경기시내  경원여객M  2805000  216000044  28050900  M6410      False
1  경기시내   강화운수  4100100  232000028  41001001      2      False
2  경기시내   강화운수  4100100  232000029  41001013     88      False
3  경기시내   강화운수  4100100  232000061  41001020   3000      False
4  경기시내   강화운수  4100100  232000067  41001024    388      False

In [16]:
Route_Mapping = RouteStationMapping[RouteStationMapping['isHwasung'] == True]
Route_Mapping.head()

       구분  운수사명    운수사ID     이비노선ID    표준노선ID    노선명  isHwasung
53   경기시내  경기고속  4100200  234000068  41002090  720-3       True
759  경기시내  경남여객  4100600  228000204  41006281     24       True
862  경기시내  경진여객  4100800  233000010  41008001   33-1       True
863  경기시내  경진여객  4100800  233000013  41008101      2       True
864  경기시내  경진여객  4100800  233000015  41008103      4       True

In [17]:
Route_Mapping.shape

(78, 7)

In [18]:
Route_Mapping['p_1'] = 0
Route_Mapping['p_2'] = 0
Route_Mapping['p_4'] = 0
Route_Mapping['p_8'] = 0
Route_Mapping.drop_duplicates(subset =["이비노선ID", "표준노선ID"], 
                     keep = 'first', inplace = True)
Route_Mapping.head()

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,구분,운수사명,운수사ID,이비노선ID,표준노선ID,노선명,isHwasung,p_1,p_2,p_4,p_8
53,경기시내,경기고속,4100200,234000068,41002090,720-3,True,0,0,0,0
759,경기시내,경남여객,4100600,228000204,41006281,24,True,0,0,0,0
862,경기시내,경진여객,4100800,233000010,41008001,33-1,True,0,0,0,0
863,경기시내,경진여객,4100800,233000013,41008101,2,True,0,0,0,0
864,경기시내,경진여객,4100800,233000015,41008103,4,True,0,0,0,0

In [19]:
normal_id_h = Route_Mapping['표준노선ID'].unique()
normal_id_h

array([41002090, 41006281, 41008001, 41008101, 41008103, 41008110,
       41008112, 41008115, 41008114, 41008105, 41008117, 41008108,
       41008102, 41008107, 41008106, 41008118, 41008119, 41008120,
       41008122, 41008124, 41008125, 41008126, 41008127, 41008128,
       41008129, 41008130, 41008131, 41008132, 41008133, 41008134,
       41008138, 41008139, 41008140, 41008141, 41008142, 41008144,
       41008137, 41008145, 41008146, 41008147, 41008150, 41008151,
       41008155, 41008156, 41008157, 41008161, 41008167, 41008171,
       41037102, 41037001, 41037109, 41037106, 41037113, 41037114,
       41061018, 41061020, 41061022, 41061024, 41061027, 41075031,
       41075017, 41075030, 41075034, 41075035, 41086001, 41086002,
       41086005, 41086004, 41086009, 41086010, 41086012, 41086013,
       41086014, 41086015, 41003015, 41086008, 41086011], dtype=int64)

In [20]:
RouteStationMapping[RouteStationMapping['노선명']=='27']

        구분  운수사명    운수사ID     이비노선ID    표준노선ID 노선명  isHwasung
397   경기시내  대원고속  4100300  234000538  41003438  27      False
908   경기시내  경진여객  4100800  233000096  41008157  27       True
1222  경기시내  명진여객  4101700  207000091  41017113  27      False
1474  경기시내  수원여객  4103100  200000074  41031052  27      False
1808  경기시내  협진여객  4104400  214000046  41044109  27      False
1823  경기시내  화영운수  4104500  213000003  41045008  27      False
1871  경기시내  성광운수  4105600  210000063  41056002  27      False

일반인(1)의 버스노선ID1

In [21]:
new_TripChain_1 = TripChain[TripChain['사용자구분']==1]
new_TripChain_1.shape

(943298, 51)

In [22]:
p_1_id1 = new_TripChain_1['버스노선ID1']

In [23]:
for i in p_1_id1:
    if i in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == i, 'p_1'] += 1
Route_Mapping

C:\Users\Leila\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,구분,운수사명,운수사ID,이비노선ID,표준노선ID,노선명,isHwasung,p_1,p_2,p_4,p_8
53,경기시내,경기고속,4100200,234000068,41002090,720-3,True,13093,0,0,0
759,경기시내,경남여객,4100600,228000204,41006281,24,True,129,0,0,0
862,경기시내,경진여객,4100800,233000010,41008001,33-1,True,83,0,0,0
863,경기시내,경진여객,4100800,233000013,41008101,2,True,2,0,0,0
864,경기시내,경진여객,4100800,233000015,41008103,4,True,4,0,0,0
865,경기시내,경진여객,4100800,233000019,41008110,5-2,True,2,0,0,0
866,경기시내,경진여객,4100800,233000021,41008112,5-4,True,1,0,0,0
867,경기시내,경진여객,4100800,233000022,41008115,15,True,0,0,0,0
868,경기시내,경진여객,4100800,233000024,41008114,14,True,0,0,0,0
869,경기시내,경진여객,4100800,233000025,41008105,9,True,3,0,0,0
870,경기시내,경진여객,4100800,233000026,41008117,19,True,2,0,0,0
871,경기시내,경진여객,4100800,233000027,41008108,3-1,True,0,0,0,0
872,경기시내,경진여객,4100800,233000028,41008102,3,True,3,0,0,0
873,경기시내,경진여객,4100800,233000029,41008107,2-4,True,0,0,0,0
874,경기시내,경진여객,4100800,233000030,41008106,2-3,True,0,0,0,0
877,경기시내,경진여객,4100800,233000034,41008118,16,True,1,0,0,0
878,경기시내,경진여객,4100800,233000035,41008119,2-2,True,2,0,0,0
879,경기시내,경진여객,4100800,233000036,41008120,18,True,0,0,0,0
880,경기시내,경진여객,4100800,233000038,41008122,4-1,True,0,0,0,0
881,경기시내,경진여객,4100800,233000040,41008124,6,True,23,0,0,0
882,경기시내,경진여객,4100800,233000041,41008125,11,True,0,0,0,0
883,경기시내,경진여객,4100800,233000043,41008126,6-2,True,4,0,0,0
884,경기시내,경진여객,4100800,233000044,41008127,17,True,0,0,0,0
885,경기시내,경진여객,4100800,233000045,41008128,6-3,True,4,0,0,0
886,경기시내,경진여객,4100800,233000046,41008129,8,True,0,0,0,0
887,경기시내,경진여객,4100800,233000047,41008130,8-3,True,0,0,0,0
888,경기시내,경진여객,4100800,233000048,41008131,1,True,2,0,0,0
889,경기시내,경진여객,4100800,233000049,41008132,8-2,True,0,0,0,0
890,경기시내,경진여객,4100800,233000051,41008133,1-1,True,0,0,0,0
891,경기시내,경진여객,4100800,233000052,41008134,2-1,True,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
912,경기시내,경진여객,4100800,233000258,41008171,8156,True,60,0,0,0
1908,경기시내,제부여객,4106100,233000004,41037102,1004,True,271,0,0,0
1909,경기시내,제부여객,4106100,233000005,41037001,330,True,69,0,0,0
1910,경기시내,제부여객,4106100,233000067,41037109,1004-1,True,23,0,0,0
1911,경기시내,제부여객,4106100,233000075,41037106,340,True,313,0,0,0
1912,경기시내,제부여객,4106100,233000077,41037113,1000,True,287,0,0,0
1913,경기시내,제부여객,4106100,233000084,41037114,330-1,True,0,0,0,0
1914,경기시내,제부여객,4106100,233000117,41061018,340-1,True,57,0,0,0
1915,경기시내,제부여객,4106100,233000125,41061020,1008,True,28,0,0,0
1916,경기시내,제부여객,4106100,233000134,41061022,1001,True,749,0,0,0
1917,경기시내,제부여객,4106100,233000140,41061024,1002,True,8,0,0,0
1919,경기시내,제부여객,4106100,233000253,41061027,150,True,1750,0,0,0
2026,경기시내,화성운수,4107500,233000128,41075031,712,True,2362,0,0,0
2027,경기시내,화성운수,4107500,233000130,41075017,73-1,True,2036,0,0,0
2029,경기시내,화성운수,4107500,233000252,41075030,710,True,543,0,0,0
2031,경기시내,화성운수,4107500,233000263,41075034,2000A,True,1,0,0,0
2032,경기시내,화성운수,4107500,233000264,41075035,2000B,True,10,0,0,0
2101,경기시내,(주)화성여객,4108600,233000131,41086001,6001,True,72,0,0,0
2102,경기시내,(주)화성여객,4108600,233000133,41086002,116-3,True,7603,0,0,0
2103,경기시내,(주)화성여객,4108600,233000135,41086005,8501,True,2528,0,0,0
2104,경기시내,(주)화성여객,4108600,233000136,41086004,6002,True,120,0,0,0
2105,경기시내,(주)화성여객,4108600,233000141,41086009,201,True,611,0,0,0
2106,경기시내,(주)화성여객,4108600,233000142,41086010,6002-1,True,0,0,0,0
2107,경기시내,(주)화성여객,4108600,233000144,41086012,202,True,781,0,0,0
2108,경기시내,(주)화성여객,4108600,233000254,41086013,203,True,1296,0,0,0
2109,경기시내,(주)화성여객,4108600,233000265,41086014,4403,True,29,0,0,0
2110,경기시내,(주)화성여객,4108600,233000266,41086015,6003,True,267,0,0,0
2112,경기시내,(주)화성여객,4108600,234000314,41003015,1560,True,46,0,0,0
2113,경기시내,(주)화성여객,4108600,234001568,41086008,721,True,3687,0,0,0
2114,경기시내,(주)화성여객,4108600,234001570,41086011,116-2,True,4904,0,0,0

일반인(1)의 버스노선ID2

In [25]:
p_1_id2 = new_TripChain_1['버스노선ID2']
for i in p_1_id2:
    if i in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == i, 'p_1'] += 1
Route_Mapping

,구분,운수사명,운수사ID,이비노선ID,표준노선ID,노선명,isHwasung,p_1,p_2,p_4,p_8
53,경기시내,경기고속,4100200,234000068,41002090,720-3,True,19531,0,0,0
759,경기시내,경남여객,4100600,228000204,41006281,24,True,335,0,0,0
862,경기시내,경진여객,4100800,233000010,41008001,33-1,True,231,0,0,0
863,경기시내,경진여객,4100800,233000013,41008101,2,True,2,0,0,0
864,경기시내,경진여객,4100800,233000015,41008103,4,True,4,0,0,0
865,경기시내,경진여객,4100800,233000019,41008110,5-2,True,2,0,0,0
866,경기시내,경진여객,4100800,233000021,41008112,5-4,True,1,0,0,0
867,경기시내,경진여객,4100800,233000022,41008115,15,True,0,0,0,0
868,경기시내,경진여객,4100800,233000024,41008114,14,True,0,0,0,0
869,경기시내,경진여객,4100800,233000025,41008105,9,True,3,0,0,0
870,경기시내,경진여객,4100800,233000026,41008117,19,True,2,0,0,0
871,경기시내,경진여객,4100800,233000027,41008108,3-1,True,0,0,0,0
872,경기시내,경진여객,4100800,233000028,41008102,3,True,3,0,0,0
873,경기시내,경진여객,4100800,233000029,41008107,2-4,True,0,0,0,0
874,경기시내,경진여객,4100800,233000030,41008106,2-3,True,0,0,0,0
877,경기시내,경진여객,4100800,233000034,41008118,16,True,1,0,0,0
878,경기시내,경진여객,4100800,233000035,41008119,2-2,True,2,0,0,0
879,경기시내,경진여객,4100800,233000036,41008120,18,True,0,0,0,0
880,경기시내,경진여객,4100800,233000038,41008122,4-1,True,0,0,0,0
881,경기시내,경진여객,4100800,233000040,41008124,6,True,23,0,0,0
882,경기시내,경진여객,4100800,233000041,41008125,11,True,22,0,0,0
883,경기시내,경진여객,4100800,233000043,41008126,6-2,True,4,0,0,0
884,경기시내,경진여객,4100800,233000044,41008127,17,True,0,0,0,0
885,경기시내,경진여객,4100800,233000045,41008128,6-3,True,4,0,0,0
886,경기시내,경진여객,4100800,233000046,41008129,8,True,0,0,0,0
887,경기시내,경진여객,4100800,233000047,41008130,8-3,True,0,0,0,0
888,경기시내,경진여객,4100800,233000048,41008131,1,True,2,0,0,0
889,경기시내,경진여객,4100800,233000049,41008132,8-2,True,0,0,0,0
890,경기시내,경진여객,4100800,233000051,41008133,1-1,True,0,0,0,0
891,경기시내,경진여객,4100800,233000052,41008134,2-1,True,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
912,경기시내,경진여객,4100800,233000258,41008171,8156,True,476,0,0,0
1908,경기시내,제부여객,4106100,233000004,41037102,1004,True,903,0,0,0
1909,경기시내,제부여객,4106100,233000005,41037001,330,True,279,0,0,0
1910,경기시내,제부여객,4106100,233000067,41037109,1004-1,True,73,0,0,0
1911,경기시내,제부여객,4106100,233000075,41037106,340,True,425,0,0,0
1912,경기시내,제부여객,4106100,233000077,41037113,1000,True,387,0,0,0
1913,경기시내,제부여객,4106100,233000084,41037114,330-1,True,0,0,0,0
1914,경기시내,제부여객,4106100,233000117,41061018,340-1,True,193,0,0,0
1915,경기시내,제부여객,4106100,233000125,41061020,1008,True,124,0,0,0
1916,경기시내,제부여객,4106100,233000134,41061022,1001,True,1091,0,0,0
1917,경기시내,제부여객,4106100,233000140,41061024,1002,True,32,0,0,0
1919,경기시내,제부여객,4106100,233000253,41061027,150,True,2750,0,0,0
2026,경기시내,화성운수,4107500,233000128,41075031,712,True,3926,0,0,0
2027,경기시내,화성운수,4107500,233000130,41075017,73-1,True,3294,0,0,0
2029,경기시내,화성운수,4107500,233000252,41075030,710,True,831,0,0,0
2031,경기시내,화성운수,4107500,233000263,41075034,2000A,True,7,0,0,0
2032,경기시내,화성운수,4107500,233000264,41075035,2000B,True,12,0,0,0
2101,경기시내,(주)화성여객,4108600,233000131,41086001,6001,True,360,0,0,0
2102,경기시내,(주)화성여객,4108600,233000133,41086002,116-3,True,11525,0,0,0
2103,경기시내,(주)화성여객,4108600,233000135,41086005,8501,True,3982,0,0,0
2104,경기시내,(주)화성여객,4108600,233000136,41086004,6002,True,728,0,0,0
2105,경기시내,(주)화성여객,4108600,233000141,41086009,201,True,865,0,0,0
2106,경기시내,(주)화성여객,4108600,233000142,41086010,6002-1,True,6,0,0,0
2107,경기시내,(주)화성여객,4108600,233000144,41086012,202,True,1335,0,0,0
2108,경기시내,(주)화성여객,4108600,233000254,41086013,203,True,1982,0,0,0
2109,경기시내,(주)화성여객,4108600,233000265,41086014,4403,True,193,0,0,0
2110,경기시내,(주)화성여객,4108600,233000266,41086015,6003,True,807,0,0,0
2112,경기시내,(주)화성여객,4108600,234000314,41003015,1560,True,166,0,0,0
2113,경기시내,(주)화성여객,4108600,234001568,41086008,721,True,5669,0,0,0
2114,경기시내,(주)화성여객,4108600,234001570,41086011,116-2,True,6460,0,0,0

일반인(1)의 버스노선ID3~5

In [26]:
p_1_id3 = new_TripChain_1['버스노선ID3']
for i in p_1_id3:
    if i in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == i, 'p_1'] += 1

p_1_id4 = new_TripChain_1['버스노선ID4']
for i in p_1_id4:
    if i in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == i, 'p_1'] += 1

p_1_id5 = new_TripChain_1['버스노선ID5']
for i in p_1_id5:
    if i in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == i, 'p_1'] += 1
Route_Mapping

,구분,운수사명,운수사ID,이비노선ID,표준노선ID,노선명,isHwasung,p_1,p_2,p_4,p_8
53,경기시내,경기고속,4100200,234000068,41002090,720-3,True,20430,0,0,0
759,경기시내,경남여객,4100600,228000204,41006281,24,True,369,0,0,0
862,경기시내,경진여객,4100800,233000010,41008001,33-1,True,277,0,0,0
863,경기시내,경진여객,4100800,233000013,41008101,2,True,4,0,0,0
864,경기시내,경진여객,4100800,233000015,41008103,4,True,7,0,0,0
865,경기시내,경진여객,4100800,233000019,41008110,5-2,True,2,0,0,0
866,경기시내,경진여객,4100800,233000021,41008112,5-4,True,1,0,0,0
867,경기시내,경진여객,4100800,233000022,41008115,15,True,0,0,0,0
868,경기시내,경진여객,4100800,233000024,41008114,14,True,0,0,0,0
869,경기시내,경진여객,4100800,233000025,41008105,9,True,3,0,0,0
870,경기시내,경진여객,4100800,233000026,41008117,19,True,6,0,0,0
871,경기시내,경진여객,4100800,233000027,41008108,3-1,True,0,0,0,0
872,경기시내,경진여객,4100800,233000028,41008102,3,True,5,0,0,0
873,경기시내,경진여객,4100800,233000029,41008107,2-4,True,0,0,0,0
874,경기시내,경진여객,4100800,233000030,41008106,2-3,True,0,0,0,0
877,경기시내,경진여객,4100800,233000034,41008118,16,True,1,0,0,0
878,경기시내,경진여객,4100800,233000035,41008119,2-2,True,2,0,0,0
879,경기시내,경진여객,4100800,233000036,41008120,18,True,0,0,0,0
880,경기시내,경진여객,4100800,233000038,41008122,4-1,True,0,0,0,0
881,경기시내,경진여객,4100800,233000040,41008124,6,True,23,0,0,0
882,경기시내,경진여객,4100800,233000041,41008125,11,True,30,0,0,0
883,경기시내,경진여객,4100800,233000043,41008126,6-2,True,4,0,0,0
884,경기시내,경진여객,4100800,233000044,41008127,17,True,0,0,0,0
885,경기시내,경진여객,4100800,233000045,41008128,6-3,True,4,0,0,0
886,경기시내,경진여객,4100800,233000046,41008129,8,True,0,0,0,0
887,경기시내,경진여객,4100800,233000047,41008130,8-3,True,0,0,0,0
888,경기시내,경진여객,4100800,233000048,41008131,1,True,5,0,0,0
889,경기시내,경진여객,4100800,233000049,41008132,8-2,True,0,0,0,0
890,경기시내,경진여객,4100800,233000051,41008133,1-1,True,4,0,0,0
891,경기시내,경진여객,4100800,233000052,41008134,2-1,True,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
912,경기시내,경진여객,4100800,233000258,41008171,8156,True,521,0,0,0
1908,경기시내,제부여객,4106100,233000004,41037102,1004,True,978,0,0,0
1909,경기시내,제부여객,4106100,233000005,41037001,330,True,324,0,0,0
1910,경기시내,제부여객,4106100,233000067,41037109,1004-1,True,85,0,0,0
1911,경기시내,제부여객,4106100,233000075,41037106,340,True,458,0,0,0
1912,경기시내,제부여객,4106100,233000077,41037113,1000,True,405,0,0,0
1913,경기시내,제부여객,4106100,233000084,41037114,330-1,True,3,0,0,0
1914,경기시내,제부여객,4106100,233000117,41061018,340-1,True,234,0,0,0
1915,경기시내,제부여객,4106100,233000125,41061020,1008,True,138,0,0,0
1916,경기시내,제부여객,4106100,233000134,41061022,1001,True,1144,0,0,0
1917,경기시내,제부여객,4106100,233000140,41061024,1002,True,33,0,0,0
1919,경기시내,제부여객,4106100,233000253,41061027,150,True,2862,0,0,0
2026,경기시내,화성운수,4107500,233000128,41075031,712,True,4194,0,0,0
2027,경기시내,화성운수,4107500,233000130,41075017,73-1,True,3474,0,0,0
2029,경기시내,화성운수,4107500,233000252,41075030,710,True,892,0,0,0
2031,경기시내,화성운수,4107500,233000263,41075034,2000A,True,13,0,0,0
2032,경기시내,화성운수,4107500,233000264,41075035,2000B,True,15,0,0,0
2101,경기시내,(주)화성여객,4108600,233000131,41086001,6001,True,377,0,0,0
2102,경기시내,(주)화성여객,4108600,233000133,41086002,116-3,True,11988,0,0,0
2103,경기시내,(주)화성여객,4108600,233000135,41086005,8501,True,4069,0,0,0
2104,경기시내,(주)화성여객,4108600,233000136,41086004,6002,True,771,0,0,0
2105,경기시내,(주)화성여객,4108600,233000141,41086009,201,True,925,0,0,0
2106,경기시내,(주)화성여객,4108600,233000142,41086010,6002-1,True,6,0,0,0
2107,경기시내,(주)화성여객,4108600,233000144,41086012,202,True,1422,0,0,0
2108,경기시내,(주)화성여객,4108600,233000254,41086013,203,True,2085,0,0,0
2109,경기시내,(주)화성여객,4108600,233000265,41086014,4403,True,200,0,0,0
2110,경기시내,(주)화성여객,4108600,233000266,41086015,6003,True,827,0,0,0
2112,경기시내,(주)화성여객,4108600,234000314,41003015,1560,True,202,0,0,0
2113,경기시내,(주)화성여객,4108600,234001568,41086008,721,True,5968,0,0,0
2114,경기시내,(주)화성여객,4108600,234001570,41086011,116-2,True,6677,0,0,0

어린이(2) 의 버스노선ID1~5

In [27]:
new_TripChain_2 = TripChain[TripChain['사용자구분']==2]
new_TripChain_2.shape

(6292, 51)

In [28]:
p_2_id1 = new_TripChain_2['버스노선ID1']
for i in p_2_id1:
    if i in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == i, 'p_2'] += 1

p_2_id2 = new_TripChain_2['버스노선ID2']
for i in p_2_id2:
    if i in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == i, 'p_2'] += 1

p_2_id3 = new_TripChain_2['버스노선ID3']
for i in p_2_id3:
    if i in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == i, 'p_2'] += 1

p_2_id4 = new_TripChain_2['버스노선ID4']
for i in p_2_id4:
    if i in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == i, 'p_2'] += 1

p_2_id5 = new_TripChain_2['버스노선ID5']
for i in p_2_id5:
    if i in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == i, 'p_2'] += 1

In [29]:
Route_Mapping

,구분,운수사명,운수사ID,이비노선ID,표준노선ID,노선명,isHwasung,p_1,p_2,p_4,p_8
53,경기시내,경기고속,4100200,234000068,41002090,720-3,True,20430,68,0,0
759,경기시내,경남여객,4100600,228000204,41006281,24,True,369,0,0,0
862,경기시내,경진여객,4100800,233000010,41008001,33-1,True,277,0,0,0
863,경기시내,경진여객,4100800,233000013,41008101,2,True,4,0,0,0
864,경기시내,경진여객,4100800,233000015,41008103,4,True,7,0,0,0
865,경기시내,경진여객,4100800,233000019,41008110,5-2,True,2,0,0,0
866,경기시내,경진여객,4100800,233000021,41008112,5-4,True,1,0,0,0
867,경기시내,경진여객,4100800,233000022,41008115,15,True,0,0,0,0
868,경기시내,경진여객,4100800,233000024,41008114,14,True,0,0,0,0
869,경기시내,경진여객,4100800,233000025,41008105,9,True,3,0,0,0
870,경기시내,경진여객,4100800,233000026,41008117,19,True,6,0,0,0
871,경기시내,경진여객,4100800,233000027,41008108,3-1,True,0,0,0,0
872,경기시내,경진여객,4100800,233000028,41008102,3,True,5,0,0,0
873,경기시내,경진여객,4100800,233000029,41008107,2-4,True,0,0,0,0
874,경기시내,경진여객,4100800,233000030,41008106,2-3,True,0,0,0,0
877,경기시내,경진여객,4100800,233000034,41008118,16,True,1,0,0,0
878,경기시내,경진여객,4100800,233000035,41008119,2-2,True,2,0,0,0
879,경기시내,경진여객,4100800,233000036,41008120,18,True,0,0,0,0
880,경기시내,경진여객,4100800,233000038,41008122,4-1,True,0,0,0,0
881,경기시내,경진여객,4100800,233000040,41008124,6,True,23,0,0,0
882,경기시내,경진여객,4100800,233000041,41008125,11,True,30,0,0,0
883,경기시내,경진여객,4100800,233000043,41008126,6-2,True,4,0,0,0
884,경기시내,경진여객,4100800,233000044,41008127,17,True,0,0,0,0
885,경기시내,경진여객,4100800,233000045,41008128,6-3,True,4,0,0,0
886,경기시내,경진여객,4100800,233000046,41008129,8,True,0,0,0,0
887,경기시내,경진여객,4100800,233000047,41008130,8-3,True,0,0,0,0
888,경기시내,경진여객,4100800,233000048,41008131,1,True,5,0,0,0
889,경기시내,경진여객,4100800,233000049,41008132,8-2,True,0,0,0,0
890,경기시내,경진여객,4100800,233000051,41008133,1-1,True,4,0,0,0
891,경기시내,경진여객,4100800,233000052,41008134,2-1,True,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
912,경기시내,경진여객,4100800,233000258,41008171,8156,True,521,0,0,0
1908,경기시내,제부여객,4106100,233000004,41037102,1004,True,978,1,0,0
1909,경기시내,제부여객,4106100,233000005,41037001,330,True,324,0,0,0
1910,경기시내,제부여객,4106100,233000067,41037109,1004-1,True,85,0,0,0
1911,경기시내,제부여객,4106100,233000075,41037106,340,True,458,3,0,0
1912,경기시내,제부여객,4106100,233000077,41037113,1000,True,405,9,0,0
1913,경기시내,제부여객,4106100,233000084,41037114,330-1,True,3,0,0,0
1914,경기시내,제부여객,4106100,233000117,41061018,340-1,True,234,0,0,0
1915,경기시내,제부여객,4106100,233000125,41061020,1008,True,138,0,0,0
1916,경기시내,제부여객,4106100,233000134,41061022,1001,True,1144,2,0,0
1917,경기시내,제부여객,4106100,233000140,41061024,1002,True,33,1,0,0
1919,경기시내,제부여객,4106100,233000253,41061027,150,True,2862,13,0,0
2026,경기시내,화성운수,4107500,233000128,41075031,712,True,4194,16,0,0
2027,경기시내,화성운수,4107500,233000130,41075017,73-1,True,3474,25,0,0
2029,경기시내,화성운수,4107500,233000252,41075030,710,True,892,7,0,0
2031,경기시내,화성운수,4107500,233000263,41075034,2000A,True,13,0,0,0
2032,경기시내,화성운수,4107500,233000264,41075035,2000B,True,15,0,0,0
2101,경기시내,(주)화성여객,4108600,233000131,41086001,6001,True,377,0,0,0
2102,경기시내,(주)화성여객,4108600,233000133,41086002,116-3,True,11988,47,0,0
2103,경기시내,(주)화성여객,4108600,233000135,41086005,8501,True,4069,3,0,0
2104,경기시내,(주)화성여객,4108600,233000136,41086004,6002,True,771,0,0,0
2105,경기시내,(주)화성여객,4108600,233000141,41086009,201,True,925,10,0,0
2106,경기시내,(주)화성여객,4108600,233000142,41086010,6002-1,True,6,0,0,0
2107,경기시내,(주)화성여객,4108600,233000144,41086012,202,True,1422,1,0,0
2108,경기시내,(주)화성여객,4108600,233000254,41086013,203,True,2085,8,0,0
2109,경기시내,(주)화성여객,4108600,233000265,41086014,4403,True,200,0,0,0
2110,경기시내,(주)화성여객,4108600,233000266,41086015,6003,True,827,0,0,0
2112,경기시내,(주)화성여객,4108600,234000314,41003015,1560,True,202,0,0,0
2113,경기시내,(주)화성여객,4108600,234001568,41086008,721,True,5968,21,0,0
2114,경기시내,(주)화성여객,4108600,234001570,41086011,116-2,True,6677,40,0,0

청소년(4)의 버스노선ID1~5

In [30]:
new_TripChain_4 = TripChain[TripChain['사용자구분']==4]
new_TripChain_4.shape

(96370, 51)

In [31]:
p_4_id1 = new_TripChain_4['버스노선ID1']
for i in p_4_id1:
    if i in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == i, 'p_4'] += 1

p_4_id2 = new_TripChain_2['버스노선ID2']
for i in p_4_id2:
    if i in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == i, 'p_4'] += 1

p_4_id3 = new_TripChain_2['버스노선ID3']
for i in p_4_id3:
    if i in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == i, 'p_4'] += 1

p_4_id4 = new_TripChain_2['버스노선ID4']
for i in p_4_id4:
    if i in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == i, 'p_4'] += 1

p_4_id5 = new_TripChain_2['버스노선ID5']
for i in p_4_id5:
    if i in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == i, 'p_4'] += 1

In [113]:
Route_Mapping

,구분,운수사명,운수사ID,이비노선ID,표준노선ID,노선명,isHwasung,p_1,p_2,p_4,p_8
53,경기시내,경기고속,4100200,234000068,41002090,720-3,True,17211,68,899,0
759,경기시내,경남여객,4100600,228000204,41006281,24,True,266,0,13,0
862,경기시내,경진여객,4100800,233000010,41008001,33-1,True,203,0,15,0
863,경기시내,경진여객,4100800,233000013,41008101,2,True,4,0,0,0
864,경기시내,경진여객,4100800,233000015,41008103,4,True,7,0,0,0
865,경기시내,경진여객,4100800,233000019,41008110,5-2,True,2,0,0,0
866,경기시내,경진여객,4100800,233000021,41008112,5-4,True,1,0,0,0
867,경기시내,경진여객,4100800,233000022,41008115,15,True,0,0,2,0
868,경기시내,경진여객,4100800,233000024,41008114,14,True,0,0,0,0
869,경기시내,경진여객,4100800,233000025,41008105,9,True,3,0,0,0
870,경기시내,경진여객,4100800,233000026,41008117,19,True,6,0,0,0
871,경기시내,경진여객,4100800,233000027,41008108,3-1,True,0,0,0,0
872,경기시내,경진여객,4100800,233000028,41008102,3,True,5,0,0,0
873,경기시내,경진여객,4100800,233000029,41008107,2-4,True,0,0,0,0
874,경기시내,경진여객,4100800,233000030,41008106,2-3,True,0,0,0,0
877,경기시내,경진여객,4100800,233000034,41008118,16,True,1,0,0,0
878,경기시내,경진여객,4100800,233000035,41008119,2-2,True,2,0,0,0
879,경기시내,경진여객,4100800,233000036,41008120,18,True,0,0,0,0
880,경기시내,경진여객,4100800,233000038,41008122,4-1,True,0,0,0,0
881,경기시내,경진여객,4100800,233000040,41008124,6,True,23,0,1,0
882,경기시내,경진여객,4100800,233000041,41008125,11,True,19,0,0,0
883,경기시내,경진여객,4100800,233000043,41008126,6-2,True,4,0,0,0
884,경기시내,경진여객,4100800,233000044,41008127,17,True,0,0,0,0
885,경기시내,경진여객,4100800,233000045,41008128,6-3,True,4,0,0,0
886,경기시내,경진여객,4100800,233000046,41008129,8,True,0,0,0,0
887,경기시내,경진여객,4100800,233000047,41008130,8-3,True,0,0,0,0
888,경기시내,경진여객,4100800,233000048,41008131,1,True,5,0,0,0
889,경기시내,경진여객,4100800,233000049,41008132,8-2,True,0,0,0,0
890,경기시내,경진여객,4100800,233000051,41008133,1-1,True,4,0,0,0
891,경기시내,경진여객,4100800,233000052,41008134,2-1,True,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
912,경기시내,경진여객,4100800,233000258,41008171,8156,True,313,0,3,0
1908,경기시내,제부여객,4106100,233000004,41037102,1004,True,662,1,40,0
1909,경기시내,제부여객,4106100,233000005,41037001,330,True,219,0,8,0
1910,경기시내,제부여객,4106100,233000067,41037109,1004-1,True,60,0,1,0
1911,경기시내,제부여객,4106100,233000075,41037106,340,True,402,3,62,0
1912,경기시내,제부여객,4106100,233000077,41037113,1000,True,355,9,49,0
1913,경기시내,제부여객,4106100,233000084,41037114,330-1,True,3,0,0,0
1914,경기시내,제부여객,4106100,233000117,41061018,340-1,True,166,0,0,0
1915,경기시내,제부여객,4106100,233000125,41061020,1008,True,90,0,1,0
1916,경기시내,제부여객,4106100,233000134,41061022,1001,True,973,2,134,0
1917,경기시내,제부여객,4106100,233000140,41061024,1002,True,21,1,1,0
1919,경기시내,제부여객,4106100,233000253,41061027,150,True,2362,13,54,0
2026,경기시내,화성운수,4107500,233000128,41075031,712,True,3412,16,144,0
2027,경기시내,화성운수,4107500,233000130,41075017,73-1,True,2845,25,355,0
2029,경기시내,화성운수,4107500,233000252,41075030,710,True,748,7,95,0
2031,경기시내,화성운수,4107500,233000263,41075034,2000A,True,10,0,1,0
2032,경기시내,화성운수,4107500,233000264,41075035,2000B,True,14,0,0,0
2101,경기시내,(주)화성여객,4108600,233000131,41086001,6001,True,233,0,3,0
2102,경기시내,(주)화성여객,4108600,233000133,41086002,116-3,True,10027,47,713,0
2103,경기시내,(주)화성여객,4108600,233000135,41086005,8501,True,3342,3,91,0
2104,경기시내,(주)화성여객,4108600,233000136,41086004,6002,True,467,0,5,0
2105,경기시내,(주)화성여객,4108600,233000141,41086009,201,True,798,10,144,0
2106,경기시내,(주)화성여객,4108600,233000142,41086010,6002-1,True,3,0,0,0
2107,경기시내,(주)화성여객,4108600,233000144,41086012,202,True,1145,1,76,0
2108,경기시내,(주)화성여객,4108600,233000254,41086013,203,True,1742,8,54,0
2109,경기시내,(주)화성여객,4108600,233000265,41086014,4403,True,118,0,0,0
2110,경기시내,(주)화성여객,4108600,233000266,41086015,6003,True,557,0,0,0
2112,경기시내,(주)화성여객,4108600,234000314,41003015,1560,True,142,0,3,0
2113,경기시내,(주)화성여객,4108600,234001568,41086008,721,True,4977,21,435,0
2114,경기시내,(주)화성여객,4108600,234001570,41086011,116-2,True,5899,40,580,0

경로(8)의 버스노선ID1~5

In [114]:
new_TripChain_8 = TripChain[TripChain['사용자구분']==8]
new_TripChain_8.shape

(2615, 51)

In [115]:
p_8_id1 = new_TripChain_8['버스노선ID1']
for i in p_8_id1:
    if i in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == i, 'p_8'] += 1

p_8_id2 = new_TripChain_2['버스노선ID2']
for i in p_8_id2:
    if i in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == i, 'p_8'] += 1

p_8_id3 = new_TripChain_2['버스노선ID3']
for i in p_8_id3:
    if i in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == i, 'p_8'] += 1

p_8_id4 = new_TripChain_2['버스노선ID4']
for i in p_8_id4:
    if i in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == i, 'p_8'] += 1

p_8_id5 = new_TripChain_2['버스노선ID5']
for i in p_8_id5:
    if i in normal_id_h:
        Route_Mapping.loc[Route_Mapping['표준노선ID'] == i, 'p_8'] += 1
Route_Mapping

,구분,운수사명,운수사ID,이비노선ID,표준노선ID,노선명,isHwasung,p_1,p_2,p_4,p_8
53,경기시내,경기고속,4100200,234000068,41002090,720-3,True,17211,68,899,48
759,경기시내,경남여객,4100600,228000204,41006281,24,True,266,0,13,0
862,경기시내,경진여객,4100800,233000010,41008001,33-1,True,203,0,15,0
863,경기시내,경진여객,4100800,233000013,41008101,2,True,4,0,0,0
864,경기시내,경진여객,4100800,233000015,41008103,4,True,7,0,0,0
865,경기시내,경진여객,4100800,233000019,41008110,5-2,True,2,0,0,0
866,경기시내,경진여객,4100800,233000021,41008112,5-4,True,1,0,0,0
867,경기시내,경진여객,4100800,233000022,41008115,15,True,0,0,2,0
868,경기시내,경진여객,4100800,233000024,41008114,14,True,0,0,0,0
869,경기시내,경진여객,4100800,233000025,41008105,9,True,3,0,0,0
870,경기시내,경진여객,4100800,233000026,41008117,19,True,6,0,0,0
871,경기시내,경진여객,4100800,233000027,41008108,3-1,True,0,0,0,0
872,경기시내,경진여객,4100800,233000028,41008102,3,True,5,0,0,0
873,경기시내,경진여객,4100800,233000029,41008107,2-4,True,0,0,0,0
874,경기시내,경진여객,4100800,233000030,41008106,2-3,True,0,0,0,0
877,경기시내,경진여객,4100800,233000034,41008118,16,True,1,0,0,0
878,경기시내,경진여객,4100800,233000035,41008119,2-2,True,2,0,0,0
879,경기시내,경진여객,4100800,233000036,41008120,18,True,0,0,0,0
880,경기시내,경진여객,4100800,233000038,41008122,4-1,True,0,0,0,0
881,경기시내,경진여객,4100800,233000040,41008124,6,True,23,0,1,0
882,경기시내,경진여객,4100800,233000041,41008125,11,True,19,0,0,0
883,경기시내,경진여객,4100800,233000043,41008126,6-2,True,4,0,0,0
884,경기시내,경진여객,4100800,233000044,41008127,17,True,0,0,0,0
885,경기시내,경진여객,4100800,233000045,41008128,6-3,True,4,0,0,0
886,경기시내,경진여객,4100800,233000046,41008129,8,True,0,0,0,0
887,경기시내,경진여객,4100800,233000047,41008130,8-3,True,0,0,0,0
888,경기시내,경진여객,4100800,233000048,41008131,1,True,5,0,0,0
889,경기시내,경진여객,4100800,233000049,41008132,8-2,True,0,0,0,0
890,경기시내,경진여객,4100800,233000051,41008133,1-1,True,4,0,0,0
891,경기시내,경진여객,4100800,233000052,41008134,2-1,True,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
912,경기시내,경진여객,4100800,233000258,41008171,8156,True,313,0,3,0
1908,경기시내,제부여객,4106100,233000004,41037102,1004,True,662,1,40,0
1909,경기시내,제부여객,4106100,233000005,41037001,330,True,219,0,8,0
1910,경기시내,제부여객,4106100,233000067,41037109,1004-1,True,60,0,1,0
1911,경기시내,제부여객,4106100,233000075,41037106,340,True,402,3,62,4
1912,경기시내,제부여객,4106100,233000077,41037113,1000,True,355,9,49,2
1913,경기시내,제부여객,4106100,233000084,41037114,330-1,True,3,0,0,0
1914,경기시내,제부여객,4106100,233000117,41061018,340-1,True,166,0,0,0
1915,경기시내,제부여객,4106100,233000125,41061020,1008,True,90,0,1,0
1916,경기시내,제부여객,4106100,233000134,41061022,1001,True,973,2,134,4
1917,경기시내,제부여객,4106100,233000140,41061024,1002,True,21,1,1,1
1919,경기시내,제부여객,4106100,233000253,41061027,150,True,2362,13,54,5
2026,경기시내,화성운수,4107500,233000128,41075031,712,True,3412,16,144,30
2027,경기시내,화성운수,4107500,233000130,41075017,73-1,True,2845,25,355,20
2029,경기시내,화성운수,4107500,233000252,41075030,710,True,748,7,95,1
2031,경기시내,화성운수,4107500,233000263,41075034,2000A,True,10,0,1,0
2032,경기시내,화성운수,4107500,233000264,41075035,2000B,True,14,0,0,0
2101,경기시내,(주)화성여객,4108600,233000131,41086001,6001,True,233,0,3,0
2102,경기시내,(주)화성여객,4108600,233000133,41086002,116-3,True,10027,47,713,34
2103,경기시내,(주)화성여객,4108600,233000135,41086005,8501,True,3342,3,91,1
2104,경기시내,(주)화성여객,4108600,233000136,41086004,6002,True,467,0,5,0
2105,경기시내,(주)화성여객,4108600,233000141,41086009,201,True,798,10,144,2
2106,경기시내,(주)화성여객,4108600,233000142,41086010,6002-1,True,3,0,0,0
2107,경기시내,(주)화성여객,4108600,233000144,41086012,202,True,1145,1,76,0
2108,경기시내,(주)화성여객,4108600,233000254,41086013,203,True,1742,8,54,4
2109,경기시내,(주)화성여객,4108600,233000265,41086014,4403,True,118,0,0,0
2110,경기시내,(주)화성여객,4108600,233000266,41086015,6003,True,557,0,0,0
2112,경기시내,(주)화성여객,4108600,234000314,41003015,1560,True,142,0,3,0
2113,경기시내,(주)화성여객,4108600,234001568,41086008,721,True,4977,21,435,15
2114,경기시내,(주)화성여객,4108600,234001570,41086011,116-2,True,5899,40,580,17

In [35]:
sor = Route_Mapping.sort_values(['p_1', 'p_4'], ascending=[False, False])

In [38]:
sor.to_csv('hwasung_routemapping.csv')

In [39]:
t = pd.read_csv('hwasung_routemapping.csv')

In [42]:
sorted_route_mapping[40:]

,Unnamed: 0,구분,운수사명,운수사ID,이비노선ID,표준노선ID,노선명,isHwasung,p_1,p_2,p_4,p_8
40,894,경기시내,경진여객,4100800,233000058,41008140,7,True,9,0,3,0
41,907,경기시내,경진여객,4100800,233000095,41008156,26,True,8,0,0,0
42,864,경기시내,경진여객,4100800,233000015,41008103,4,True,7,0,0,0
43,870,경기시내,경진여객,4100800,233000026,41008117,19,True,6,0,0,0
44,2106,경기시내,(주)화성여객,4108600,233000142,41086010,6002-1,True,6,0,0,0
45,872,경기시내,경진여객,4100800,233000028,41008102,3,True,5,0,0,0
46,888,경기시내,경진여객,4100800,233000048,41008131,1,True,5,0,0,0
47,863,경기시내,경진여객,4100800,233000013,41008101,2,True,4,0,0,0
48,883,경기시내,경진여객,4100800,233000043,41008126,6-2,True,4,0,0,0
49,885,경기시내,경진여객,4100800,233000045,41008128,6-3,True,4,0,0,0
50,890,경기시내,경진여객,4100800,233000051,41008133,1-1,True,4,0,0,0
51,869,경기시내,경진여객,4100800,233000025,41008105,9,True,3,0,0,0
52,1913,경기시내,제부여객,4106100,233000084,41037114,330-1,True,3,0,0,0
53,865,경기시내,경진여객,4100800,233000019,41008110,5-2,True,2,0,0,0
54,878,경기시내,경진여객,4100800,233000035,41008119,2-2,True,2,0,0,0
55,896,경기시내,경진여객,4100800,233000060,41008142,11-2,True,2,0,0,0
56,866,경기시내,경진여객,4100800,233000021,41008112,5-4,True,1,0,0,0
57,877,경기시내,경진여객,4100800,233000034,41008118,16,True,1,0,0,0
58,891,경기시내,경진여객,4100800,233000052,41008134,2-1,True,1,0,0,0
59,899,경기시내,경진여객,4100800,233000079,41008145,20,True,1,0,0,0
60,867,경기시내,경진여객,4100800,233000022,41008115,15,True,0,0,2,0
61,868,경기시내,경진여객,4100800,233000024,41008114,14,True,0,0,0,0
62,871,경기시내,경진여객,4100800,233000027,41008108,3-1,True,0,0,0,0
63,873,경기시내,경진여객,4100800,233000029,41008107,2-4,True,0,0,0,0
64,874,경기시내,경진여객,4100800,233000030,41008106,2-3,True,0,0,0,0
65,879,경기시내,경진여객,4100800,233000036,41008120,18,True,0,0,0,0
66,880,경기시내,경진여객,4100800,233000038,41008122,4-1,True,0,0,0,0
67,884,경기시내,경진여객,4100800,233000044,41008127,17,True,0,0,0,0
68,886,경기시내,경진여객,4100800,233000046,41008129,8,True,0,0,0,0
69,887,경기시내,경진여객,4100800,233000047,41008130,8-3,True,0,0,0,0
70,889,경기시내,경진여객,4100800,233000049,41008132,8-2,True,0,0,0,0
71,892,경기시내,경진여객,4100800,233000056,41008138,7-1,True,0,0,0,0
72,893,경기시내,경진여객,4100800,233000057,41008139,8-1,True,0,0,0,0
73,901,경기시내,경진여객,4100800,233000081,41008147,24,True,0,0,0,0
74,903,경기시내,경진여객,4100800,233000085,41008150,23,True,0,0,0,0
75,906,경기시내,경진여객,4100800,233000094,41008155,25,True,0,0,0,0
76,908,경기시내,경진여객,4100800,233000096,41008157,27,True,0,0,0,0

In [ ]:
# 시간별 
# 1. 7시에 사람들이 얼마나 타는지
# 2. 노선별 탑 10개
# 
time_시간별.ipynb

내가 할 일
```
1. folium으로 상위 5개 노선 한번에 그리고 저장
2. 전체적으로 화성버스를 타는 성인/어린이/청소년/노인 수 확인
```

In [45]:
TripChain['승차일시1'] = pd.to_datetime(TripChain['승차일시1'], format='%Y%m%d%H%M%S')
TripChain['승차일시2'] = pd.to_datetime(TripChain['승차일시2'], format='%Y%m%d%H%M%S')
TripChain['승차일시3'] = pd.to_datetime(TripChain['승차일시3'], format='%Y%m%d%H%M%S')
TripChain['승차일시4'] = pd.to_datetime(TripChain['승차일시4'], format='%Y%m%d%H%M%S')
TripChain['승차일시5'] = pd.to_datetime(TripChain['승차일시5'], format='%Y%m%d%H%M%S')
TripChain['하차일시1'] = pd.to_datetime(TripChain['하차일시1'], format='%Y%m%d%H%M%S')
TripChain['하차일시2'] = pd.to_datetime(TripChain['하차일시2'], format='%Y%m%d%H%M%S')
TripChain['하차일시3'] = pd.to_datetime(TripChain['하차일시3'], format='%Y%m%d%H%M%S')
TripChain['하차일시4'] = pd.to_datetime(TripChain['하차일시4'], format='%Y%m%d%H%M%S')
TripChain['하차일시5'] = pd.to_datetime(TripChain['하차일시5'], format='%Y%m%d%H%M%S')

In [52]:
day_hash = {'1': 0, '2': 0, '3':0, '4':0, 'nan':0}


for a in range(len(TripChain)):
    tmp = str(TripChain['승차일시1'][a].day)
    day_hash[tmp] += 1

In [53]:
day_hash

{'1': 181021, '2': 365018, '3': 404486, '4': 98016, 'nan': 34}

In [ ]:
2606개중 1123개가 없음!!(성보님이 보내주신 사진 이용)

In [8]:
RouteStationMapping.shape

NameError: name 'All_bus_id' is not defined